﻿<!-- Modal -->
<div id="linksModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Links</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="free-resource-form" role="form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="LinkTitle" class="col-sm-2 control-label">Link Title</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="LinkTitle" name="LinkTitle" placeholder="Link Title"><div class="form-control-line"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="LinkUrl" class="col-sm-2 control-label">Link URL</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="LinkUrl" name="LinkUrl" placeholder="Link URL"><div class="form-control-line"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fileUpload" class="col-sm-2 control-label">Upload Document</label>
                        <div class="col-sm-8">
                            <input type="file" class="form-control" id="fileUpload" name="fileUpload"><div class="form-control-line"></div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
