﻿
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LA.cshtml";
}

<div id="content">
    <section>
        <div class="section-header">
            <ol class="breadcrumb">
                <li>Home</li>
                <li class="active">Add Free Resource</li>
            </ol>
        </div>
        <div class="section-body contain-lg">
            <!-- BEGIN DEFAULT TABLE -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-underline">
                        <div class="card-head">
                            <header class="text-default-dark">Add Free Resource</header>
                            <div class="tools">
                                <div class="btn-group">
                                    <div class="btn-group">
                                        <a class="btn btn-info btn-sm" href="@Url.Content("~/notifications/sml-view")">View Free Resources</a>
                                    </div>
                                    <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                                    <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                                    <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                        </div><!--end .card-body -->
                    </div><!--end .card -->
                </div><!--end .col -->
            </div><!--end .row -->
        </div><!--end .section-body -->
    </section>
</div>
@Html.Partial("_links")
@section customcss{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/content/admin/css/theme-default/libs/bootstrap-datepicker/datepicker3.css?1424887858")" />
}
@section scripts{
    <script src="@Url.Content("~/content/admin/js/libs/bootstrap-datepicker/bootstrap-datepicker.js")"></script>
    <script>
        $(document).ready(function () {
            $('#sectionName').html("Smart Learning");
            $('#from-date,#to-date').datepicker({ todayHighlight: true, autoclose: true });
        });
    </script>
}

