﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/admin/index")">Home</a></li>
            <li class="breadcrumb-item active">Free Resources</li>
        </ul>
    </div>
</div>
<section class="charts">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display pull-left">Free Resources</h1>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <form id="free-resource-title" class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Title" class="control-label">Resource Title</label>
                                        <input type="text" class="form-control" id="Title" name="Title"
                                               placeholder="Resource Title" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="Title" class="control-label">&nbsp;</label>
                                        <button type="submit" class="btn btn-info" style="margin-top:30px;">Add</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table id="list-resources" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Resource Title</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
        </div><!--end .row -->
    </div><!--end .section-body -->
</section>
@Html.Partial("_links")
@section scripts{
    <script src="@Url.Content("~/js/freeres/addView.js")?@DateTime.Now.Ticks"></script>
    <script>
        $(document).ready(function () {
            $("#sectionName").html("Smart Learning");
        });
    </script>
}

