﻿
@{
    ViewBag.Title = "ResourceLinks";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/admin/index")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Content("~/FreeResources/index")">Free Resources</a></li>
            <li class="breadcrumb-item active">Resource Links</li>
        </ul>
    </div>
</div>
<section class="charts">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display pull-left">Resource Links</h1>
        </header>
        <!-- BEGIN DEFAULT TABLE -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-underline">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table id="list-links" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Link Title</th>
                                        <th>Link URL</th>
                                        <th>Doc Type</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
        </div><!--end .row -->
    </div><!--end .section-body -->
</section>


@Html.Partial("_links")
@section scripts{
    <script src="@Url.Content("~/js/freeres/links.js")?@DateTime.Now.Ticks"></script>
}
