﻿@model ConnectSmartConsulting.Models.ContactDetails
@{
    ViewBag.Title = "Business Consultants";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators"></ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('/content/theme_1/img/intro-carousel/BusinessConsulting.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Business Consultants</h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<main id="main">
    <section>
        <div class="container">
            <div class="col-md-12 col-sm-12">
                <header class="section-header">
                    <h3></h3>
                </header>
                <p class="description">
                    Do you have the right information at your fingertips to propel your business forward?
                </p>
                <p class="description">
                    Are you finding it difficult to recruit experts in every functional area of business?
                    Will, having the complete support of domain specialists give your business a new lease of life?
                </p>

                <p class="description">
                    If the answers to even one of the above questions is a yes then you are at the right place.
                    Connect Smart Consulting offers specialist business consulting in various functional area like marketing, information technology,
                    finance and human resource management. The business has specialist in most domains who can provide advice to bail out your organisation
                    from crises thereby helping you to increase productivity and build competitive advantage. To know more on what we do in business
                    consulting call us now.
                </p>
            </div>
            <div class="col-md-4 col-sm-4 pull-right">
                <img src="~/Images/learning.jpg" style="width:350px;border:solid 1px #f4f4f4;" />
            </div>
        </div>
    </section>
    <section id="call-to-action" class="wow fadeIn">
        <div class="container text-center">
            <h3>Contact Us</h3>
            <p> Wish to discuss your requirements? </p>
            <a class="cta-btn" href="tel:+919618242427">Call us now</a>
        </div>
    </section>
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h3>Contact Us</h3>
            </div>
            <div class="row contact-info">
                <div class="col-md-4">
                    <div class="contact-address">
                        <a> <i class="ion-ios-location-outline"></i></a>
                        <h3>Address</h3>
                        <address>
                            2-48/97, Telecom Nagar, Gachi Bowli, Hyderabad
                            India
                        </address>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-phone">
                        <a href="tel:+155895548855"><i class="ion-ios-telephone-outline"></i></a>
                        <h3>Phone Number</h3>
                        <p><a href="tel:+155895548855">+91 96182 42427</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-email">
                        <a href="mailto:support@connectsmartconsulting.com"><i class="ion-ios-email-outline"></i></a>
                        <h3>Email</h3>
                        <p><a href="mailto:support@connectsmartconsulting.com">support@connectsmartconsulting.com</a></p>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("ContactMail", "Home", FormMethod.Post))
            {


                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" name="Name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" name="Email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <!--<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />-->
                                @* @Html.DropDownListFor(m => m.SelectedService, new SelectList(Model.Service), "Please Any Service", new { @class = "form-control" })*@
                                @Html.HiddenFor(m => m.SelectedService)
                                @*<select class="form-control">
                                         <option value="" readonly="true">Please Any Service</option>
                                        <option value="Software Resellers">Software Resellers</option>
                                        <option value="Smart Learning">Smart Learning</option>
                                        <option value="Digital Consultin">Digital Consulting</option>
                                        <option value="Sales & Digital Marketing">Sales & Digital Marketing</option>
                                        <option value="Software Resellers">ERP Consulting</option>
                                        <option value="Smart Learning">Business Consultants</option>
                                        <option value="Digital Consultin">Application Support & Maintenance</option>
                                        <option value="Sales & Digital Marketing">IT Stratagy & Consulting</option>
                                    </select>*@

                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-6">

                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            @*<input type="text" class="form-control" name="Subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />*@
                            <input type="text" class="form-control" name="Phone" id="number" placeholder="Your Phone No" data-rule="minlen:10" data-msg="Please enter a valid Phone No" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="Message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>
            }
        </div>
    </section><!-- #contact -->
</main>


