﻿
@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section>
    <div class="container">
        <div class="p-xl-5">
            <div style="margin:40px 0 0 0"></div>
        </div>
    </div>
</section>
<main id="main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <header class="section-header">
                        <h3 class="pull-left">Careers</h3>
                    </header>
                </div>
                <div class="clearfix"></div>
                <div class="alert" style="display:none">
                    <div class="alert-success p-2">
                        <span>@ViewBag.Message</span>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-7 col-xs-12">
                    <div style="margin:20px 0 40px 0;border-bottom:solid 1px #ccc;padding:10px 0 10px 0;">
                        <p class="description">
                            <strong>Connect Smart Consulting</strong>  is constantly looking to build and extend a professional team of innovative, creative, dedicated
                            and self-motivated people that want to make difference in what they do.
                        </p>
                        <p>
                            We are currently seeking experienced individuals for a variety of open positions that we are actively trying to fill.
                            We also encourage you to submit your resume for any positions that may become available in the future.
                        </p>
                    </div>
                    @using (Html.BeginForm("Careers", "Home", FormMethod.Post, new { id = "careerForm", enctype = "multipart/form-data" }))
                    {
                        <div class="form">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" name="Name" class="form-control" id="Name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" class="form-control" name="Email" id="Email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" required />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="number" class="form-control" name="Phone" id="Phone" placeholder="Your Phone No" data-rule="minlen:10" data-msg="Please enter a valid Phone No" />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" name="Position" id="position" placeholder="Position applying for" required />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" name="Experience" class="form-control" id="Experience" placeholder="Total Experience" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" name="Designation" id="Designation" placeholder="Designation" required />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="fullInput">
                                    <small class="text-bold">Attach Your Resume Here (Only "jpg", "pdf", "jpeg", "gif", "png", "doc", "docx", "xls", "xlsx", "ppt", "txt" allowed) </small>
                                    <input name="fileUploader" type="file" id="fileUploader"><br />
                                    <small>Please upload your detailed resume here.</small>
                                    <div id="valid_msg" style="color:#ff0000"></div>
                                </p>
                                <div class="validation"></div>
                            </div>
                            <div class="text-left"><button type="submit" class="btn btn-info">Submit</button></div>
                        </div>
                    }
                </div>
                <div class="col-md-5 col-xs-12 ">
                    <div class="pull-right">
                        <h4>Current Openings</h4>
                        <dl>
                            <dt>
                                <strong>
                                    <a href="@Url.Content("~/home/JobDetails?job=Junior .Net Developer (Job Code: HYDJDOT)")">Junior .Net Developer (Job Code: HYDJDOT)</a>
                                </strong>
                            </dt>
                            <dd>0-1 years</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="p-xl-5">
                <div style="margin:40px 0 0 0"></div>
            </div>
        </div>
    </section>
</main>


@section scripts{
    <script src="@Url.Content("~/js/careers.js")"></script>
    <script>
        (function ($) {
           var msg = '@ViewBag.Message';
            if (msg) {
                $(".alert").show();
                setTimeout(function () {
                    $(".alert").hide();
                }, 10000);
            }
        })(jQuery);
    </script>
}

