﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@model ConnectSmartConsulting.Models.ContactDetails
<section>
    <div class="container">
        <div class="p-xl-5">
            <div style="margin:80px 0 0 0"></div>
        </div>
    </div>
</section>
<main id="main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <header class="section-header">
                        <h3 class="pull-left">Contact</h3>
                    </header>
                </div>
                <div class="clearfix"></div>
                <div class="alert" style="display:none">
                    <div class="alert-success p-2">
                        <span>@ViewBag.Message</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    @using (Html.BeginForm("ContactMail", "Home", FormMethod.Post))
                    {
                        <div class="form">
                            <div id="errormessage"></div>
                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <input type="text" name="Name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <input type="email" class="form-control" name="Email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" required />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        @Html.DropDownListFor(m => m.SelectedService, new SelectList(Model.Service), "Please Select Any Service", new { @class = "form-control" })
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <input type="number" class="form-control" name="Phone" id="number" placeholder="Your Phone No" data-rule="minlen:10" data-msg="Please enter a valid Phone No" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="Message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message" required></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center"><button type="submit" class="btn btn-info">Send Message</button></div>
                            </form>
                        </div>
                    }
                </div>
                <div class="col-md-4 col-xs-12 ">
                    <div class="pull-right">
                        @*  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60908.34210603817!2d78.3483069781457!3d17.422755779960607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93ee145290d3%3A0xf8a64c8fcdbd59cd!2sConnect+Smart+Consulting!5e0!3m2!1sen!2s!4v1508927804624" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>*@
                        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1hm1AS5Zutf33uF5bf2A-HzYkProv9AYb" width="640" height="480"></iframe>
                        <address>
                            <div style="border:solid 1px #ccc;margin-top:-10px;width:300px;padding:20px 10px">
                                <small class="address">2-48/97, Telecom Nagar, Gachi Bowli, Hyderabad, India</small>
                            </div>
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 ">
                    <div class="pull-right">
                        @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60908.34210603817!2d78.3483069781457!3d17.422755779960607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93ee145290d3%3A0xf8a64c8fcdbd59cd!2sConnect+Smart+Consulting!5e0!3m2!1sen!2s!4v1508927804624" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>*@
                        <!DOCTYPE html>
                        <html>
                        <head>
                            <style>
                                /* Set the size of the div element that contains the map */
                                #map {
                                    height: 300px; /* The height is 400 pixels */
                                    width: 100%; /* The width is the width of the web page */
                                }
                            </style>
                        </head>
                        <body>
                            <!--The div element for the map -->
                            <div id="map"></div>
                            <script>
                                // Initialize and add the map
                                function initMap() {
                                    // The location of Uluru
                                    var uluru = { lat: 30.711978, lng: 76.690953 };//30.711978, 76.690953
                                    // The map, centered at Uluru
                                    var map = new google.maps.Map(
                                        document.getElementById('map'), { zoom: 12, center: uluru });
                                    // The marker, positioned at Uluru
                                    var marker = new google.maps.Marker({ position: uluru, map: map });
                                }
                            </script>
                            <!--Load the API from the specified URL
                            * The async attribute allows the browser to render the page while the API loads
                            * The key parameter will contain your own API key (which is not needed for this tutorial)
                            * The callback parameter executes the initMap() function
                            -->
                            <script async defer
                                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSWHVFiAPbN-VuULV4MQMBl2OUnCfT8JU&callback=initMap">
                            </script>
                        </body>
                    </html>
                    <address>
                        <div style="border:solid 1px #ccc;margin-top:-10px;width:300px;padding:20px 10px">
                            <small class="address">F 262, Phase 8 Indl Area, Mohali (Chandigarh Tricity Region), India</small>
                        </div>
                    </address>
                </div>
            </div>
            </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <div style="padding:40px 8px;font-size:16px;border-right:solid 1px #E5E5E5;">
                    <i class="fa fa-phone"></i> <a href="tel://1235235598" style="color:#808080">+91 9618242427</a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding:40px 8px;font-size:16px;border-right:solid 1px #E5E5E5">
                    <i class="fa fa-envelope"></i> <a href="mailto:info@yoursite.com" style="color:#808080">support@connectsmartconsulting.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding:40px 8px;font-size:16px;">
                    <i class="fa fa-globe"></i> <a href="#" style="color:#808080">http://www.connectsmartconsulting.com</a>
                </div>
            </div>
        </div>
        <hr />
    </div>
</section>
</main>


@section scripts{
    <script>
        (function ($) {
           var msg = '@ViewBag.Message';
            if (msg) {
                $(".alert").show();
                setTimeout(function () {
                    $(".alert").hide();
                }, 5000);
            }
        })(jQuery);
    </script>
}
