﻿@model ConnectSmartConsulting.Models.ContactDetails
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<!--==========================
     Intro Section
   ============================-->
<!-- #intro -->
@Html.Partial("_Intro")

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
            <header class="section-header">
                <h3>About Us</h3>
                <p>INVENT THE FUTURE with the right guidance,design thinking and innovative solutions for Digital transformation.</p>
                <p>
                    CONNECT SMART technology advisory services will help transform your business through the management and implementation of new apps, platforms, architecture and tech. We’ll partner with you to determine the right combination of technologies for your business—from the tech that exists today to the emerging tech of tomorrow.
                </p>
            </header>
            <div class="row about-cols">
                <div class="col-md-6 wow fadeInUp">
                    <div class="about-col">
                        <div class="img">
                            <img src="~/Content/theme_1/img/about-mission.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Mission</a></h2>
                        <p>
                            Creativity and innovation continued to drive us to a new high in our belief to transform the businesses around the world use right technology for accelerating development.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="about-col">
                        <div class="img">
                            <img src="~/Content/theme_1/img/about-vision.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Vision</a></h2>
                        <p>
                            To empower people to invent and achieve more in the era of the intelligent enterprise, create new business opportunities and helping to change the world as we know it.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #about -->
    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container">
            <header class="section-header wow fadeInUp">
                <h3>Our Capabilities</h3>
            </header>
            <div class="row">
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                    <h4 class="title"><a href="">Smart Learning</a></h4>
                    <p class="description">
                        Is your child struggling with homework and grades at school?
                    </p>
                    <p class="description">
                        Have you been looking out for academic support for your child?
                    </p>
                    <p class="description">
                        Do you find it difficult to drop and pick your kid from tution classes?
                    </p>
                    <p class="description">
                        If the answer to any of the above questions is yes, then what you need is the support of a SMART LEARNING.
                        The SMART LEARNING are online tution classes for kids from the age group of 10 -17 studying in grades 5 – 12.
                        The portal offers tutions in all subjects and across syllabi like ICSE, CBSE, and IB. So what are you waiting for?
                        Get the much needed tution support for your kid today.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                    <h4 class="title"><a href="">Smart Jobs</a></h4>
                    <p class="description">
                        Register Now for Free
                    </p>
                    <p class="description">
                        Let the top employers reach you
                    </p>
                    <p class="description">
                        Your future starts here at Smart Jobs....
                    </p>

                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                    <h4 class="title"><a href="">Smart Engineering(Agile practices)</a></h4>
                    <p class="description">
                        Business expects flexibility in evolving requirements and
                        priorities, on-demand or frequent releases or both. Above all, product consumers expect spot-on quality and failures in meeting any of these requirements bleed the business heavily.
                    </p>
                    <p class="description">
                        Software engineering and operations evolution has been fast-paced in the last decade to meet these business demands—whether it is through adoption of Agile methods and tools or bringing in Application Lifecycle Management (ALM) and DevOps culture (Continuous Integration or CI and Continuous Deployment or CD).
                    </p>
                    <p class="description">
                        The global Offshore Product Development (OPD) space acknowledges Connect Smart Consulting as a trusted name. We offer end-to-end software development and Testing/QA services that help you constantly innovate, optimize time-to-market and gain a competitive edge on new and legacy product portfolios at reduced costs.
                    </p>

                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                    <h4 class="title"><a href="">Software Resellers</a></h4>
                    <p class="description">
                        Is your business suffering because you do not have the right ERP package to improve operational efficiency?
                    </p>
                    <p class="description">
                        Are you finding it difficult to connect to customers or gather customer intelligence?
                    </p>
                    <p class="description">
                        You have your answer right here since Connect Smart Consulting can help you to resell your software products.
                        We currently function as channel partners for ANTHROPIC SOFTWARES PVT. LTD., MyClassBoard and KAGAMI ERP.
                        We also have a full-fledged sales team covering pan India sales and can ensure that we help you reach out to customers across the country
                        with ease. It’s time to end your quest for software resellers .Reach out to Connect Smart Consulting.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                    <h4 class="title"><a href="">Sales &amp; Digital Marketing</a></h4>
                    <p class="description">
                        Are you new in the digital products and services market and trying to ramp up your customer base?
                    </p>
                    <p class="description">
                        Do you have access to market and customer information?
                    </p>
                    <p class="description">
                        Are you in a perpetual struggle to promote your digital products and services to clients?
                    </p>
                    <p class="description">
                        Then you are at the right place. Connect Smart Consulting are expert consultants for sales and marketing in the digital landscape.
                        We have a SMART human network and can help you reach out to right audience. We are also experts in digital marketing and specialise in
                        SEO optimisation, content curation, mobile marketing and client engagement. So forget your worries on marketing and sales of your digital
                        products and services. Call Connect Smart Consulting now.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                    <h4 class="title"><a href="">ERP Consulting</a></h4>
                    <p class="description">
                        Ready for a digital transformation through ERP?
                    </p>
                    <p class="description">
                        Are you bogged down by loads of data and confused in how to make sense out of them?
                    </p>
                    <p class="description">
                        Ever thought of streamlining operations and thereby increasing overall efficiency of your business?
                    </p>
                    <p class="description">
                        Connect Smart Consulting offers end to end ERP consulting right from evaluation, selection, implementation and customization of
                        ERP software. Connect Smart Consulting has experienced professionals in the ERP practice who will help you identify processes
                        that can be reengineered to redefine business results. The company can also provide support at any stages of the ERP implementation.
                        If you are looking out for advice or support in ERP project give us a call now.
                    </p>
                </div>

                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                    <h4 class="title"><a href="">Application Support &amp; Maintenance </a></h4>
                    <p class="description">
                        In a perpetual struggle to use technology to match up to your competitors?
                    </p>
                    <p class="description">
                        Have you ever wondered how nice it would be to reduce budgets and increase business expectations?
                        Have you found it challenging to manage your applications with the changing times?
                    </p>

                    <p class="description">
                        Then what you need is the application support and maintenance services of Connect Smart Consulting.
                        The application support team of Connect Smart Consulting will help you fine tune your application to suit the dynamics of the business
                        environment you are a part of and also leverage technology for competitive advantage. So what are you waiting for? Call us now.
                    </p>
                </div>

            </div>
        </div>
    </section><!-- #services -->
    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeIn">
        <div class="container text-center">
            <h3>Contact Us</h3>
            <p> Wish to discuss your requirements? </p>
            <a class="cta-btn" href="tel:+919618242427">Call us now</a>
        </div>
    </section><!-- #call-to-action -->
    <!--==========================
      Clients Section
    ============================-->
    @*@Html.Partial("_Clients")*@
    <!-- #clients -->
    <!--==========================
      Clients Section
    ============================-->
    <!-- #testimonials -->
    @*@Html.Partial("_Testimonials")*@
    <!--==========================
      Team Section
    ============================-->
    @*@Html.Partial("_Team")*@
    <!-- #team -->
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h3>Contact Us</h3>
            </div>
            <div class="row contact-info">
                <div class="col-md-4">
                    <div class="contact-address">
                        <a> <i class="ion-ios-location-outline"></i></a>
                        <h3>Address</h3>
                        <address>
                            2-48/97, Telecom Nagar, Gachi Bowli, Hyderabad
                            India
                        </address>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-phone">
                        <a href="tel:+155895548855"><i class="ion-ios-telephone-outline"></i></a>
                        <h3>Phone Number</h3>
                        <p><a href="tel:+155895548855">+91 96182 42427</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-email">
                        <a href="mailto:support@connectsmartconsulting.com"><i class="ion-ios-email-outline"></i></a>
                        <h3>Email</h3>
                        <p><a href="mailto:support@connectsmartconsulting.com">support@connectsmartconsulting.com</a></p>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("ContactMail", "Home", FormMethod.Post))
            {


                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" name="Name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" name="Email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                @Html.DropDownListFor(m => m.SelectedService, new SelectList(Model.Service), "Please Select Any Service", new { @class = "form-control" })


                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" name="Phone" id="number" placeholder="Your Phone No" data-rule="minlen:10" data-msg="Please enter a valid Phone No" />
                                <div class="validation"></div>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <input type="text" class="form-control" name="Subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>*@
                        <div class="form-group">
                            <textarea class="form-control" name="Message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>
            }
        </div>
    </section><!-- #contact -->
</main>

<script>

    $(document).ready(function () {
        debugger;
       var message = '@ViewBag.Message';
        if (message != "") {
            alertify.set('notifier', 'position', 'top-center');
            alertify.success(message);
        }
    });
</script>
    
