﻿@model ConnectSmartConsulting.Models.ContactDetails
@{
    ViewBag.Title = "Smart Jobs";
    Layout = "~/Views/Shared/_LayoutSmartJobs.cshtml";
}
<section id="intro">
    <div class="intro-container">
        <div>
            <ol class="carousel-indicators"></ol>
            <div class="" role="listbox">
                <div class="carousel-item active" style="background-image: url('/content/theme_1/img/intro-carousel/jobs.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Smart Jobs</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

