﻿
@{
    ViewBag.Title = "Smart Learning";
    Layout = "~/Views/Shared/_LayoutSmartLearning.cshtml";
}


<div class="jumbotron csl-home-jumbotron">
    <h1 class="text-center">YOUR SEARCH FOR TUTOR ENDS HERE!</h1>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 csl-main-search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search your class here">
                <span class="input-group-btn">
                    <button class="btn btn-default cls-main-search-btn" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
</div>
<!-- highlights-->
<div class="container-fluid csl-highlights">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
            <div class="glyphicon glyphicon-comment"></div>
            <h3>Personalized Live Training</h3>
            <p>
                Dedicated Teacher &amp;<br />
                Teaching at student's pace
            </p>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
            <div class="glyphicon glyphicon-briefcase"></div>
            <h3>Safety &amp; Security</h3>
            <p>
                Learn @@ safety of home <br />
                with No traffic annoyance
            </p>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
            <div class="glyphicon glyphicon-calendar"></div>
            <h3>Anytime Learning</h3>
            <p>
                Dedicated Teacher &amp;<br />
                Teaching at student's pace
            </p>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
            <div class="glyphicon glyphicon-facetime-video"></div>
            <h3>Better than recorded lectures</h3>
            <p>
                2 way interaction and <br />
                Monitoring & Counseling
            </p>
        </div>

    </div>
</div>
<!--highlights ends-->
<!--small intro-->
<div class="container-fluid csl-small-intro">
    <div class="row text-center">
        <div class="col-md-10 col-md-offset-1 csl-intro-text">
            <p>
                The SMART LEARNING are online tution classes for children from the age group of 10 -17 studying in grades 5 – 12. We offers tutions in all subjects and across syllabus like ICSE, CBSE, and IB.<br />
                So what are you waiting for?
            </p>
        </div>
        <button type="button" class="btn btn-lg btn-default csl-intro-register-btn">Register for Class</button>
        <p>Easy Payments &amp; Cancellation</p>
    </div>
</div>
<!--small intro ends-->
<!-- most viewed Subjects-->
<div class="container csl-mostviewed-classes">
    <div class="row text-center">
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
            <img src="/content/images/sceince-subject.jpg" alt="science" />
            <h4>Science</h4>
            <p>Tutors :<span class="csl-class-details" id="tutor-counts">200</span></p>
            <p>No. of Classes :<span class="csl-class-details classes-counts">1000</span></p>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
            <img src="/content/images/chem-subject.jpg" alt="chemestry" />
            <h4>Chemistry</h4>
            <p>Tutors :<span class="csl-class-details tutor-counts">200</span></p>
            <p>No. of Classes :<span class="csl-class-details" id="classes-counts">1000</span></p>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
            <img src="/content/images/trigonometry-subject.jpg" alt="trigonometry" />
            <h4>Trignometry</h4>
            <p>Tutors :<span class="csl-class-details tutor-counts">200</span></p>
            <p>No. of Classes :<span class="csl-class-details classes-counts">1000</span></p>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
            <img src="/content/images/arts-subject.jpg" alt="arts" />
            <h4>Art</h4>
            <p>Tutors :<span class="csl-class-details tutor-counts">200</span></p>
            <p>No. of Classes :<span class="csl-class-details classes-counts">1000</span></p>
        </div>
    </div>
</div>
<!-- most viewed Subjects ends-->
<!-- testimonials-->
<div class="container-fluid csl-parents-testimonials">
    <section id="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-xs-12 text-center">
                    <h2><span class="ion-minus"></span> What Parents Say About Us <span class="ion-minus"></span></h2>
                    <i class="fa fa-quote-right"></i>
                    <div id="slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider" data-slide-to="0" class="active"></li>
                            <li data-target="#slider" data-slide-to="1"></li>
                            <li data-target="#slider" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                                <img src="http://via.placeholder.com/350x300">
                                <h5>Jane Doe</h5>
                            </div>
                            <div class="item">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                                <img src="http://via.placeholder.com/350x300">
                                <h5>John Doe</h5>
                            </div>
                            <div class="item">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                                <img src="http://via.placeholder.com/350x300">
                                <h5>Jack Doe</h5>
                            </div>
                        </div>  <!-- carousel-inner -->
                    </div>
                </div>  <!-- carousel slide -->
            </div>
        </div>
    </section>
</div>
<!-- testimonials ends-->
<!-- news letter-->
<div class="container-fluid csl-news-letter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                <p>For latest offers and updates Signup to our mailing list</p>
            </div>
            <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="placeholder content">
                    <span class="input-group-btn">
                        <button class="btn btn-default csl-subscribe-btn" type="button">Subscribe</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- news letter ends -->
@*<section id="intro">
        <div class="intro-container">
            <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators"></ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" style="background-image: url('/content/theme_1/img/intro-carousel/5.jpg');">
                        <div class="carousel-container">
                            <div class="carousel-content">

                                <div class="support">
                                    <a class="call-support show-mobile" href="@Url.Content("~/SmartLearning/login")">Login</a><br />
                                    <a class="call-support show-mobile" href="@Url.Content("~/SmartLearning/need-a-tutor")">Register as Student</a><br />
                                    <a class="call-support show-mobile" href="@Url.Content("~/SmartLearning/tutor-registration")">Register as Tutor</a>
                                    <h2 class='show-large'>Smart Learning</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <main id="main">
        <!--==========================
          Featured Services Section
        ============================-->
        @Html.Partial("_Featured")
        <!-- #featured-services -->
        <section>
            <div class="container">
                <div class="col-md-12 col-sm-12">
                    <header class="section-header">
                        <h3></h3>
                    </header>
                    <p class="description">
                        Is your child struggling with homework and grades at school?
                    </p>
                    <p class="description">
                        Have you been looking out for academic support for your child?
                    </p>
                    <p class="description">
                        Do you find it difficult to drop and pick your kid from tution classes?
                    </p>
                    <p class="description">
                        If the answer to any of the above questions is yes, then what you need is the support of a SMART LEARNING.
                        The SMART LEARNING are online tution classes for kids from the age group of 10 -17 studying in grades 5 – 12.
                        The portal offers tutions in all subjects and across syllabi like ICSE, CBSE, and IB. So what are you waiting for?
                        Get the much needed tution support for your kid today.
                    </p>
                </div>

            </div>
        </section>
    </main>*@




