﻿@{
    ViewBag.Title = "Assignments";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="forms">
    <div class="container-fluid">
        <header class="section-padding"></header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h2 class="h5 display">Assignments</h2>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table id="list-assign" class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Due Date</th>
                                        <th>Created By</th>
                                        <th>Results</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@section customcss{
    <link href="~/Content/DataTables/media/css/jquery.dataTables.css" rel="stylesheet" />
}
@section scripts{
    <script>
        @{  int userId = ((ConnectSmartConsulting.Models.LoggedInUser)Session["LOGIN_USER"]).UserId;}
        (function ($) {
            $("#contents").removeClass('collapsed');
            $("#pages-nav-list").addClass("show");
            $("#contents").addClass("active");
            loadTable();
        })(jQuery);

    function loadTable() {
            var stuId = '@userId';
            $('#list-assign').dataTable({
                destroy: true,
                searching: false,
                "paging": false,
                "info": false,
                "ajax": {
                    "url": baseURL + "/assignments/get-by-student?stuId="+stuId,
                    "dataSrc": ""
                },
                "columns": [
                    {
                        "data": "AssignmentTitle", "sortable": false, "render": function (url, type, full) {
                            return '<div><a href="/student/show-assignment?id=' + full.AssignmentID + '">' + full.AssignmentTitle+'</a>'+
                                '<br/> <p class="text-muted"> - ' + full.CreatedByName+'</p></div> ';
                        }
                    },
                    {
                        "data": "DueDate", "sortable": false,
                        "render": function (data) {
                            return moment(data).format('DD/MM/YYYY');
                        }
                    },
                    {
                        "data": "CreatedByName", "sortable": false,
                    },
                    ,
                    {
                        "data": "Marks", "sortable": false,
                    },
                    {
                        "data": "AssignmentID", "sortable": false, "render": function (url, type, full) {
                            return '<div class="pull-right"><a href="/student/show-assignment?id=' + full.AssignmentID + '">View Details</a></div>';
                        }
                    }
                ],
            });
        }
    </script>
}

