﻿@model ConnectSmartConsulting.Models.Users
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Counts Section -->
<section class="dashboard-counts section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-md-4 col-6">
                @Html.Partial("_basicInfo")
            </div>
            <div class="col-xl-10 col-md-8 col-6 pull-right">
                <div class="pull-right">
                    <a href="@Url.Content("~/student/my-profile")" class="btn btn-sm btn-primary">My Profile</a>
                    <a href="@Url.Content("~/smartlearning/change-password")" class="btn btn-sm btn-info">Change Password</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Statistics Section-->
<section class="statistics section-padding section-no-padding-bottom">
    <div class="container-fluid">
        <div class="row d-flex align-items-stretch">
            <div class="col-lg-6">
                <!-- Income-->
                <div class="wrapper income">
                    <h2 class="display h4 text-primary">Upcoming Sessions</h2>
                    <table id="table_sessions" class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Meeting Name</th>
                                <th>Date-Time</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Monthly Usage-->
                <div class="wrapper data-usage">
                    <h2 class="display h4 text-primary">Subscriptions</h2>
                    
                </div>
            </div>
        </div>
    </div>
</section>
@section customcss{
    <link href="~/Content/DataTables/media/css/jquery.dataTables.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
    <script>
        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["ApiUrl"]';

        $(document).ready(function () {
            bindSessions();
        });

        function bindSessions() {
            $('#table_sessions').DataTable({
                paging: false,
                searching: false,
                ordering: false,
                info: false,
                ajax: {
                    url: apiUrl + '/Meetings/get-all',
                    dataSrc: ''
                },
                columns: [
                    { data: 'StudentName' },
                    { data: 'MeetingName' },
                    {
                        data: "StartDateTime",
                        render: function (d) {
                            return moment(d).format("YYYY:MM:DD HH:mm");
                        } }
                ],
                "order": [[2, "desc"]]
            });
        }
    </script>
}