﻿
@{
    ViewBag.Title = "MySessions";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="dashboard-header section-padding">
    <div class="container-fluid">
        <div class="row">
            <!--Sessions-->
            <div class="col-lg-12 col-md-12">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_tutorModal")
@section  customcss{
    <link href="/Content/fullcalendar/fullcalendar.css" rel='stylesheet' />
    <link href='/Content/fullcalendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <style>
        h2, .h2 {
            font-size: 20px;
        }
    </style>
}
@section scripts{
    <script src='/Content/fullcalendar/fullcalendar.min.js'></script>
    <script>
        var baseURL = '@System.Configuration.ConfigurationManager.AppSettings["CalUrl"]';
        var d1 = '@DateTime.Now.AddDays(-30)';
        var d2 = '@DateTime.Now.AddDays(30)';
        @{  int tId = ((ConnectSmartConsulting.Models.LoggedInUser)Session["LOGIN_USER"]).UserId;}
        var studentId = '@tId';
    </script>
    <script>
        $(document).ready(function () {
            var link = baseURL + "calendar-stu?request=a&start=" + d1 + "&end=" + d2 + "&studentId=" + studentId;
            $("#calendar").fullCalendar({
                //height: 470,
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: link,
                eventClick: function (calEvent, jsEvent, view) {
                    jsEvent.preventDefault();
                    //alert('Event: ' + calEvent.title);
                    //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                    //alert('View: ' + view.name);
                    //alert('Date: ' + moment.unix(calEvent.start).format('dddd, MMMM Do, YYYY h:mm:ss A'));
                    //alert('Date: ' + moment(calEvent.start).calendar());
                    //window.location.href = calEvent.url;

                    console.log(calEvent);
                    var meetingTime = moment(calEvent.start._i).format('HH:mm');

                    $(".modal-body #meetingTime").html(meetingTime);
                    $(".modal-body #meetingTitle").html(calEvent.title);

                    var time_diff = moment().diff(calEvent.end._i, 'minutes')
                    if (time_diff > 60) {
                        document.getElementById("meetingUrl").style.display = 'none';
                    }
                    else {
                        document.getElementById("meetingUrl").style.display = 'block';
                        document.getElementById("meetingUrl").href = calEvent.url;
                    }
                    $(".modal-body #fromNow").html(moment(calEvent.start._i).fromNow());


                    $("#tutorModal").modal("show");
                }
            });
        });
    </script>
}