﻿@model IEnumerable<ConnectSC.Models.TutorModel>
@{
    ViewBag.Title = "SearchTutors";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="updates section-padding section-no-padding-bottom">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h2 class="h5 display">
                    <a data-toggle="collapse" data-parent="#accordion" href="#feeds-box" aria-expanded="true" aria-controls="feeds-box">
                        Search Tutors
                    </a>
                </h2>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 section-title">
                            <form class="form " >
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="text-muted">Subjects</label>
                                            <input type="text" name="Subjects" class="form-control" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Areas Taught</label>
                                            <input type="text" name="AreasTaught" class="form-control" />
                                           
                                        </div>
                                        <div class="col-md-1">
                                            <label><br/></label>
                                            <button class="btn btn-primary pull-left">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section class="updates section-padding">
    <div class="container-fluid">

        <div class="row">
            <!--Sessions-->
            <div class="col-lg-12 col-md-12">
                <div class="wrapper tutor">
                    @*<div id="daily-feeds" class="card-header d-flex justify-content-between align-items-center">
                        <h2 class="h5 display">
                            <a data-toggle="collapse" data-parent="#accordion" href="#feeds-box" aria-expanded="true" aria-controls="feeds-box">
                                Teachers
                            </a>
                        </h2>
                        <div class="left-column">
                            <div class="badge badge-primary">10 </div><a data-toggle="collapse" data-parent="#accordion" href="#feeds-box" aria-expanded="true" aria-controls="feeds-box"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>*@
                    <div id="feeds-box" role="tabpanel" class="collapse show">
                        <div class="feed-box">
                            <ul class="feed-elements list-unstyled">
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <!-- List-->
                                        <li class="clearfix">
                                            <div class="feed d-flex justify-content-between">
                                                <div class="feed-body d-flex justify-content-between">
                                                    <a href="#" class="feed-profile"><img src="~/Documents/uploads/no_image_available.jpeg" alt="person" class="img-fluid rounded-circle"></a>
                                                    <div class="content">
                                                        <strong>@item.FirstName</strong>
                                                        <br /><small>@item.SubjectYouTeach </small>
                                                        <div>
                                                            @item.HighestEducation<br />
                                                            @item.AreasYouTeach
                                                        </div>
                                                        <div class="experience text-muted"><small>Time Avaibility: @item.TimeAvailibility</small></div>
                                                    </div>
                                                </div>
                                                <div class="pull-right">
                                                    @*<div class="text-primary rating pull-right">5.0</div>*@
                                                    <div class="date">
                                                        <a href="@Url.Content("~/student/tutor-profile")?id=@item.UserId" class="text-info">View Profile</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section customcss{
    <style>
        section.updates .tutor a.feed-profile {
            margin-right: 10px;
            width: 100px;
            height: 100px;
        }

            section.updates .tutor a.feed-profile img {
                width: 100%;
                height: 100%;
            }

        .experience {
            margin-top: 7px;
            font-size: 1.05em;
            font-weight: 900;
        }

        .rating {
            font-size: 2.45em;
            font-weight: bold;
        }
    </style>
}
