﻿
@{
    ViewBag.Title = "ShowAssignment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/student/index")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Content("~/student/assignments")">View Assignments</a></li>
            <li class="breadcrumb-item active">Assignment Details</li>
        </ul>
    </div>
</div>

<section class="forms">
    <div class="container-fluid">
        <header class="section-padding">
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h2 class="h5 display">Assignment Details</h2>
                    </div>
                    <div class="card-block">
                        <p>View and submit your assignment.</p>
                        <form class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-sm-2 pull-right">Title:</label>
                                <div class="col-sm-4">
                                    <small class="form-text" id="AssignmentTitle"></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2">Description:</label>
                                <div class="col-sm-10">
                                    <small class="form-text" id="Description">
                                    </small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 pull-right">Added On:</label>
                                <div class="col-sm-4">
                                    <small class="form-text" id="CreatedOn"></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 pull-right">Added By:</label>
                                <div class="col-sm-4">
                                    <small class="form-text" id="CreatedByName"></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 pull-right">Results:</label>
                                <div class="col-sm-4">
                                    <small class="form-text" id="Marks"></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 pull-right">Download:</label>
                                <div class="col-sm-4">
                                    <a href="" id="Attachment">Click Here</a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10 offset-sm-2">
                                    <a href="@Url.Content("~/student/submit-assignment?id=")@Request["id"]" class="btn btn-primary">Submit Assignment</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script>
        (function ($) {
            $("#contents").removeClass('collapsed');
            $("#pages-nav-list").addClass("show");
            $("#contents").addClass("active");

            loadDetails();
        })(jQuery);

        function loadDetails() {
            var jqxhr = $.get(baseURL + "/assignments/details?id=" +'@Request["id"]')
                .done(function (data) {
                    console.log(data);

                    $.each(data, function (key, value) {
                        if (key != "$id")
                            $("#" + key).html(value);
                    });
                })
                .fail(function (err) {
                    console.log(err);
                })
        }
    </script>
}

