﻿
@{
    ViewBag.Title = "Submit Assignment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/student/index")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Content("~/student/assignments")">View Assignments</a></li>
            <li class="breadcrumb-item"><a href="@Url.Content("~/student/show-assignment?id=")@Request["id"]">Assignment Details</a></li>
            <li class="breadcrumb-item active">Submit Assignment</li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <header class="section-padding"></header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h2 class="h5 display">Submit Assignment</h2>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-7">
                                @using (Html.BeginForm("submit-assignment", "student", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>Assignment File To Download</label>
                                            <a href="#">Sample File</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-10">
                                            <label>Comments</label>
                                            <textarea name="Comments" class="form-control" placeholder="Comments" rows="2" id="txtComment"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>Upload Assignment</label>
                                            <input type="file" class="form-control" name="file" id="file" />
                                        </div>
                                    </div>
                                    <input type="button" class="btn btn-primary" value="submit" id="btnUpload" />
                                }
                            </div>
                            <div class="col-md-offset-1 col-md-4" style="border-left:solid 1px #ccc;">
                                <strong>Submitting assignment for:</strong>
                                <label id="AssignmentTitle"></label>
                                <p id="Description">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@section scripts{
    <script>
        (function ($) {
            $("#contents").removeClass('collapsed');
            $("#pages-nav-list").addClass("show");
            $("#contents").addClass("active");
            $("#assignments").addClass("active");
            
            loadDetails();
        })(jQuery);

        $('#btnUpload').click(function() {

            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#file").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();
                fileData.append(files[0].name, files[0]);
                //// Looping over all files and add it to FormData object
                //for (var i = 0; i < files.length; i++) {
                //    fileData.append(files[i].name, files[i]);
                //}

                // Adding one more key to FormData object
                var comment = $('#txtComment').val();
                fileData.append('Comments', comment);

                $.ajax({
                    url: '@Url.Content("/Student/submit-assignment")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        toastr.success(result);
                    },
                    error: function (err) {
                        toastr.error(err.statusText);
                    }
                });
            } else {
                toastr.error('FormData is not supported.');
            }
        });

        function loadDetails() {
            var jqxhr = $.get(baseURL + "/assignments/details?id=" +'@Request["id"]')
                .done(function (data) {
                    console.log(data);

                    $.each(data, function (key, value) {
                        if (key != "$id")
                            $("#" + key).html(value);
                    });
                })
                .fail(function (err) {
                    console.log(err);
                })
        }
    </script>
}

