﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="updates section-padding">
    <div class="container-fluid">
        <div class="row">
            <!--Sessions-->
            <div class="col-lg-12 col-md-12">
                <!-- Recent Updates            -->
                <div class="wrapper recent-uodated">
                    <div id="new-updates" class="card-header d-flex justify-content-between align-items-center">
                        <h2 class="h5 display"><a data-toggle="collapse" data-parent="#accordion" href="#upadtes-box" aria-expanded="true" aria-controls="upadtes-box">My Subscriptions</a></h2><i class="fa fa-angle-down"></i>
                    </div>
                    <div id="upadtes-box" role="tabpanel" class="collapse show">
                        <ul class="news list-unstyled">
                            <!-- Item-->
                            <li class="d-flex justify-content-between">
                                <div class="left-col d-flex">
                                    <div class="icon"><i class="icon-rss-feed"></i></div>
                                    <div class="title">
                                        <strong>Lorem ipsum dolor sit amet.</strong>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    </div>
                                </div>
                                <div class="right-col text-right">
                                    <div class="update-date">24<span class="month">Jan</span></div>
                                </div>
                            </li>
                            <!-- Item-->
                            <li class="d-flex justify-content-between">
                                <div class="left-col d-flex">
                                    <div class="icon"><i class="icon-rss-feed"></i></div>
                                    <div class="title">
                                        <strong>Lorem ipsum dolor sit amet.</strong>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    </div>
                                </div>
                                <div class="right-col text-right">
                                    <div class="update-date">24<span class="month">Jan</span></div>
                                </div>
                            </li>
                            <!-- Item-->
                            <li class="d-flex justify-content-between">
                                <div class="left-col d-flex">
                                    <div class="icon"><i class="icon-rss-feed"></i></div>
                                    <div class="title">
                                        <strong>Lorem ipsum dolor sit amet.</strong>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    </div>
                                </div>
                                <div class="right-col text-right">
                                    <div class="update-date">24<span class="month">Jan</span></div>
                                </div>
                            </li>
                            <!-- Item-->
                            <li class="d-flex justify-content-between">
                                <div class="left-col d-flex">
                                    <div class="icon"><i class="icon-rss-feed"></i></div>
                                    <div class="title">
                                        <strong>Lorem ipsum dolor sit amet.</strong>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    </div>
                                </div>
                                <div class="right-col text-right">
                                    <div class="update-date">24<span class="month">Jan</span></div>
                                </div>
                            </li>
                            <!-- Item-->
                            <li class="d-flex justify-content-between">
                                <div class="left-col d-flex">
                                    <div class="icon"><i class="icon-rss-feed"></i></div>
                                    <div class="title">
                                        <h3 class="h5">Lorem ipsum dolor sit amet.</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    </div>
                                </div>
                                <div class="right-col text-right">
                                    <div class="update-date">24<span class="month">Jan</span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
