﻿@model ConnectSmartConsulting.Models.LoggedInUser
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/admin/dash")">Home</a></li>
            <li class="breadcrumb-item "><a href="@Url.Content("~/ServiceRequest/index")">Tickets</a></li>
            <li class="breadcrumb-item active">Add a new Ticket</li>
        </ul>
    </div>
</div>

<section class="forms">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display pull-left">Raise a Ticket</h1>
            <div class="pull-right">
                <a href="@Url.Content("~/ServiceRequest/index")"><i class="fa fa-list"></i> View Tickets</a>
            </div>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        @using (Html.BeginForm("add", "ServiceRequest", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                        <input type="text" name="Name" class="form-control" placeholder="Name" value="@Model.FirstName" readonly />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Email</label>
                                        <input type="text" name="Email" class="form-control" placeholder="Email" value="@Model.UserName" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Service Category</label>
                                        <select name="Category" class="form-control" placeholder="Description">
                                            <option>Service</option>
                                            <option>
                                                Billing
                                            </option>
                                            <option>General Info</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Description</label>
                                        <textarea name="Description" class="form-control" placeholder="Description" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Add Attachment</label>
                                    <input type="file" class="form-control" name="file" id="file" />
                                </div>
                            </div>

                            <input type="submit" class="btn btn-primary" value="submit" />
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section scripts
{
<script>
    (function ($) {
        $("#mytickets").addClass("active");
    })(jQuery);
</script>
}

