﻿@model List<ConnectSC.Data.ViewModels.ServiceTicketViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/ServiceRequest/add")">Raise a Ticket</a></li>
            <li class="breadcrumb-item active">View Tickets</li>
        </ul>
    </div>
</div>
<div style="margin:20px 0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h3 display pull-left">Tickets</h1>
                        <div class="pull-right">
                            <a href="@Url.Content("~/ServiceRequest/add")"><i class="fa fa-plus"></i> Raise new Ticket</a>
                        </div>
                    </div>
                    <div class="card-block">
                        <form class="form-inline" method="get" action="/ServiceRequest/index">
                            <div class="form-group">
                                <div class="col-md-2 fa-pull-right"><label class="text-muted text-sm-right">Name</label></div>
                                <div class="col-md-6"><input type="text" class="form-control" name="searchFilter" id="searchFilter" value="@ViewBag.SearchFilter" placeholder="Seach by date" /></div>
                                <div class="col-md-2 pull-left"> <button type="submit" class="btn btn-primary">Search</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="charts">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Category</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="odd gradeX">
                                            <td>@item.TicketDate </td>
                                            <td>@item.Name </td>
                                            <td>@item.Email </td>
                                            <td>@item.Category </td>
                                            <td><a href="@Url.Content("~/serviceRequest/show")?id=@item.ID">View</a> </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@section customcss{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/content/admin/css/theme-default/libs/bootstrap-datepicker/datepicker3.css?1424887858")" />
}
@section scripts{
    <script src="@Url.Content("~/content/admin/js/libs/bootstrap-datepicker/bootstrap-datepicker.js")"></script>
    <script>
        $("#searchFilter").datepicker({ todayHighlight: true, autoclose: true });
    </script>
}