﻿@model ConnectSmartConsulting.Models.LoggedInUser
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="dashboard-counts section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-md-6 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="name">
                        Service Request #
                        <strong class="text-uppercase" id="ID"> </strong>
                        <span id="TicketDate"></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-6 pull-right">
                <div class="pull-right">
                    <a href="#region_comments" class="btn btn-sm btn-primary">Add Comment</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Header Section-->
<section class="dashboard-header section-padding">
    <div class="container-fluid">
        <div class="row d-flex align-items-md-stretch">
            <!-- To Do List-->
            <div class="col-lg-12 col-md-12">
                <div class="wrapper to-do">
                    <header>
                        <h2 class="display h4 text-primary">Details</h2>
                    </header>
                    <div class="wrapper row">
                        <div class="col-lg-6 col-md-6">
                            <p>
                                Category<br />
                                <strong id="Category"></strong>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <p>
                                Description<br />
                                <strong id="Description"></strong>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <p>
                                Raised By<br />
                                <strong id="Name"></strong>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <p>
                                Attachments<br />
                                <strong id="AttachmentPath"></strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex align-items-stretch section-padding">
            <div class="col-lg-12">
                <!-- Income-->
                <div class="wrapper income">
                    <h2 class="display h4 text-primary">Comments</h2>
                    <table id="table_comments" class="table">
                        <thead>
                            <tr>
                                <th>Comments</th>
                                <th>Added By</th>
                                <th>Added On</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-md-10"  id="region_comments">
                <form class="form" id="form-comments">
                    <div class="form-group">
                        <textarea class="form-control" rows="6" name="Remarks" id="Remarks" required></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary pull-right">Add Comment</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
@section scripts{
    <script src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
    <script>
        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["ApiUrl"]';

        $(document).ready(function () {
            bindDetails();
            bindComments();

            $("#form-comments").on("submit", function (event) {
                event.preventDefault();

                var json = JSON.parse(toJSONString(this));
                var data = {
                    Remarks : json.Remarks,
                    ServiceTicketID: '@Request["id"]',
                    UserID: '@Model.UserId'
                };
                var jqxhr = $.post(apiUrl + "/tickets/add-ticket-comments", data)
                    .done(function (data) {
                        $("#Remarks").val('');
                        bindComments();
                    }).fail(function (xhr) {
                        showErrors(xhr);
                    })
            });
        });

        function bindComments() {
            $('#table_comments').DataTable({
                paging: false,
                searching: false,
                ordering: false,
                info: false,
                destroy:true,
                ajax: {
                    url: apiUrl + '/tickets/get/'+'@Request["id"]',
                    dataSrc: 'ServiceTicketComments'
                },
                columns: [
                    { data: 'Remarks' },
                    { data: 'FullName' },
                    {
                        data: "RemarksDate",
                        render: function (d) {
                            return moment(d).format("YYYY:MM:DD HH:mm");
                        }
                    }
                ]
            });
        }

        function bindDetails() {
            var jqxhr = $.get(baseURL + '/tickets/get/'+'@Request["id"]')
                .done(function (data) {
                    $.each(data, function (key, value) {
                        if (key != "$id")
                            $("#" + key).html(value);
                    });
                })
                .fail(function (err) {
                    console.log(err);
                })
        }
    </script>
}

