﻿@{
    ViewBag.Title = "EditTutor";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/admin/dash")">Home</a></li>
            <li class="breadcrumb-item active">Change Password</li>
        </ul>
    </div>
</div>

<section class="forms">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display pull-left">Change Password</h1>
            <div class="pull-right">
                <a href="@Url.Content("~/admin/dash")"> Back</a>
            </div>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        @using (Html.BeginForm("change-password", "SmartLearning", FormMethod.Post, new { id = "frmCP", @class = "col-md-12" }))
                        {
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="OldPassword">Old Password</label>
                                    <input type="password" name="OldPassword" placeholder="Old Password" id="OldPassword" class="form-control" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="NewPassword">New Password</label>
                                    <input type="password" name="NewPassword" placeholder="New Password" id="NewPassword" class="form-control" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="ConfirmPassword">Confirm New Password</label>
                                    <input type="password" name="ConfirmPassword" placeholder="Confirm Password" id="ConfirmPassword" class="form-control" required />
                                </div>
                            </div>
                            <input type="hidden" name="UserKey" value="@(((ConnectSmartConsulting.Models.LoggedInUser)Session["LOGIN_USER"]).UserKey)" />
                            <button type="submit" class="btn btn-primary">Submit</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script src="@Url.Content("~/js/cpwd.js")" type="text/javascript"></script>
}

