﻿@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutSmartLearning.cshtml";
}
<link href="~/Content/SmartlearningCustom.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
@*<script src="~/Scripts/Customjs/jquery-2.1.3.min.js"></script>*@
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<h2>Forgot Password</h2>

@using (Html.BeginForm("ForgotPassword", "SmartLearning", FormMethod.Post, new { id = "msform" }))
{
    
    
      if(Request.HttpMethod=="GET")
         {
             ViewBag.Result = " ";

          }
      else
      {
          
          
      }
    
<!-- multistep form -->
    @*<form id="msform">*@
    <!-- progressbar -->
    <!-- fieldsets -->
    <fieldset>
        <h2 class="fs-title">Forgot Password</h2>
		<form>
            <input type="email" name="Email" placeholder="Email" required />
        <input type="submit" name="ForgotPassword" class="next action-button" value="Submit"/>
		</form>
		<div class="clear"></div>
        @*<span class='pull-right control-group'>Password has been sent to your register email address.</span>*@
    </fieldset>
    @*</form>*@
}
<script>
    $(document).ready(function () {
	 var myJsVariable = '@ViewBag.Result' 
        if(myJsVariable!= " ")
        {
            alertify.set('notifier', 'position', 'top-center');
            alertify.success('Password has been sent to your register email address.');
        }

    });
</script>
