﻿
@{
    ViewBag.Title = "FreeResource";
    Layout = "~/Views/Shared/_LayoutSmartLearning.cshtml";
}
<!--Resources page-->

<div class="container csl-intro-text">
    <h1>Free Resources from <span>SMART Learning</span></h1>
    <div class="row csl-paragraphs">
        <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
            <img src="/content/images/chem-subject.jpg" alt="Chemestry" />
            <h3 class="csl-subject-title">Chemestry Subject chapter number 2</h3>
            <p class="csl-subject-description">Phasellus nec mi quam. Integer congue semper sem, ac dignissim orci mattis id. Nunc ultrices mollis imperdiet. Vivamus ut neque lacinia.</p>
            <button type="button" class="btn btn-sm btn-default">download <span class="glyphicon glyphicon-download-alt"></span></button>
        </div>

        <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
            <img src="/content/images/chem-subject.jpg" alt="Chemestry" />
            <h3 class="csl-subject-title">Chemestry Subject chapter number 2</h3>
            <p class="csl-subject-description">Phasellus nec mi quam. Integer congue semper sem, ac dignissim orci mattis id. Nunc ultrices mollis imperdiet. Vivamus ut neque lacinia.</p>
            <button type="button" class="btn btn-sm btn-default">download <span class="glyphicon glyphicon-download-alt"></span></button>
        </div>

        <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
            <img src="/content/images/chem-subject.jpg" alt="Chemestry" />
            <h3 class="csl-subject-title">Chemestry Subject chapter number 2</h3>
            <p class="csl-subject-description">Phasellus nec mi quam. Integer congue semper sem, ac dignissim orci mattis id. Nunc ultrices mollis imperdiet. Vivamus ut neque lacinia.</p>
            <button type="button" class="btn btn-sm btn-default">download <span class="glyphicon glyphicon-download-alt"></span></button>
        </div>

        <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
            <img src="/content/images/chem-subject.jpg" alt="Chemestry" />
            <h3 class="csl-subject-title">Chemestry Subject chapter number 2</h3>
            <p class="csl-subject-description">Phasellus nec mi quam. Integer congue semper sem, ac dignissim orci mattis id. Nunc ultrices mollis imperdiet. Vivamus ut neque lacinia.</p>
            <button type="button" class="btn btn-sm btn-default">View <span class="glyphicon glyphicon-eye-open"></span></button>
        </div>

        <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
            <img src="/content/images/chem-subject.jpg" alt="Chemestry" />
            <h3 class="csl-subject-title">Chemestry Subject chapter number 2</h3>
            <p class="csl-subject-description">Phasellus nec mi quam. Integer congue semper sem, ac dignissim orci mattis id. Nunc ultrices mollis imperdiet. Vivamus ut neque lacinia.</p>
            <button type="button" class="btn btn-sm btn-default">download <span class="glyphicon glyphicon-download-alt"></span></button>
        </div>

        <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
            <img src="/content/images/chem-subject.jpg" alt="Chemestry" />
            <h3 class="csl-subject-title">Chemestry Subject chapter number 2</h3>
            <p class="csl-subject-description">Phasellus nec mi quam. Integer congue semper sem, ac dignissim orci mattis id. Nunc ultrices mollis imperdiet. Vivamus ut neque lacinia.</p>
            <button type="button" class="btn btn-sm btn-default">View <span class="glyphicon glyphicon-eye-open"></span></button>
        </div>

        <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
            <img src="/content/images/chem-subject.jpg" alt="Chemestry" />
            <h3 class="csl-subject-title">Chemestry Subject chapter number 2</h3>
            <p class="csl-subject-description">Phasellus nec mi quam. Integer congue semper sem, ac dignissim orci mattis id. Nunc ultrices mollis imperdiet. Vivamus ut neque lacinia.</p>
            <button type="button" class="btn btn-sm btn-default">download <span class="glyphicon glyphicon-download-alt"></span></button>
        </div>

        <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
            <img src="/content/images/chem-subject.jpg" alt="Chemestry" />
            <h3 class="csl-subject-title">Chemestry Subject chapter number 2</h3>
            <p class="csl-subject-description">Phasellus nec mi quam. Integer congue semper sem, ac dignissim orci mattis id. Nunc ultrices mollis imperdiet. Vivamus ut neque lacinia.</p>
            <button type="button" class="btn btn-sm btn-default">View <span class="glyphicon glyphicon-eye-open"></span></button>
        </div>

        <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
            <img src="/content/images/chem-subject.jpg" alt="Chemestry" />
            <h3 class="csl-subject-title">Chemestry Subject chapter number 2</h3>
            <p class="csl-subject-description">Phasellus nec mi quam. Integer congue semper sem, ac dignissim orci mattis id. Nunc ultrices mollis imperdiet. Vivamus ut neque lacinia.</p>
            <button type="button" class="btn btn-sm btn-default">download <span class="glyphicon glyphicon-download-alt"></span></button>
        </div>

        <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
            <img src="/content/images/chem-subject.jpg" alt="Chemestry" />
            <h3 class="csl-subject-title">Chemestry Subject chapter number 2</h3>
            <p class="csl-subject-description">Phasellus nec mi quam. Integer congue semper sem, ac dignissim orci mattis id. Nunc ultrices mollis imperdiet. Vivamus ut neque lacinia.</p>
            <button type="button" class="btn btn-sm btn-default">download <span class="glyphicon glyphicon-download-alt"></span></button>
        </div>

        <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
            <img src="/content/images/chem-subject.jpg" alt="Chemestry" />
            <h3 class="csl-subject-title">Chemestry Subject chapter number 2</h3>
            <p class="csl-subject-description">Phasellus nec mi quam. Integer congue semper sem, ac dignissim orci mattis id. Nunc ultrices mollis imperdiet. Vivamus ut neque lacinia.</p>
            <button type="button" class="btn btn-sm btn-default">download <span class="glyphicon glyphicon-download-alt"></span></button>
        </div>

        <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
            <img src="/content/images/chem-subject.jpg" alt="Chemestry" />
            <h3 class="csl-subject-title">Chemestry Subject chapter number 2</h3>
            <p class="csl-subject-description">Phasellus nec mi quam. Integer congue semper sem, ac dignissim orci mattis id. Nunc ultrices mollis imperdiet. Vivamus ut neque lacinia.</p>
            <button type="button" class="btn btn-sm btn-default">View <span class="glyphicon glyphicon-eye-open"></span></button>
        </div>

        <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
            <img src="/content/images/chem-subject.jpg" alt="Chemestry" />
            <h3 class="csl-subject-title">Chemestry Subject chapter number 2</h3>
            <p class="csl-subject-description">Phasellus nec mi quam. Integer congue semper sem, ac dignissim orci mattis id. Nunc ultrices mollis imperdiet. Vivamus ut neque lacinia.</p>
            <button type="button" class="btn btn-sm btn-default">download <span class="glyphicon glyphicon-download-alt"></span></button>
        </div>

        <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
            <img src="/content/images/chem-subject.jpg" alt="Chemestry" />
            <h3 class="csl-subject-title">Chemestry Subject chapter number 2</h3>
            <p class="csl-subject-description">Phasellus nec mi quam. Integer congue semper sem, ac dignissim orci mattis id. Nunc ultrices mollis imperdiet. Vivamus ut neque lacinia.</p>
            <button type="button" class="btn btn-sm btn-default">View <span class="glyphicon glyphicon-eye-open"></span></button>
        </div>

        <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
            <img src="/content/images/chem-subject.jpg" alt="Chemestry" />
            <h3 class="csl-subject-title">Chemestry Subject chapter number 2</h3>
            <p class="csl-subject-description">Phasellus nec mi quam. Integer congue semper sem, ac dignissim orci mattis id. Nunc ultrices mollis imperdiet. Vivamus ut neque lacinia.</p>
            <button type="button" class="btn btn-sm btn-default">download <span class="glyphicon glyphicon-download-alt"></span></button>
        </div>

        <div class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
            <img src="/content/images/chem-subject.jpg" alt="Chemestry" />
            <h3 class="csl-subject-title">Chemestry Subject chapter number 2</h3>
            <p class="csl-subject-description">Phasellus nec mi quam. Integer congue semper sem, ac dignissim orci mattis id. Nunc ultrices mollis imperdiet. Vivamus ut neque lacinia.</p>
            <button type="button" class="btn btn-sm btn-default">View <span class="glyphicon glyphicon-eye-open"></span></button>
        </div>

    </div>
    <nav>
        <!-- Add class .pagination-lg for larger blocks or .pagination-sm for smaller blocks-->
        <ul class="pagination pull-right">
            <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </nav>
</div>
<!--Resources us page ends-->
