﻿@{
    ViewBag.Title = "FreeResource";
    Layout = "~/Views/Shared/_LayoutSmartLearning.cshtml";
}
<section>
    <div class="container">
        <div class="p-xl-5">
        </div>
    </div>
</section>
<main id="main">
    <section id="free-resources">
        <div class="container">
            <header class="section-header text-left">
                <h3>Free Resources</h3>
            </header>
            <div class="row about-cols" id="freeResources">
            </div>
            <div class="row about-cols" id="resourceVideos">
                @*<div class="col-md-4 wow " style="visibility: visible;">
                        <div class="about-col">
                            <div class="img">
                                <video width="350" controls>
                                    <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                                    <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
                                    Your browser does not support HTML5 video.
                                </video>
                            </div>
                            <h2 class="title"><a href="#">VIDEO 3</a></h2>
                            <p>
                                Creativity and innovation continued to drive us to a new high in our belief to transform the businesses around the world use right technology for accelerating development.
                            </p>
                        </div>
                    </div>*@
            </div>
        </div>
    </section><!-- #about -->
</main>
@section customcss{
    <style>
        #free-resources {
            background: #f4f4f4 center top no-repeat fixed;
            background-size: cover;
            padding: 60px 0 40px 0;
            position: relative;
        }

            #free-resources .about-col {
                background: #fff;
                border-radius: 0 0 4px 4px;
                box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
                margin-bottom: 20px;
            }

                #free-resources .about-col h2 {
                    font-weight: 700;
                    font-size: 20px;
                    padding: 20px 10px 10px 20px;
                }

                    #free-resources .about-col h2 a {
                        color: #000;
                    }

        /*#free-resources .about-col ul,p{
        font-size: 14px;
        line-height: 24px;
        color: #333;
        padding: 0 20px 20px 40px;
        }*/
    </style>
}
<script>
    $(document).ready(function () {
        loadDetails();
        loadVideos();
    });

    //download
    function download(linkUrl) {
        window.open('http://localhost:51307/content/images/' + linkUrl);
    }

    //redirect
    function redirect(link) {
        window.open('http://' + link, '_blank');
    }

    // sub-items
    function createList(id) {
        var subItems = '';
        var ajaxRequest = $.ajax({
            type: "Get",
            url: baseURL + "/FreeResources/get-free-resources?rtId=" + id,
            contentType: false,
            processData: false,
            async: false
        });

        ajaxRequest.done(function (xhr, textStatus) {
            var html = '<ul style="padding-bottom:20px;">';
            $.each(xhr, function (key, item) {
                if (item.IsDoc) {
                    html += '<li><a href="" onclick="download(\'' + item.DocPath + '\')">' + item.LinkTitle + '</a><br/></li>'
                }
                else {
                    html += '<li><a href="" onclick="redirect(\'' + item.LinkUrl + '\')">' + item.LinkTitle + '</a><br/></li>'
                }
            });
            html += '</ul>';
            subItems = html;
        });
        return subItems;
    }

    function loadDetails() {
        var ajaxRequest = $.ajax({
            type: "Get",
            url: baseURL + "/FreeResources/get-resource-title",
            contentType: false,
            processData: false
        });

        ajaxRequest.done(function (xhr, textStatus) {
            var html = '';
            $.each(xhr, function (key, item) {
                html += '<div class="col-md-6 wow">' +
                    '<div class="about-col">' +
                    '<h2 class="title"><a href="#">' + item.Title + '</a></h2>';
                html += createList(item.ID);

                html += '</div>' +
                    '</div>';
            });
            $("#freeResources").html(html);
        });
    }

    function loadVideos() {
        var ajaxRequest = $.ajax({
            type: "Get",
            url: baseURL + "/FreeResources/videos",
            contentType: false,
            processData: false,
            async: false
        });

        ajaxRequest.done(function (xhr, textStatus) {
            console.log(xhr);
            var html = '';
            $.each(xhr, function (key, item) {
                html += '<div class="col-md-4 wow " style="visibility: visible;">' +
                    '<div class="about-col">' +
                    '<div class="img">' +
                    '<video width="350" controls>' +
                    '<source src="' + item.LinkUrl + '" type="video/mp4">' +
                    '<source src="' + item.LinkUrl + '" type="video/ogg">' +
                    ' Your browser does not support HTML5 video.' +
                    '</video>' +
                    '</div>' +
                    '<h2 class="title"><a href="#">' + item.LinkTitle + '</a></h2>' +
                    '</div>' +
                    '</div>';
            });
            console.log(html);
            $("#resourceVideos").html(html);
        });
    }
</script>


