﻿@{
    ViewBag.Title = "Free Resource";
    Layout = "~/Views/Shared/_LayoutSmartLearning.cshtml";
}
<section>
    <div class="container">
        <div class="p-xl-5">
            <div style="margin:30px 0 0 0">
            </div>
        </div>
    </div>
</section>
<main id="main">
    <section id="portfolio" class="section-bg">
        @using (Html.BeginForm("FreeResource", "SmartLearning", FormMethod.Post))
    {
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="modal fade" tabindex="-1" id="loginModal"
                                     data-keyboard="false" data-backdrop="static">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">
                                                    ×
                                                </button>
                                                <h4 class="modal-title">Free Resource Login</h4>
                                            </div>
                                            <div class="modal-body">



                                                <div class="form-group">
                                                    <input class="form-control" type="text" name="Email"
                                                           placeholder="EmailID" />
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="Phone" name="PhoneNumber"
                                                           type="number" />
                                                </div>



                                            </div>
                                            <div style="text-align:center;padding-bottom: 10px;">
                                                <button type="submit" id="btnsubmit" class="btn btn-success button button4">
                                                    Subscribe
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- JS includes -->
        <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <!-- CSS Includes -->
        <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
        <div class="container">
            <div class="section-container pure-g">
                <div class="bottom-section container-fixed pure-u-7-8 pure-u-md-11-12">
                    <h2 class="title">
                        NCERT Solutions for Maths &amp; Science Books
                    </h2>
                    <p class="description" itemprop="description">
                        We provide you the detailed solutions for all questions from NCERT or CBSE text book as per CCE marking scheme pattern, to help you in day to day learning and excel in term end or year end examinations conducted by CBSE.
                        NCERT solutions provide detailed, step-by-step solutions to all questions in an NCERT textbook. They are an invaluable aid to students when they need help with their homework, while preparing for exams and while learning.
                        If you face issues or find difficult to answer or solve questions from NCERT books or you find it diffcult to understand how to approach a problem , Vedantu is one stop solution.
                        NCERT Solutions for class 6, 7, 8, 9, 10 , 11 &amp; 12 can be access through  the links below.
                    </p>
                    <div class="links">

                    </div>
                </div>
            </div>
        </div>
        <div class="content-flex">
            <div class="content-container pure-u-1">
                <div class="section-container pure-g">
                    <div class="section container-fixed pure-u-7-8 pure-u-md-11-12">
                        <div class="section-container pure-g">
                            <div class="section section-modules pure-u-1 pure-u-lg-17-24 pure-u-xl-3-4">
                                <div class="modules pure-g">

                                    <div class="module-container pure-u-1 pure-u-md-1-2">
                                        <div class="module" itemprop="articleSection">

                                            <ul></ul>
                                        </div>
                                    </div>

                                    <div class="module-container pure-u-1 pure-u-md-1-2">
                                        <div class="module" itemprop="articleSection">
                                            <h3 class=""></h3>
                                            <ul></ul>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="section-container pure-u-1 pure-u-lg-7-24 pure-u-xl-1-4">
                                <div class="section section-sidebars pure-g">

                                    <div class="module-container sidebar-container pure-u-1 pure-u-sm-1 pure-u-md-1-2 pure-u-lg-1">
                                        <div class="sidebar" itemprop="articleSection">
                                            <h3 class=""></h3>
                                            <ul></ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
    </section>
        

</main>
<section>
    <div class="container">
        <div class="p-xl-5">
        </div>
    </div>
</section>
<script type="text/javascript" language="javascript">
$("#btnsubmit").click(function () {
    $("#loginModal").modal('hide');
});
$(document).ready(function () {
    debugger;
    var email='@ViewBag.email';
    if (email == "")
    {
        $("#loginModal").modal('show');
    }
});
</script>



