﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutSmartLearning.cshtml";
}
<link href="~/Content/SmartlearningCustom.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
@*<script src="~/Scripts/Customjs/jquery-2.1.3.min.js"></script>*@
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<style>
    /*#divProcessing {
position: absolute;
top: 50%;
left: 50%;
margin: -50px 0px 0px -50px;
}
    #msform {
position: relative;
}*/

    .modal {
            position: fixed;
            z-index: 999;
            height: 100%;
            width: 100%;
            top: 0;
            background-color: Black;
            filter: alpha(opacity=60);
            opacity: 0.6;
            -moz-opacity: 0.8;
            display: none;
        }
        .center {
            position: absolute;
top: 50%;
left: 50%;
margin: -50px 0px 0px -50px;
            z-index: 1000;
            /*margin: 50px auto;*/
            /*padding: 10px;
            width: 130px;*/
            /*background-color: transparent;*/
            /*border-radius: 10px;
            filter: alpha(opacity=100);
            opacity: 1;
            -moz-opacity: 1;*/
        }

</style>

@using (Html.BeginForm("Login", "SmartLearning", FormMethod.Post, new { id = "msform" }))
{
	if(Request.HttpMethod=="GET")
         {
             ViewBag.Result = " ";
          }
<!-- multistep form -->
@*<form id="msform">*@
    <!-- progressbar -->
    <!-- fieldsets -->
    <fieldset>
        <h2 class="fs-title">Login your account</h2>
        <input type="text" name="UserName" placeholder="Email" required/>
        <input type="password" name="Password" placeholder="Password" required/>
        <input type="submit" name="login" class="next action-button" value="Login" id="btnLogin"/>
		<div class="clear"></div>
		<span class='pull-right control-group'><a href='@Url.Action("ForgotPassword", "SmartLearning")'><span>Forgot Password</span></a></span>
		<span class='pull-left control-group'><a href='@Url.Action("Register", "SmartLearning")'><span>Register</span></a>
		</span>
    </fieldset>
    <div id="divProcessing" hidden="hidden" class="modal">
        <div class="center"><img src="~/Images/Preloader_3.gif" /></div>  

    </div>
@*</form>*@
}
<script>
    $(document).ready(function () {
        var myJsVariable = '@ViewBag.Registration';
        var result = '@ViewBag.Result';
        if(myJsVariable!= "")
        {
            if (result == "Success") {
                alertify.set('notifier', 'position', 'top-center');
                alertify.success(myJsVariable);
            }
            else {
                alertify.set('notifier', 'position', 'top-center');
                alertify.error(myJsVariable);

            }
           
        }



    });


    $('#btnLogin').click(function () {
        $('#divProcessing').show();
    });
</script>
