﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutSmartLearning.cshtml";
}



<div class="top-content csl-registration">
    <div class="container csl-loginformholder">
        <!-- MultiStep Form -->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                @if (ViewBag.Message != null)
                {
                    <div class="alert">
                        <div class="alert-success">
                            <p style="padding:10px">@ViewBag.Message</p>
                        </div>
                    </div>
                }

            </div>
            <div class="col-md-6 col-md-offset-3">


                <form id="msform">
                    <!-- fieldsets -->
                    <div id="errormessage"></div>
                    @using (Html.BeginForm("Login", "SmartLearning", FormMethod.Post, new { id = "msform", @class = "form" }))
                    {
                    <fieldset>
                        <h2 class="fs-title">LOGIN</h2>
                        <input type="email" name="UserName" placeholder="Your Email" class="csl-email form-control" id="txtemail" required="required">
                        <div class="validation"></div>
                        <input type="password" name="Password" class="csl-password form-control" id="txtpass" placeholder="Your Password" pattern=".{6,}" required="required" title="6 characters minimum">
                        <div class="validation"></div>

                        @*<button type="submit" name="login" class="submit action-button" value="Login" id="btnLogin" />*@
                        <button type="submit" name="login" class="btn btn-info btn-sm" value="Login" id="btnLogin">Login</button>
                        <div class="col-md-5"><a href='@Url.Action("ForgotPassword", "SmartLearning")'>Forgot password</a></div>
                    </fieldset>
                    }
                </form>

            </div>
        </div>
        <!-- /.MultiStep Form -->


    </div>
</div>
<!--Login page ends-->

@section scripts{
    <script>
        var baseURL = '@System.Configuration.ConfigurationManager.AppSettings["ApiUrl"]';
    </script>
    <script src="@Url.Content("~/js/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/login.js")?" @DateTime.Now.Ticks type="text/javascript"></script>
}
