﻿
@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/admin/dash")">Home</a></li>
            <li class="breadcrumb-item active">Notifications</li>
        </ul>
    </div>
</div>
<section class="charts">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display pull-left">Notifications</h1>
          
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive">
                            <h2 class="text-muted">No new Notifications</h2>
                            <!-- /.table-responsive -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


