﻿
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_LayoutSmartLearning.cshtml";
}

<!--Registeration page-->

<div class="top-content csl-registration">
    <div class="container csl-formholder">
       
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <h1>TUTOR REGISTERATION</h1>
                <h3>Is teaching your passion, come join us !</h3>
                <form id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active">ACCOUNT SETUP</li>
                        <li>EDUCATIONAL DETAILS</li>
                        <li>PERSONAL DETAILS</li>
                    </ul>
                    <!-- fieldsets -->
                    <fieldset>
                        <h2 class="fs-title">CREATE YOUR CONTACT</h2>
                        <h3 class="fs-subtitle">Your username and password</h3>
                        <input type="email" name="Email" placeholder="Email" class="csl-email form-control" id="txtemail" required="required">
                        <input type="password" name="Pass" class="csl-password form-control" id="txtpass" placeholder="Password" pattern=".{6,}" required="required" title="6 characters minimum">
                        <small class="pull-right text-muted" style="margin:-5px auto 10px auto;color:#999">Minimum 6 characters</small>
                        <input type="password" name="f1-repeat-password" placeholder="Repeat password..." class="f1-repeat-password form-control" id="f1-repeat-password" required="required">
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <h2 class="fs-title">EDUCATIONAL DETAILS</h2>
                        <h3 class="fs-subtitle">What you want to learn</h3>
                        <input type="text" name="HighestEducation" placeholder="Highest Education" class="csl-highest-education form-control" id="txtHighestEducation">
                        <input type="text" name="AreasYouTeach" placeholder="Areas you teach" class="csl-subject-name form-control" id="txtdescription">
                        <input type="text" name="SubjectYouTeach" placeholder="Subject You Teach" class="csl-educational-board form-control" id="txtuniversity">
                        <input type="time" name="tutortime" placeholder="select your timing" class="csl-comments form-control" id="tutortime" title="your timing">
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <h2 class="fs-title">PERSONAL DETAILS</h2>
                        <h3 class="fs-subtitle">About you</h3>
                        <input type="text" name="FirstName" placeholder="First Name" class="csl-first-name form-control" id="txtFname" required="required">
                        <input type="text" name="LastName" placeholder="Last Name" class="csl-last-name form-control" id="txtLname">
                        <input type="text" name="PhoneNumber" placeholder="Phone" class="csl-phone form-control" id="txtphone" required="required">
                        <textarea name="address" placeholder="Address" class="f1-address form-control" id="txtaddress" required="required"></textarea>
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        <input type="submit" name="submit" class="submit action-button" value="Submit" />
                    </fieldset>
                </form>

            </div>
        </div>
        


    </div>
</div>
<!--Registeration page ends-->

