﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutSmartLearning.cshtml";
}
<link href="~/Content/SmartlearningCustom.css" rel="stylesheet" />
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<style>
    /*#divProcessing {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0px 0px -50px;
    }
        #msform {
    position: relative;
    }*/

    .modal {
        position: fixed;
        z-index: 999;
        height: 100%;
        width: 100%;
        top: 0;
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
        -moz-opacity: 0.8;
        display: none;
    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0px 0px -50px;
        z-index: 1000;
        /*margin: 50px auto;*/
        /*padding: 10px;
                width: 130px;*/
        /*background-color: transparent;*/
        /*border-radius: 10px;
                filter: alpha(opacity=100);
                opacity: 1;
                -moz-opacity: 1;*/
    }
</style>

<main id="main">
    <section id="portfolio" class="section-bg">
        <div class="container">
            <p class="text-center">Strike the right key to Success</p>
            <header class="section-header">
                <h3 class="section-title" style="text-transform:none">Need innovative personalized learning? </h3>
                <h5 class="text-center">Register Now for a Demo</h5>
            </header>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    @using (Html.BeginForm("Register", "SmartLearning", FormMethod.Post, new { id = "msform" }))
                    {
                        <!-- multistep form -->
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active">Account Setup</li>
                            <li>Education Details</li>
                            <li>Personal Details</li>
                        </ul>
                        <!-- fieldsets -->
                        <fieldset>
                            <h2 class="fs-title">Create your account</h2>
                            <input type="email" name="Email" placeholder="Email" id="txtemail" />
                            <input type="password" name="Pass" id="txtpass" placeholder="Password" pattern=".{6,}" required title="6 characters minimum" />
                            <small class="pull-right text-muted" style="margin:-5px auto 10px auto">Minimum 6 characters</small>
                            <input type="password" name="cpass" id="txtconpass" placeholder="Confirm Password" />
                            <input type="button" id="btn1next" name="next" class="next action-button" value="Next" />

                        </fieldset>
                        <fieldset>
                            <h2 class="fs-title">Education Details</h2>
                            <input type="text" name="HighestEducation" placeholder="Highest Education" id="txtHighestEducation" />
                            <input type="text" name="SubjectYouTeach" placeholder="Education Board" id="txtuniversity" />
                            <input type="text" name="AreasYouTeach" placeholder="Subject name tutor is required for" id="txtdescription" />
                            <input type="text" name="ClassName" placeholder="Class" id="txtClassName" required />
                            <textarea type="text" name="description" placeholder="Comments"></textarea>
                            <input type="button" name="previous" id="btn1prev" class="previous action-button" value="Previous" />
                            <input type="button" id="btn2next" name="next" class="next action-button" value="Next" />
                        </fieldset>
                        <fieldset>
                            <h2 class="fs-title">Personal Details</h2>
                            <input type="text" name="FirstName" placeholder="First Name" id="txtFname" />
                            <input type="text" name="LastName" placeholder="Last Name" id="txtLname" />
                            <input type="text" name="PhoneNumber" placeholder="Phone" id="txtphone" required />
                            <textarea name="address" placeholder="Address" id="txtaddress"></textarea>
                            <input type="button" name="previous" id="btn2prev" class="previous action-button" value="Previous" />
                            <input type="submit" name="submit" class="submit action-button" value="Submit" id="btnSubmit" />
                        </fieldset>
                    }
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>
</main>

<div id="divProcessing" hidden="hidden" class="modal">
    <div class="center"><img src="~/Images/Preloader_3.gif" /></div>

</div>
<script>
      $(document).ready(function () {
        var myJsVariable = '@ViewBag.Registration';
        var result = '@ViewBag.Result';
        if(myJsVariable!= "")
        {
            if (result == "Success") {
                alertify.set('notifier', 'position', 'top-center');
                alertify.success(myJsVariable);
            }
            else {
                alertify.set('notifier', 'position', 'top-center');
                alertify.error(myJsVariable);

            }

        }

    });
    var ValidateEmail = function () {
        if ($('#txtemail').val() == "" || $('#txtemail').val().length == 0) {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error("Email Required.");
            return false;
        }
        else {
            //$('#txtpass').focus();
            return true;
        }
    }
    var ValidatePwd = function () {
        if ($('#txtpass').val() == null || $('#txtpass').val() == "") {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error("Password Required.");
            return false;
        }
        else {
            if ($('#txtpass').val().length < 6) {
                alertify.set('notifier', 'position', 'top-center');
                alertify.error("Password should be minimum of 6 characters.");
                return false;
            }
            return true;
        }

    }
    var ValidateConPwd = function () {
        if ($('#txtconpass').val() == null || $('#txtconpass').val() == "") {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error(" Confirm Password Required.");
            return false;
        }
        else {
            return true;
        }

    }
    var PasswordCheck = function () {
        if (ValidateConPwd() && ValidatePwd()) {
            if ($('#txtpass').val() != $('#txtconpass').val()) {
                alertify.set('notifier', 'position', 'top-center');
                alertify.error("Password and confirm password should be same.");
                return false;
            }
            else {
                return true;
            }
            return true;

        }
        else {
            // $("#btn-submit").attr("disabled", false);
            valid();
            return true;
        }
    }
    var ValidateHigherEduction = function () {
        if ($('#txtHighestEducation').val() == null || $('#txtHighestEducation').val() == "") {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error("Highest Education is required.");
            return false;
        }
        else if ($('#txtuniversity').val() == null || $('#txtuniversity').val() == "") {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error("University is required.");
            return false;
        }
        else if ($('#txtdescription').val() == null || $('#txtdescription').val() == "") {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error("Description is required.");
            return false;
        }
        else if ($('#txtClassName').val() == null || $('#txtClassName').val() == "") {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error("Class is required.");
            return false;
        }
        else {
            return true;
        }
    };

    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $("#btn1next").click(function () {

        if (ValidateEmail() == true && ValidatePwd() == true && ValidateConPwd() == true && PasswordCheck()==true)
            {
        if (animating) return false;
        animating = true;

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();

        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({ opacity: 0 }, {
            step: function (now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50) + "%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({
                    'transform': 'scale(' + scale + ')',
                    'position': 'absolute'
                });
                next_fs.css({ 'left': left, 'opacity': opacity });
            },
            duration: 800,
            complete: function () {
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
        }
    });
    $("#btn2next").click(function () {
        if (ValidateHigherEduction() == true) {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //activate next step on progressbar using the index of next_fs
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 50) + "%";
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({
                        'transform': 'scale(' + scale + ')',
                        'position': 'absolute'
                    });
                    next_fs.css({ 'left': left, 'opacity': opacity });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        }
    });

    $("#btn1prev").click(function () {

            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale previous_fs from 80% to 100%
                    scale = 0.8 + (1 - now) * 0.2;
                    //2. take current_fs to the right(50%) - from 0%
                    left = ((1 - now) * 50) + "%";
                    //3. increase opacity of previous_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({ 'left': left });
                    //previous_fs.css({ 'transform': 'scale(' + scale + ')', 'opacity': opacity });
                    previous_fs.removeAttr("style")
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
    });
    $("#btn2prev").click(function () {
        if (animating) return false;
        animating = true;

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();
        //hide the current fieldset with style
        current_fs.animate({ opacity: 0 }, {
            step: function (now, mx) {
                ////as the opacity of current_fs reduces to 0 - stored in "now"
                ////1. scale previous_fs from 80% to 100%
                //scale = 0.8 + (1 - now) * 0.2;
                ////2. take current_fs to the right(50%) - from 0%
                //left = ((1 - now) * 50) + "%";
                ////3. increase opacity of previous_fs to 1 as it moves in
                //opacity = 1 - now;
                current_fs.css({ 'left': left });
                previous_fs.removeAttr("style")
                previous_fs.attr({ 'style': 'display: block; left: 0%; opacity: 1;' });
               // previous_fs.removeAttr("style")
            },
            duration: 800,
            complete: function () {
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });
    $("#btnSubmit").click(function () {
        $('#divProcessing').show();

        if ($('#txtphone').val() == null || $('#txtphone').val() == "") {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error(" Phone is Required.");
            return false;
        }
        else {
            return true;
        }
    });

    $(document).ready(function () {
        $('#txtemail').focus();
    });

</script>

