﻿@model ConnectSmartConsulting.Models.ContactDetails
@{
    ViewBag.Title = "SmartLearningContact";
    Layout = "~/Views/Shared/_LayoutSmartLearning.cshtml";
}
@*<script src="http://maps.google.com/maps/api/js?key=AIzaSyCSWHVFiAPbN-VuULV4MQMBl2OUnCfT8JU" type="text/javascript"></script>*@
<section>
    <div class="container">
        <div class="p-xl-5">
            <div style="margin:80px 0 0 0"></div>
        </div>
    </div>
</section>
<main id="main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <header class="section-header">
                        <h3 class="pull-left">Contact</h3>
                    </header>
                </div>
                <div class="clearfix"></div>
                <div class="alert" style="display:none">
                    <div class="alert-success p-2">
                        <span>@ViewBag.Message</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    @using (Html.BeginForm("SmartLearningContact", "SmartLearning", FormMethod.Post))
                    {
                        <div class="form">
                            <div id="errormessage"></div>
                            <form action="" method="post" role="form" class="contactForm">
                                    <div class="form-group">
                                        <input type="text" name="Name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="Email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                        <div class="validation"></div>
                                    </div>

                                <div class="form-group">
                                    <input type="number" class="form-control" name="Phone" id="number" placeholder="Your Phone No" data-rule="minlen:10" data-msg="Please enter a valid Phone No" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="Message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center"><button type="submit" class="btn btn-info">Send Message</button></div>
                            </form>
                        </div>
                        @Html.HiddenFor(m => m.SelectedService)
                    }
                </div>
                <div class="col-md-8 col-xs-12 ">
                    @*<div class="pull-right">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60908.34210603817!2d78.3483069781457!3d17.422755779960607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93ee145290d3%3A0xf8a64c8fcdbd59cd!2sConnect+Smart+Consulting!5e0!3m2!1sen!2s!4v1508927804624" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <address>
                            <div style="border:solid 1px #ccc;margin-top:-10px;width:300px;padding:20px 10px">
                                <small class="address">2-48/97, Telecom Nagar, Gachi Bowli, Hyderabad, India</small>
                            </div>
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 ">*@
                    <div class="pull-right">
                        <html>
                        <head>
                            <script src="http://maps.google.com/maps/api/js?key=AIzaSyCSWHVFiAPbN-VuULV4MQMBl2OUnCfT8JU" type="text/javascript"></script>
                        </head>
                        <body>
                            <div id="map" style="height: 300px; width: 500px;">
                            </div>
                            <script type="text/javascript">
                                var locations = [

                                    ['2-48/97, Telecom Nagar, Gachi Bowli, Hyderabad, India', 17.433987, 78.3662053, 1],
                                    ['F 262, Phase 8 Indl Area, Mohali (Chandigarh Tricity Region), India', 30.711978, 76.690953, 2]
                                ];

                                var map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 4,
                                    center: new google.maps.LatLng(23.92, 77),
                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                });

                                var infowindow = new google.maps.InfoWindow();

                                var marker, i;

                                for (i = 0; i < locations.length; i++) {
                                    marker = new google.maps.Marker({
                                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                                        map: map
                                    });

                                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                        return function () {
                                            infowindow.setContent(locations[i][0]);
                                            infowindow.open(map, marker);
                                        }
                                    })(marker, i));
                                }
                            </script>
                        </body>
                        </html>
                        @*<html>
                        <head>
                            <style>
                                /* Set the size of the div element that contains the map */
                                #map {
                                    height: 300px; /* The height is 400 pixels */
                                    width: 100%; /* The width is the width of the web page */
                                }
                            </style>
                        </head>
                        <body>
                            <!--The div element for the map -->
                            <div id="map"></div>
                            <script>
                                // Initialize and add the map
                                function initMap() {
                                    // The location of Uluru
                                    //var locations = [[lat: 30.711978, lng: 76.690953, 2], [lat: 17.433987, lng: 78.3662053, 1]]
                                    var locations = [
                                        ['Bondi Beach', 17.433987, 78.3662053, 1],
                                        ['Coogee Beach', 30.711978, 76.690953, 2],

                                    ];

                                    var uluru = { lat: 30.711978, lng: 76.690953 };//30.711978, 76.690953 :17.433987,78.3662053
                                    // The map, centered at Uluru
                                    var map = new google.maps.Map(
                                        document.getElementById('map'), { zoom: 2 });

                                    var marker, i;

                                    for (i = 0; i < locations.length; i++) {
                                        marker = new google.maps.Marker({
                                            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                                            map: map
                                        });
                                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                            return function () {
                                                infowindow.setContent(locations[i][0]);
                                                infowindow.open(map, marker);
                                            }
                                        })(marker, i));
                                    }
                                    // The marker, positioned at Uluru
                                    //var marker = new google.maps.Marker({ position: uluru, map: map });
                                }
                            </script>
                            <!--Load the API from the specified URL
                            * The async attribute allows the browser to render the page while the API loads
                            * The key parameter will contain your own API key (which is not needed for this tutorial)
                            * The callback parameter executes the initMap() function
                            -->
                            <script async defer
                                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSWHVFiAPbN-VuULV4MQMBl2OUnCfT8JU&callback=initMap">
                            </script>
                        </body>
                    </html>*@
                    @*<address>
                        <div style="border:solid 1px #ccc;margin-top:-10px;width:300px;padding:20px 10px">
                            <small class="address">F 262, Phase 8 Indl Area, Mohali (Chandigarh Tricity Region), India</small>
                        </div>
                    </address>*@
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <div style="padding:40px 8px;font-size:16px;border-right:solid 1px #E5E5E5;">
                    <i class="fa fa-phone"></i> <a href="tel://1235235598" style="color:#808080">+91 9618242427</a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding:40px 8px;font-size:16px;border-right:solid 1px #E5E5E5">
                    <i class="fa fa-envelope"></i> <a href="mailto:info@yoursite.com" style="color:#808080">support@connectsmartconsulting.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="padding:40px 8px;font-size:16px;">
                    <i class="fa fa-globe"></i> <a href="#" style="color:#808080">http://www.connectsmartconsulting.com</a>
                </div>
            </div>
        </div>
        <hr />
    </div>
</section>
</main>

@section scripts{
    <script>
        (function ($) {
           var msg = '@ViewBag.Message';
            if (msg) {
                $(".alert").show();
                setTimeout(function () {
                    $(".alert").hide();
                }, 5000);
            }
        })(jQuery);
    </script>
}
