﻿
@{
    ViewBag.Title = "TutorRegister";
    Layout = "~/Views/Shared/_LayoutSmartLearning.cshtml";
}
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<section>
    <div class="container">
        <div class="p-xl-5">
            <div style="margin:30px 0 0 0">
            </div>
        </div>
    </div>
</section>
<main id="main">
    <section id="portfolio" class="section-bg">
        <div class="container">
            <p>Strike the right key to Success</p>
            <header class="section-header">
                <h3 class="section-title">Create Your Account</h3>
            </header>
            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">Account Setup</li>
                        <li data-filter=".filter-app">Education Details</li>
                        <li data-filter=".filter-card">Personal Details</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 col-xs-12">
                    <section id="contact" class="section-bg wow fadeInUp">
                        <div class="container">
                            <div class="form">
                                <div id="errormessage"></div>
                                @using (Html.BeginForm("Login", "SmartLearning", FormMethod.Post, new { id = "msform1", @class = "form" }))
                        {
                            if (Request.HttpMethod == "GET")
                            {
                                ViewBag.Result = " ";
                            }
                            <div class="form-group">
                                <input type="text" name="txtemail" id="txtemail" placeholder="Email" required class="form-control" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="password" name="Password" id="txtpass" placeholder="Password" required class="form-control" maxlength="6" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="password" name="ConfirmPassword" id="txtconpass" placeholder="Confirm Password" required class="form-control" maxlength="6" />
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <div class="text-left">
                                    <button type="button" name="login" class="btn btn-info btn-sm" value="Login" id="btn1next">Next</button>
                                </div>
                                <div class="clear"></div>
                                <span class='pull-right control-group'><a href='@Url.Action("ForgotPassword", "SmartLearning")'><span>Forgot Password</span></a></span>
                                <span class='pull-left control-group'>
                                    <a href='@Url.Action("Register", "SmartLearning")'><span>Register</span></a>
                                </span>
                            </div>
                }
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>
</main>
<section>
    <div class="container">
        <div class="p-xl-5">
        </div>
    </div>
</section>

@using (Html.BeginForm("TutorRegister", "SmartLearning", FormMethod.Post, new { id = "msform" }))
{
    if (Request.HttpMethod == "GET")
    {
        ViewBag.Result = " ";
    }

    <fieldset style="display:none">
        <h2 class="fs-title">Education Details</h2>
        @*<h3 class="fs-subtitle">Your present education</h3>*@
        <input type="text" name="HighestEducation" placeholder="Highest Education" id="txtHighestEducation" />
        <input type="text" name="AreasYouTeach" placeholder="AreasYouTeach" id="txtAreasYouTeach" />
        <input type="text" name="SubjectYouTeach" placeholder="SubjectYouTeach" id="txtSubjectYouTeach" />
        <input type="text" name="TimeAvailibility" placeholder="TimeAvailibility" id="txtTimeAvailibility" />
        <input type="button" name="previous" id="btn1prev" class="previous action-button" value="Previous" />
        <input type="button" id="btn2next" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset style="display:none">
        <h2 class="fs-title">Personal Details</h2>
        @*<h3 class="fs-subtitle">We will never sell it</h3>*@
        <input type="text" name="FirstName" placeholder="First Name" />
        <input type="text" name="LastName" placeholder="Last Name" required />
        <input type="text" name="PhoneNumber" placeholder="Phone" required />
        <input type="text" name="CurrentCity" placeholder="Current City" required />
        <textarea name="address" placeholder="Address" required></textarea>
        <input type="button" name="previous" id="btn2prev" class="previous action-button" value="Previous" />
        <input type="submit" name="submit" class="submit action-button" value="Submit" id="btnSubmit" />
    </fieldset>
    <div id="divProcessing" hidden="hidden" class="modal">
        <div class="center"><img src="~/Images/Preloader_3.gif" /></div>
    </div>
}
<script>
    $(document).ready(function () {
        var myJsVariable = '@ViewBag.Registration';
        var result = '@ViewBag.Result';
        if(myJsVariable!= "")
        {
            if (result == "Success") {
                alertify.set('notifier', 'position', 'top-center');
                alertify.success(myJsVariable);
            }
            else {
                alertify.set('notifier', 'position', 'top-center');
                alertify.error(myJsVariable);

            }

        }

    });
    var ValidateEmail = function () {
        if ($('#txtemail').val() == "" || $('#txtemail').val().length == 0) {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error("Email Required.");
            return false;
        }
        else {
            //$('#txtpass').focus();
            return true;
        }
    }
    var ValidatePwd = function () {
        if ($('#txtpass').val() == null || $('#txtpass').val() == "") {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error("Password Required.");
            return false;
        }
        else {
            //$('#txtconpass').focus();
            return true;
        }

    }
    var ValidateConPwd = function () {
        if ($('#txtconpass').val() == null || $('#txtconpass').val() == "") {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error(" Confirm Password Required.");
            return false;
        }
        else {
            return true;
        }

    }
    var PasswordCheck = function () {
        if (ValidateConPwd() && ValidatePwd()) {
            if ($('#txtpass').val() != $('#txtconpass').val()) {
                alertify.set('notifier', 'position', 'top-center');
                alertify.error("Password and confirm password should be same.");
                return false;
            }
            else {

                return true;

            }
            return true;

        }
        else {
            // $("#btn-submit").attr("disabled", false);
            valid();
            return true;
        }
    }
    var ValidateHigherEduction = function () {
        if ($('#txtHighestEducation').val() == null || $('#txtHighestEducation').val() == "") {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error("Highest Education Required.");
            return false;
        }
        else if ($('#txtAreasYouTeach').val() == null || $('#txtAreasYouTeach').val() == "") {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error("Area Required.");
            return false;
        }
        else if ($('#txtSubjectYouTeach').val() == null || $('#txtSubjectYouTeach').val() == "") {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error("Subject Required.");
            return false;
        }
        else if ($('#txtTimeAvailibility').val() == null || $('#txtTimeAvailibility').val() == "") {
            alertify.set('notifier', 'position', 'top-center');
            alertify.error("Time availability Required.");
            return false;
        }
        else {
            return true;
        }
    };

    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $("#btn1next").click(function () {

        if (ValidateEmail() == true && ValidatePwd() == true && ValidateConPwd() == true && PasswordCheck()==true)
            {
        if (animating) return false;
        animating = true;

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();

        //activate next step on progressbar using the index of next_fs
        $("#portfolio-flters li").eq($("fieldset").index(next_fs)).addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({ opacity: 0 }, {
            step: function (now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50) + "%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({
                    'transform': 'scale(' + scale + ')',
                    'position': 'absolute'
                });
                next_fs.css({ 'left': left, 'opacity': opacity });
            },
            duration: 800,
            complete: function () {
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
        }
    });
    $("#btn2next").click(function () {
        if (ValidateHigherEduction() == true) {

            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //activate next step on progressbar using the index of next_fs
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 50) + "%";
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({
                        'transform': 'scale(' + scale + ')',
                        'position': 'absolute'
                    });
                    next_fs.css({ 'left': left, 'opacity': opacity });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        }
    });

    $("#btn1prev").click(function () {
        if (animating) return false;
        animating = true;

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();
        //hide the current fieldset with style
        current_fs.animate({ opacity: 0 }, {
            step: function (now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale previous_fs from 80% to 100%
                scale = 0.8 + (1 - now) * 0.2;
                //2. take current_fs to the right(50%) - from 0%
                left = ((1 - now) * 50) + "%";
                //3. increase opacity of previous_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({ 'left': left });
                //previous_fs.css({ 'transform': 'scale(' + scale + ')', 'opacity': opacity });
                previous_fs.removeAttr("style")
            },
            duration: 800,
            complete: function () {
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });
    $("#btn2prev").click(function () {
        if (animating) return false;
        animating = true;

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();
        //hide the current fieldset with style
        current_fs.animate({ opacity: 0 }, {
            step: function (now, mx) {
                ////as the opacity of current_fs reduces to 0 - stored in "now"
                ////1. scale previous_fs from 80% to 100%
                //scale = 0.8 + (1 - now) * 0.2;
                ////2. take current_fs to the right(50%) - from 0%
                //left = ((1 - now) * 50) + "%";
                ////3. increase opacity of previous_fs to 1 as it moves in
                //opacity = 1 - now;
                current_fs.css({ 'left': left });
                previous_fs.removeAttr("style")
                previous_fs.attr({ 'style': 'display: block; left: 0%; opacity: 1;' });
               // previous_fs.removeAttr("style")
            },
            duration: 800,
            complete: function () {
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });
    $("#btnSubmit").click(function () {
        $('#divProcessing').show();
    });

    //$(".submit").click(function () {
    //    return false;
    //})

    $(document).ready(function () {
        $('#txtemail').focus();
    });

</script>


