﻿<!-- Modal -->
<section class="forms">
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("approve-tutor", "Admin", FormMethod.Post, new { id = "frmApproveT", enctype = "multipart/form-data" }))
                {
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tutor Approval: <strong class="text-muted" id="UName"></strong> </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Change Approval Status</label>
                            <select class="form-control" id="Status" name="Status">
                                <option value="True">Approved</option>
                                <option value="False">Not Approved</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Reason</label>
                            <textarea type="text" name="Reason" class="form-control" placeholder="Reason" required></textarea>
                            <input type="hidden" id="UserID" name="UserID" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
