﻿@model ConnectSmartConsulting.Models.UsersViewModel

<div class="modal " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("subscriptions", "Admin", FormMethod.Post, new { id = "frmApproveT", enctype = "multipart/form-data" }))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Assign Package <strong class="text-muted" id="UName"></strong> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Package</label>
                            @Html.DropDownList("Subscription", new SelectList(Model.Subscription, "SubscriptionId", "SubcriptionName"), "Select Package", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" id="datepickerStartDate" name="SubStartDate" placeholder="Start Date" class="form-control">
                            <div class="validation"></div>
                        </div>
                        <div class=" form-group col-md-6">
                            <input type="text" id="datepickerEndDate" name="SubEndDate" placeholder="End Date" class="form-control">
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Assign Tutor</label><br />
                            @Html.DropDownList("Tutor", new SelectList(Model.Tutors, "UserId", "FullName"), "",
                           new { @id= "Tutor", @class = "form-control", @multiple = "multiple", @style="width:192px !important" })
                        </div>
                    </div>
                </div>

                <input type="hidden" id="UserID" name="UserID" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            }
        </div>
    </div>
</div>
