﻿@model ConnectSmartConsulting.Models.UsersViewModel
<div class="modal " id="assignStudentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*@using (Html.BeginForm("assign-students", "admin", FormMethod.Post, new { id = "frmApproveT", enctype = "multipart/form-data" }))
                {*@
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Assign Students <strong class="text-muted" id="UName"></strong> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Assign Students</label><br />
                        @Html.DropDownList("Student", new SelectList(ViewBag.Students, "UserId", "FullName"), "",
                            new { @id = "Student", @class = "form-control", @multiple = "multiple", @style = "width:192px !important" })
                    </div>
                </div>
            </div>


            <input type="hidden" id="UserID" name="UserID" />
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="AssignStudent" class="btn btn-primary">Save changes</button>
            </div>
            @*}*@
        </div>
    </div>
</div>





