﻿
@{
    ViewBag.Title = "ResourceView";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/admin/index")">Home</a></li>
            <li class="breadcrumb-item "><a href="@Url.Content("~/admin/resources")">Resources</a></li>
            <li class="breadcrumb-item active">Add Resource</li>
        </ul>
    </div>
</div>

<section class="forms">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display pull-left">Add Resource</h1>
            <div class="pull-right">
                <a href="@Url.Content("~/admin/resources")"><i class="fa fa-list"></i> Resource</a>
            </div>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        @using (Html.BeginForm("add-resource", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>File Name</label>
                                    <input type="text" name="file" class="form-control" placeholder="File" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Description</label>
                                    <textarea name="Description" class="form-control" placeholder="Description" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Filename</label>
                                    <input type="file" class="form-control" name="file" id="file" />
                                </div>
                            </div>

                            <input type="submit" class="btn btn-primary" value="submit" />
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section scripts{
    <script>
        (function ($) {
            $("#resources").addClass("active");
        })(jQuery);
    </script>
}

