﻿
@{
    ViewBag.Title = "AddSession";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/admin/index")">Home</a></li>
            <li class="breadcrumb-item "><a href="@Url.Content("~/admin/sessions")">Session</a></li>
            <li class="breadcrumb-item active">Add Session</li>
        </ul>
    </div>
</div>

<section class="forms">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display pull-left">Add Session</h1>
            <div class="pull-right">
                <a href="@Url.Content("~/admin/sessions")"><i class="fa fa-list"></i> Session</a>
            </div>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        @using (Html.BeginForm("add-session", "Admin", FormMethod.Post, new { id = "form-session", enctype = "multipart/form-data" }))
                        {
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Tutor</label>
                                    <select class="form-control" id="Tutors" name="Tutors"></select>
                                    <input type="hidden" name="TutorID" id="TutorID" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Student</label>
                                    <select class="form-control" id="Students" name="Students"></select>
                                    <input type="hidden" name="StudentID" id="StudentID" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Meeting Name</label>
                                    <input type="text" name="MeetingName" class="form-control" placeholder="Meeting Name" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Meeting URL</label>
                                    <input type="text" name="MeetingUrl" class="form-control" placeholder="Meeting URL" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Meeting Date</label>
                                    <input type="text" name="StartDate" class="form-control" id="datepickerStartDate" placeholder="Meeting Date" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Time Range</label>
                                    <div id="datetimepickerDate" class="input-group timerange">
                                        <input class="form-control" type="text" name="StartTime">
                                        <span class="input-group-addon" style="">
                                            <i aria-hidden="true" class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <input type="submit" class="btn btn-primary .timepicker" value="submit" />
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section scripts{
    <script src="@Url.Content("~/Scripts/select2.min.js")"></script>
    <script src="~/js/custom-timepicker.js"></script>
    <script type="text/javascript" src="@Url.Content("~/js/admin/sessions.js")?v=@DateTime.Now.Ticks"></script>
    <script>
        (function ($) {
            $("#resources").addClass("active");
        })(jQuery);

        $(document).ready(function () {
            $("#datepickerStartDate").datepicker();
            $('#Tutor').select2({ width: 'resolve', width: '100%' });
        });
    </script>
}
@section customcss{
    <link rel="stylesheet" href="@Url.Content("~/content/css/select2.min.css")" />
    <link href="~/Content/custom-timepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
}
