﻿
@{
    ViewBag.Title = "AddSubscription";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/admin/index")">Home</a></li>
            <li class="breadcrumb-item "><a href="@Url.Content("~/admin/subscriptions")">Subscriptions</a></li>
            <li class="breadcrumb-item active">Add Subscription</li>
        </ul>
    </div>
</div>

<section class="forms">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display pull-left">Add Subscription</h1>
            <div class="pull-right">
                <a href="@Url.Content("~/admin/subscriptions")"><i class="fa fa-list"></i> Subscriptions</a>
            </div>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                       
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



