﻿@model ConnectSmartConsulting.Models.Users
@{
    ViewBag.Title = "Edit Student";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/admin/index")">Home</a></li>
            <li class="breadcrumb-item "><a href="@Url.Content("~/admin/students")">Students</a></li>
            <li class="breadcrumb-item active">Edit Student</li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display pull-left">Edit Student</h1>
            <div class="pull-right">
                <a href="@Url.Content("~/admin/students")"><i class="fa fa-list"></i> Students</a>
            </div>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        @using (Html.BeginForm("edit-student", "Admin", FormMethod.Post, new { id = "frmStudent", enctype = "multipart/form-data" }))
                        {
                            if (!string.IsNullOrEmpty(@ViewBag.Registration))
                            {
                                <div class="alert alert-danger">@ViewBag.Registration</div>
                            }

                            <h2 class="h5 display display text-muted">Account Information</h2>
                            <hr />
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Email</label>
                                    <input type="text" name="Email" value="@Model.UserName" class="form-control" placeholder="Email" readonly />
                                </div>
                            </div>

                            <h2 class="h5 display display text-muted">Education Details</h2>
                            <hr />
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Highest Education</label>
                                    <input type="text" name="HighestEducation" value="@Model.UserDetails[0].HighestEducation" placeholder="Highest Education" id="txtHighestEducation" class="form-control" required />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Education Board</label>
                                    <input type="text" name="EducationBoard" value="@Model.UserDetails[0].EducationBoard" placeholder="Education Board" id="EducationBoard" class="form-control" />
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Subject name Tutor is required for</label>
                                    <input type="text" name="SubjectYouTeach" value="@Model.UserDetails[0].SubjectYouTeach" placeholder="Subject name Tutor is required for" id="txtSubjectYouTeach" class="form-control" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Class</label>
                                    <input type="text" name="ClassName" value="@Model.UserDetails[0].ClassName" placeholder="Class" id="ClassName" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Comments</label>
                                    <input type="text" name="Comments" value="@Model.UserDetails[0].Comments" placeholder="Comments" id="Comments" class="form-control" />
                                </div>
                            </div>
                            <h2 class="h5 display display text-muted">Personal Details</h2>
                            <hr />
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>First Name</label>
                                    <input type="text" name="FirstName" value="@Model.UserDetails[0].FirstName" placeholder="First Name" class="form-control" required />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Last Name</label>
                                    <input type="text" name="LastName" value="@Model.UserDetails[0].LastName" placeholder="Last Name" class="form-control" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Phone</label>
                                    <input type="text" name="PhoneNumber" value="@Model.UserDetails[0].PhoneNumber" placeholder="Phone" class="form-control" required />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Current City</label>
                                    <input type="text" name="CurrentCity" value="@Model.UserDetails[0].CurrentCity" placeholder="Current City" class="form-control" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Address</label>
                                    <input type="text" name="Address" value="@Model.UserDetails[0].Address" placeholder="Address" class="form-control" required />
                                </div>
                            </div>
                            <input type="hidden" name="UserID" value="@Model.UserDetails[0].UserID" />
                            <button type="submit" class="btn btn-primary">Submit</button>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@section scripts
{
    <script>
        (function ($) {
            $("#students").addClass("active");
        })(jQuery);

        var ValidatePwd = function () {
            if ($('#txtpass').val() == null || $('#txtpass').val() == "") {
                alertify.set('notifier', 'position', 'top-center');
                alertify.error("Password Required.");
                return false;
            }
            else {
                //$('#txtconpass').focus();
                return true;
            }

        }
        var ValidateConPwd = function () {
            if ($('#txtconpass').val() == null || $('#txtconpass').val() == "") {
                alertify.set('notifier', 'position', 'top-center');
                alertify.error(" Confirm Password Required.");
                return false;
            }
            else {
                return true;
            }

        }
        var PasswordCheck = function () {
            if (ValidateConPwd() && ValidatePwd()) {
                if ($('#txtpass').val() != $('#txtconpass').val()) {
                    alertify.set('notifier', 'position', 'top-center');
                    alertify.error("Password and confirm password should be same.");
                    return false;
                }
                else {

                    return true;

                }
                return true;

            }
            else {
                // $("#btn-submit").attr("disabled", false);
                valid();
                return true;
            }
        }

        $("#frmStudent").submit(function (e) {
            //if (!PasswordCheck()) {
            //    return false;
            //}
        });

        $(document).ready(function () {
            //alertify.set('notifier', 'position', 'top-center');
            //alertify.error("Password and confirm password should be same.");
        });
    </script>
}

