﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Counts Section -->
<section class="dashboard-counts section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-md-3 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-user"></i></div>
                    <div class="name">
                        <strong class="text-uppercase">New Users</strong><span>Last 7 days</span>
                        <div class="count-number"><label id="NewUsers"></label> </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-3 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-padnote"></i></div>
                    <div class="name">
                        <strong class="text-uppercase">Students</strong><span>Active</span>
                        <div class="count-number"><label id="Students"></label></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-3 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-check"></i></div>
                    <div class="name">
                        <strong class="text-uppercase">Tutors</strong><span>Active</span>
                        <div class="count-number"><label id="Tutors"></label></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-3 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-bill"></i></div>
                    <div class="name">
                        <strong class="text-uppercase"> Sessions</strong><span>Upcoming</span>
                        <div class="count-number"><label id="NewSessions"></label></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="statistics section-padding section-no-padding-bottom">
    <div class="container-fluid">
        <div class="row d-flex align-items-stretch">
            <div class="col-lg-6">
                <!-- Monthly Usage-->
                <div class="wrapper data-usage">
                    <h2 class="display h4 text-primary">Recent Tutors</h2>
                    <table id="table_tutors" class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>UserName</th>
                                <th>Education</th>
                                <th>City</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Monthly Usage-->
                <div class="wrapper data-usage">
                    <h2 class="display h4 text-primary">Recent Students</h2>
                    <table id="table_students" class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>UserName</th>
                                <th>Education</th>
                                <th>City</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="statistics section-padding section-no-padding-bottom">
    <div class="container-fluid">
        <div class="row d-flex align-items-stretch">
            <div class="col-lg-6">
                <!-- Income-->
                <div class="wrapper income">
                    <h2 class="display h4 text-primary">Upcoming Sessions</h2>
                    <table id="table_sessions" class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Meeting Name</th>
                                <th>Date-Time</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wrapper income">
                    <h2 class="display h4 text-primary">Recent Tickets</h2>
                    <table class="table" id="table_tickets">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Category</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Statistics Section-->
<section class="statistics section-padding section-no-padding-bottom" style="display:none">
    <div class="container-fluid">
        <div class="row d-flex align-items-stretch">
            <div class="col-lg-4">
                <!-- Income-->
                <div class="wrapper income text-center">
                    <div class="icon"><i class="icon-line-chart"></i></div>
                    <div class="number">126,418</div><strong class="text-primary">All Income</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Monthly Usage-->
                <div class="wrapper data-usage">
                    <h2 class="display h4">Monthly Usage</h2>
                    <div class="row d-flex align-items-center">
                        <div class="col-sm-6">
                            <div id="progress-circle" class="d-flex align-items-center justify-content-center"></div>
                        </div>
                        <div class="col-sm-6"><strong class="text-primary">80.56 Gb</strong><small>Current Plan</small><span>100 Gb Monthly</span></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- User Actibity-->
                <div class="wrapper user-activity">
                    <h2 class="display h4">User Activity</h2>
                    <div class="number">210</div>
                    <h3 class="h4 display">Social Users</h3>
                    <div class="progress">
                        <div role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar bg-primary"></div>
                    </div>
                    <div class="page-statistics d-flex justify-content-between">
                        <div class="page-visites"><span>Pages Visites</span><strong>230</strong></div>
                        <div class="new-visites"><span>New Visites</span><strong>73.4%</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section customcss{
    <link href="~/Content/DataTables/media/css/jquery.dataTables.css" rel="stylesheet" />
}
@section scripts
{
    <script src="@Url.Content("~/js/admin/index.js")" type="text/javascript"></script>
    <script src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
    <script>
        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["ApiUrl"]';

        $(document).ready(function () {
            bindTutors();
            bindStudents();
            bindSessions();
            bindTickets();
        });

        function bindStudents() {
            $('#table_students').DataTable({
                paging: false,
                searching: false,
                ordering: false,
                info: false,
                iDisplayLength:5,
                ajax: {
                    url: apiUrl + '/Students/get-by-tutor?tutorId=1&count=5',
                    dataSrc: ''
                },
                columns: [
                    { data: 'FullName' },
                    { data: 'UserName' },
                    { data: 'HighestEducation' },
                    { data: 'CurrentCity' }
                ]
            });
        }

        function bindTutors() {
            $('#table_tutors').DataTable({
                paging: false,
                searching: false,
                ordering: false,
                info: false,
                ajax: {
                    url: apiUrl + '/tutors/get-all',
                    dataSrc: ''
                },
                columns: [
                    { data: 'FullName' },
                    { data: 'UserName' },
                    { data: 'HighestEducation' },
                    { data: 'CurrentCity' }
                ]
            });
        }

        function bindSessions() {
            $('#table_sessions').DataTable({
                paging: false,
                searching: false,
                ordering: false,
                info: false,
                ajax: {
                    url: apiUrl + '/Meetings/get-all',
                    dataSrc: ''
                },
                columns: [
                    { data: 'StudentName' },
                    { data: 'MeetingName' },
                    {
                        data: "StartDateTime",
                        render: function (d) {
                            return moment(d).format("YYYY:MM:DD HH:mm");
                        } }
                ],
                "order": [[2, "desc"]]
            });
        }

        function bindTickets() {
            $('#table_tickets').DataTable({
                paging: false,
                searching: false,
                ordering: false,
                info: false,
                ajax: {
                    url: apiUrl + '/tickets/search?userId=11&rowCount=5',
                    dataSrc: ''
                },
                columns: [
                    {
                        data: "TicketDate",
                        render: function (d) {
                            return moment(d).format("YYYY:MM:DD HH:mm");
                        }
                    },
                    { data: 'Name' },
                    { data: 'Email' },
                    { data: 'Category' }
                ]
                //"order": [[2, "desc"]]
            });
        }
    </script>
}

