﻿
@{
    ViewBag.Title = "Resources";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/admin/index")">Home</a></li>
            <li class="breadcrumb-item "><a href="@Url.Content("~/admin/resources")">Resources</a></li>
            <li class="breadcrumb-item active">Add Resource</li>
        </ul>
    </div>
</div>
<section class="charts">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display pull-left">Resources</h1>
            <div class="pull-right">
                <a href="@Url.Content("~/admin/add-resource")"><i class="fa fa-plus"></i> Add Resource</a>
            </div>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive">
                            
                            <!-- /.table-responsive -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
