﻿@model ConnectSC.Models.ServiceEnquiryList
@{
    ViewBag.Title = "ServiceEnquiry";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/admin/index")">Home</a></li>
            <li class="breadcrumb-item active"><a href="@Url.Content("~/admin/resources")"> Service Enquiry</a></li>
        </ul>
    </div>
</div>
<section class="charts">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display pull-left">Service Requests</h1>

        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Serice Name</th>
                                        <th>Message</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ServiceList)
                                    {
                                        <tr class="odd gradeX">
                                            <td>@item.Name</td>
                                            <td>@item.Email</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Service</td>
                                            <td>@item.Message</td>
                                            <td>@Html.ActionLink("View", "sr-details", new { eid = item.EnquiryId })  </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



