﻿@model List<ConnectSC.Models.MeetingModel>
@{
    ViewBag.Title = "Sessions";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/admin/dash")">Home</a></li>
            <li class="breadcrumb-item active">Sessions</li>
        </ul>
    </div>
</div>
<section class="charts">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display pull-left">Sessions</h1>
            <div class="pull-right">
                <a href="@Url.Content("~/admin/add-session")"><i class="fa fa-plus"></i> Add Session</a>
            </div>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Session Time</th>
                                        <th>Student Name</th>
                                        <th>Tution Name</th>
                                        <th>Meeting Name</th>
                                        <th>Meeting URL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="odd gradeX">
                                            <td>
                                                <small class="text-muted">@item.StartDateTime</small>-
                                                <small class="text-muted">@item.EndDateTime</small>
                                            </td>
                                            <td>@item.StudentName</td>
                                            <td>@item.TutorName</td>
                                            <td>@item.MeetingName</td>
                                            <td><a href="@item.MeetingUrl" target="_blank">Go</a> </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section scripts{
    <script>
        function setUserID(userId, fName, lName, isApproved) {
            $("#UserID").val(userId);
        }
    </script>
}
