﻿
@{
    ViewBag.Title = "SRDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/admin/index")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Content("~/admin/service-enquiry")"> Service Enquiry</a></li>
            <li class="breadcrumb-item active"><a>Details</a></li>
        </ul>
    </div>
</div>
<section class="dashboard-counts section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-md-6 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="name">
                        Service Request #
                        <strong class="text-uppercase" id="EnquiryId"> </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Header Section-->
<section class="dashboard-header section-padding">
    <div class="container-fluid">
        <div class="row d-flex align-items-md-stretch">
            <!-- To Do List-->
            <div class="col-lg-12 col-md-12">
                <div class="wrapper to-do">
                    <header>
                        <h2 class="display h4 text-primary">Details</h2>
                    </header>
                    <div class="wrapper row">
                        <div class="col-lg-6 col-md-6">
                            <p>
                                Name<br />
                                <strong id="Name"></strong>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <p>
                                Email<br />
                                <strong id="Email"></strong>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <p>
                                Phone<br />
                                <strong id="Phone"></strong>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <p>
                                Service<br />
                                <strong id="Service"></strong>
                            </p>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <p>
                                Message<br />
                                <strong id="Message"></strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
    <script>
        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["ApiUrl"]';

        $(document).ready(function () {
            bindDetails();
        });

        function bindDetails() {
            var jqxhr = $.get(baseURL + '/users/enquiry-details?id='+'@Request["eid"]')
                .done(function (data) {
                    $.each(data, function (key, value) {
                        if (key != "$id")
                            $("#" + key).html(value);
                    });
                })
                .fail(function (err) {
                    console.log(err);
                })
        }
    </script>
}


