﻿@model ConnectSmartConsulting.Models.UsersViewModel
@{
    ViewBag.Title = "StudentSubscription";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/admin/index")">Home</a></li>
            <li class="breadcrumb-item active"><a href="#"> Student Subscriptions</a></li>
        </ul>
    </div>
</div>
<section class="charts">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display pull-left">Student Subscriptions</h1>

        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Package</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.UserSubscriptionDetails)
                                    {
                                        <tr class="odd gradeX">
                                            <td>@item.username</td>
                                            <td>@item.subcriptionname</td>
                                            <td>@item.SubscriptionStartDate</td>
                                            <td>@item.SubscriptionEndDate</td>
                                            <td>
                                                <button type="button" class="btn btn-xs btn-success"
                                                        onclick="javascript:setUserID('@item.UserId')"
                                                        data-toggle="modal" data-target="#exampleModal">
                                                    Manage
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @Html.Partial("_assignSubscription", Model)
</section>
@section customcss{
    <link rel="stylesheet" href="@Url.Content("~/content/css/select2.min.css")" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    <style>
        .select2-search__field {width:100%!important;
        }
        .select2-container--classic .select2-selection--multiple .select2-selection__choice {
            background-color: #e4e4e4;
            border: 1px solid #aaa;
            border-radius: 1px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
            font-size:13px;
        }

        .select2-result__options {
            display: inline-block;
            overflow: hidden;
            padding-left: 8px;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 13px;
        }
    </style>
}
@section scripts{
    <script src="@Url.Content("~/Scripts/select2.min.js")"></script>
    <script>
        function setUserID(userId, fName, lName, isApproved) {
            $("#UserID").val(userId);
        }

        $(document).ready(function () {
            $("#datepickerStartDate").datepicker();
            $("#datepickerEndDate").datepicker();

            $('#Tutor').select2({ width: 'resolve', width: '100%'});
        });
    </script>
}

