﻿@model ConnectSmartConsulting.Models.UsersViewModel
@{
    ViewBag.Title = "StudentView";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/admin/dash")">Home</a></li>
            <li class="breadcrumb-item active">Students</li>
        </ul>
    </div>
</div>
<section class="charts">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display pull-left">Students</h1>
            <div class="pull-right">
                <a href="@Url.Content("~/admin/add-student")"><i class="fa fa-plus"></i> Add New</a>
            </div>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>UserName/Email</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Phone Number</th>
                                        <th>Address</th>
                                        <th>Education Board</th>
                                        <th>Current City</th>
                                        <th>Subjects</th>
                                        <th>Class</th>
                                        <th>Comments</th>
                                        <th>Approved</th>
                                        <th>Active</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Users)
                                    {
                                    <tr class="odd gradeX">
                                        <td>@item.UserName</td>
                                        <td>@item.UserDetails[0].FirstName</td>
                                        <td>@item.UserDetails[0].LastName</td>
                                        <td>@item.UserDetails[0].PhoneNumber</td>
                                        <td>@item.UserDetails[0].Address</td>
                                        <td>@item.UserDetails[0].EducationBoard</td>
                                        <td>@item.UserDetails[0].CurrentCity</td>
                                        <td>@item.UserDetails[0].SubjectYouTeach</td>
                                        <td>@item.UserDetails[0].ClassName</td>
                                        <td>@item.UserDetails[0].Comments</td>
                                        <td>
                                            @if (@item.ApprovedStatus == "Yes")
        {
                                    <button type="button" class="btn btn-xs btn-success"
                                            onclick="javascript:setUserID('@item.UserId',
                                                            '@item.UserDetails[0].FirstName',
                                                            '@item.UserDetails[0].LastName',
                                                            '@item.IsApproved.ToString()')"
                                            data-toggle="modal" data-target="#exampleModal">
                                        @item.ApprovedStatus
                                    </button>
}
else
{ <button type="button" class="btn btn-xs btn-secondary"
          onclick="javascript:setUserID('@item.UserId',
                                                          '@item.UserDetails[0].FirstName',
                                                          '@item.UserDetails[0].LastName',
                                                          '@item.IsApproved.ToString()')"
          data-toggle="modal" data-target="#exampleModal">
                                        @item.ApprovedStatus
                                    </button>}
                                        </td>
                                        <td>
                                            @if (@item.ActiveStatus == "Yes")
        {
                                    <button type="button" class="btn btn-xs btn-success" data-toggle="modal" data-target="#exampleModal">@item.ActiveStatus</button>
}
else
{
                                    <button type="button" class="btn btn-xs btn-secondary" data-toggle="modal" data-target="#exampleModal">@item.ActiveStatus</button>
}
                                        </td>
                                        <td><a href="@Url.Content("~/admin/edit-student")?id=@item.UserId"><i class="fa fa-pencil"></i></a> </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@Html.Partial("_approveStudent")
@section scripts{
    <script>
        function setUserID(userId, fName, lName, isApproved) {
            $("#UserID").val(userId);
            $("#UName").html(fName + ' ' + lName);
            $("#Status").val(isApproved);
        }
    </script>
}