﻿@model ConnectSmartConsulting.Models.UsersViewModel
@{
    ViewBag.Title = "TutorView";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/admin/dash")">Home</a></li>
            <li class="breadcrumb-item active">Tutors</li>
        </ul>
    </div>
</div>
<section class="charts">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display pull-left">Tutors</h1>
            <div class="pull-right">

                <a href="@Url.Content("~/admin/add-tutor")"><i class="fa fa-plus"></i> Add New</a>
            </div>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Assign Students</th>
                                        <th>UserName/Email</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Phone Number</th>
                                        <th>Address</th>
                                        <th>Areas You Teach</th>
                                        <th>Current City</th>
                                        <th>Subject You Teach</th>
                                        <th>Time Availibility</th>
                                        <th>Approved</th>
                                        <th>Active</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Users)
                                    {
                                        <tr class="odd gradeX">
                                            <td>
                                                <a href="#" onclick="PopupOpen(@item.UserId)" >Assign</a>
                                            </td>
                                            <td>@item.UserName</td>
                                            <td>@item.UserDetails[0].FirstName</td>
                                            <td>@item.UserDetails[0].LastName</td>
                                            <td>@item.UserDetails[0].PhoneNumber</td>

                                            <td>@item.UserDetails[0].Address</td>
                                            <td>@item.UserDetails[0].AreasYouTeach</td>
                                            <td>@item.UserDetails[0].CurrentCity</td>
                                            <td>@item.UserDetails[0].SubjectYouTeach</td>
                                            <td>@item.UserDetails[0].TimeAvailibility</td>
                                            <td>
                                                @if (@item.ApprovedStatus == "Yes")
                                                {
                                                    <button type="button" class="btn btn-xs btn-success"
                                                            onclick="javascript:setUserID('@item.UserId',
                                                            '@item.UserDetails[0].FirstName',
                                                            '@item.UserDetails[0].LastName',
                                                            '@item.IsApproved.ToString()')"
                                                            data-toggle="modal" data-target="#exampleModal">
                                                        @item.ApprovedStatus
                                                    </button>
                                                }
                                                else
                                                { <button type="button" class="btn btn-xs btn-secondary"
                                                          onclick="javascript:setUserID('@item.UserId',
                                                          '@item.UserDetails[0].FirstName',
                                                          '@item.UserDetails[0].LastName',
                                                          '@item.IsApproved.ToString()')"
                                                          data-toggle="modal" data-target="#exampleModal">
                                                        @item.ApprovedStatus
                                                    </button>}

                                            </td>
                                            <td>
                                                @if (@item.ActiveStatus == "Yes")
                                                {
                                                    <button type="button" class="btn btn-xs btn-success" data-toggle="modal" data-target="#exampleModal">@item.ActiveStatus</button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-xs btn-secondary" data-toggle="modal" data-target="#exampleModal">@item.ActiveStatus</button>
                                                }
                                            </td>
                                            <td><a href="@Url.Content("~/admin/edit-tutor")?id=@item.UserId"><i class="fa fa-pencil"></i></a> </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@Html.Partial("_approveTutor")
@Html.Partial("_assignStudents")
@section customcss{
    <link rel="stylesheet" href="@Url.Content("~/content/css/select2.min.css")" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    <style>
        .select2-search__field {
            width: 100% !important;
        }

        .select2-container--classic .select2-selection--multiple .select2-selection__choice {
            background-color: #e4e4e4;
            border: 1px solid #aaa;
            border-radius: 1px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
            font-size: 13px;
        }

        .select2-result__options {
            display: inline-block;
            overflow: hidden;
            padding-left: 8px;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 13px;
        }
    </style>
}
@section scripts{
    <script src="@Url.Content("~/Scripts/select2.min.js")"></script>
    <script>
        function setUserID(userId, fName, lName, isApproved) {
            $("#UserID").val(userId);
            $("#UName").html(fName + ' ' + lName);
            $("#Status").val(isApproved);
        }

        $('#Student').select2({ width: 'resolve', width: '100%' });

        function PopupOpen(tutorID) {
            $('#UserID').attr('value', tutorID);
            $('#Student').val('');
            $.ajax({
                type: "GET",
                url: '@Url.Content("~/Admin/get-studentsByTutor?TutorId=")' + tutorID,
                success: function (result) {
                    $('#Student').val(result);
                }


            })

            $('#assignStudentsModal').modal('show');
            
        }
        $('#AssignStudent').click(function () {
            var tutorId = $('#UserID').val();
            var students = $('#Student').val();
            $.ajax({

                url: '@Url.Content("~/Admin/assign-students")',
                type: "POST",
                data: jQuery.param({ Student: students, UserID: tutorId }),
                success: function () {
                   
                    window.location.reload();
                }

            });
        });
        //data - target="#assignStudentsModal" data - toggle="modal"
    </script>
}