﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="charts">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display pull-left">Unauthorized</h1>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <div class="alert alert-danger">
                            <h2>You are not authorized to access this page!</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
