﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Connect Smart Learning</title>

    <!-- Bootstrap -->
    <!-- <link href="/content/css/bootstrap.css" rel="stylesheet"> -->
    <link href="/content/css/bootstrap-3.3.7.css" rel="stylesheet" type="text/css">

    <!-- Custom Style Sheet -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald:600" rel="stylesheet">

    <link href="/content/css/connectSmartLearning.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>
<body>
    <nav class="navbar navbar-default csl-main-nav">
        <div class="container-fluid">
            <div class="btn-group cls-menu-btn" role="group">
                <button type="button" class="btn btn-default">Login</button>
                <button type="button" class="btn btn-default">Register</button>
            </div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="#">SMART Learning</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="defaultNavbar1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">SMART Team</a></li>
                    <li class="dropdown">
                        <a href='@Url.Action("FreeResource","Home")' @*class="dropdown-toggle"*@ @*data-toggle="dropdown" role="button" aria-expanded="false"*@>Free Resources<span class="caret"></span></a>
                        @*<ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>*@
                    </li>
                    <li><a href='@Url.Action("About","Home")'>Contact us</a></li>
                </ul>

                <!--<form class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>-->
                <!--<ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Link</a></li>
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </li>
                </ul>-->
            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container-fluid -->
    </nav>
    @RenderBody()
    <!-- footer -->
    <div class="container-fluid csl-footer">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-md-4 col-sm-12 col-lg-4 csl-footer-intro">
                    <img src="/content/images/connect-smart-learning-logo.png">
                    <p>
                        INVENT THE FUTURE with the right guidance,design thinking and innovative solutions for Digital transformation.<br />
                        <br />
                        CONNECT SMART technology advisory services will help transform your business through the management and implementation of new apps,
                        platforms, architecture and tech. We’ll partner with you to determine the right combination of technologies
                        for your business—from the tech that exists today to the emerging tech of tomorrow.
                    </p>
                </div>
                <div class="col-xs-12 col-md-4 col-sm-6 col-lg-4">
                    <h3>Useful Links</h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href=""><span class="glyphicon glyphicon-chevron-right"></span>Home</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-chevron-right"></span>About us</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-chevron-right"></span>Smart Learning</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-chevron-right"></span>Smart jobs</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-chevron-right"></span>Terms of Service</a></li>
                        <li><a href=""><span class="glyphicon glyphicon-chevron-right"></span>Privacy Policy</a></li>

                    </ul>
                </div>
                <div class="col-xs-12 col-md-4 col-sm-6 col-lg-4">
                    <h3>Contact us</h3>
                    <p>
                        <b>Hyderabad</b><br />
                        2-48/97, Telecom Nagar<br />
                        Gachi Bowli, Hyderabad
                        India
                    </p><br />
                    <br />
                    <p>
                        <b>Chandigarh</b><br />
                        SCO 11, 2nd Floor<br />
                        Phase 5 Indl Area, Mohali (Chandigarh Tricity Region)
                        India <br />
                        <br />
                        <span class="glyphicon glyphicon-earphone"> </span>+91 96182 42427 <br />
                        <span class="glyphicon glyphicon-envelope"> </span> support@connectsmartconsulting.com
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <div class="container-fluid csl-copyright text-center"><p>&copy; Copyright 2018 Connect Smart Consulting. All Rights Reserved</p></div>
    </div>

    <!-- footer ends -->
    <!--
    <div class="container">
      <div class="row text-center">
        <div class="col-md-6 col-md-offset-3">Click outside the blue container to select this <strong>row</strong>. Columns are always contained within a row. <strong>Rows are indicated by a dashed grey line and rounded corners</strong>. </div>
      </div>
      <hr>
      <div class="row">
        <div class="text-justify col-sm-4"> Click here to select this<strong> column.</strong> Always place your content within a column. Columns are indicated by a dashed blue line. </div>
        <div class="col-sm-4 text-justify"> You can <strong>resize a column</strong> using the handle on the right. Drag it to increase or reduce the number of columns.</div>
        <div class="col-sm-4 text-justify"> You can <strong>offset a column</strong> using the handle on the left. Drag it to increase or reduce the offset. </div>
      </div>
      <hr>
      <div class="row">
        <div class="text-center col-md-12">
          <div class="well"><strong> Easily build your page using the Bootstrap components from the Insert panel.</strong></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 text-center">
          <h4>Adding <strong>Buttons</strong></h4>
          <p>Quickly add buttons to your page by using the button component in the insert panel. </p>
          <button type="button" class="btn btn-info btn-sm">Info Button</button>
          <button type="button" class="btn btn-success btn-sm">Success Button</button>
        </div>
        <div class="text-center col-sm-4">
          <h4>Adding <strong>Labels</strong></h4>
          <p>Using the insert panel, add labels to your page by using the label component.</p>
          <span class="label label-warning">Info Label</span><span class="label label-danger">Danger Label</span> </div>
        <div class="text-center col-sm-4">
          <h4>Adding <strong>Glyphicons</strong></h4>
          <p>You can also add glyphicons to your page from within the insert panel.</p>
          <div class="row">
            <div class="col-xs-4"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></div>
            <div class="col-xs-4"><span class="glyphicon glyphicon-home" aria-hidden="true"> </span> </div>
            <div class="col-xs-4"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="text-center col-md-6 col-md-offset-3">
          <h4>Footer </h4>
          <p>Copyright &copy; 2015 &middot; All Rights Reserved &middot; <a href="http://yourwebsite.com/" >My Website</a></p>
        </div>
      </div>
      <hr>
    </div>
    -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/content/js/jquery-1.11.3.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="/content/js/bootstrap.js"></script> -->
    <script src="/content/js/bootstrap-3.3.7.js"></script>
</body>
</html>
