﻿@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap Dashboard by Bootstrapious.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/content/theme_2/css/bootstrap.min.css">
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/content/theme_2/css/style.default.css" id="theme-stylesheet">
    <!-- jQuery Circle-->
    <link rel="stylesheet" href="/content/theme_2/css/grasp_mobile_progress_circle-1.0.0.min.css">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/content/theme_2/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Font Awesome CDN-->
    <!-- you can replace it by local Font Awesome-->
    <script src="https://use.fontawesome.com/99347ac47f.js"></script>
    <!-- Font Icons CSS-->
    <link rel="stylesheet" href="https://file.myfontastic.com/da58YPMQ7U5HY8Rb6UxkNf/icons.css">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page login-page">
                    <div class="form-outer text-center d-flex align-items-center">
                        <div class="form-inner" style="min-width:550px;height:300px">
                            <div class="logo text-uppercase">500<span></span><strong class="text-primary"> Server Error</strong></div>
                            <p>There was an error while processing the request.</p><br />
                            <p>
                                <a href="http://smartlearning.connectsmartconsulting.com">Go to main site</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/content/theme_2/js/tether.min.js"></script>
    <script src="/content/theme_2/js/bootstrap.min.js"></script>
    <script src="/content/theme_2/js/jquery.cookie.js"></script>
    <script src="/content/theme_2/js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
    <script src="/content/theme_2/js/jquery.nicescroll.min.js"></script>
    <script src="/content/theme_2/js/jquery.validate.min.js"></script>
    <script src="/content/theme_2/js/front.js"></script>

</body>
</html>