﻿<ul id="side-main-menu" class="side-menu list-unstyled">
    <li><a href="@Url.Action("index", "admin")"> <i class="icon-home"></i><span>Home</span></a></li>
    <li id="students"> <a href="@Url.Action("students", "admin")"><i class="icon-form"></i><span>Students</span></a></li>
    <li id="tutors"> <a href="@Url.Action("tutors", "admin")"><i class="icon-presentation"></i><span>Tutors</span></a></li>
    <li id="resources"> <a href="@Url.Action("index", "FreeResources")"> <i class="icon-grid"> </i><span>Free Resources</span></a></li>
    <li id="service"> <a href="@Url.Action("service-enquiry", "admin")"> <i class="icon-interface-windows"></i><span>Service Enquiry </span></a></li>
    <li> <a href="@Url.Action("index", "ServiceRequest")"> <i class="icon-interface-windows"></i><span>Tickets </span></a></li>
    <li id="subscriptions">
        <a href="@Url.Action("subscriptions", "admin")">
            <i class="icon-mail"></i><span>Subscriptions</span>
            @*<div class="badge badge-warning">6 New</div>*@
        </a>
    </li>
    <li> <a href="@Url.Action("sessions", "admin")"> <i class="icon-interface-windows"></i><span>Sessions </span></a></li>
</ul>
