﻿<div class="wrapper count-title d-flex">
    <div class="icon img img-thumbnail">
        <img src="@Url.Action("Image", "Home", new { img = Model.UserDetails[0].ImagePath })" style="max-width:128px" />
    </div>
    <div class="name">
        @if (Session["LOGIN_USER"] != null)
        {
            <strong class="text-uppercase">@Model.UserDetails[0].FirstName @Model.UserDetails[0].LastName</strong>
            <span>@Model.UserDetails[0].CurrentCity</span>
        }
    </div>
</div>
