﻿<section id="featured-services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 box">
                <i class=" ion-android-chat"></i>
                <h4 class="title"><a href="">Personalized Live Training</a></h4>
                @*<p class="description">Content here...</p>*@
                <ul>
                    <li>Dedicated Teacher</li>
                    <li>Teaching at student's pace</li>
                </ul>
            </div>
            <div class="col-lg-4 box box-bg">
                <i class=" ion-android-checkmark-circle "></i>
                <h4 class="title"><a href="">Safety &amp; Security</a></h4>
                <ul>
                    <li>Learn @@ safety of home</li>
                    <li>No traffic annoyance</li>
                </ul>
            </div>
            <div class="col-lg-4 box">
                <i class="ion-android-alarm-clock"></i>
                <h4 class="title"><a href="">Anytime Learning</a></h4>
                <ul>
                    <li>Choose your own topic/time &amp; pace</li>
                    <li>Choice of Web and Mobile Platform</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 box-bg">
                <i class="ion-ios-stopwatch-outline"></i>
                <h4 class="title"><a href="">Save on Time</a></h4>
                <ul>
                    <li>No commuting</li>
                    <li>No looking out for the right teacher</li>
                </ul>
            </div>
            <div class="col-lg-4 box box">
                <i class="ion-android-bulb"></i>
                <h4 class="title"><a href="">Better than recorded lectures</a></h4>
                <ul>
                    <li>2 way interaction</li>
                    <li>Monitoring &amp; Counseling</li>
                </ul>
            </div>
            
        </div>
    </div>
</section>
