﻿<div class="container-fluid csl-footer">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-md-4 col-sm-12 col-lg-4 csl-footer-intro">
                <img src="/content/images/connect-smart-learning-logo.png">
                <p>
                    INVENT THE FUTURE with the right guidance,design thinking and innovative solutions for Digital transformation.<br />
                    <br />
                    CONNECT SMART technology advisory services will help transform your business through the management and implementation of new apps,
                    platforms, architecture and tech. We’ll partner with you to determine the right combination of technologies
                    for your business—from the tech that exists today to the emerging tech of tomorrow.
                </p>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6 col-lg-4">
                <h3>Useful Links</h3>
                <ul>
                    <li><i class="ion-ios-arrow-right"></i> <a href="@Url.Content("~/home/index")">Home</a></li>
                    <li><i class="ion-ios-arrow-right"></i> <a href="@Url.Content("~/home/index#about")">About us</a></li>
                    <li><i class="ion-ios-arrow-right"></i> <a href="@Url.Content("~/home/smart-learning")">Smart Learning</a></li>
                    <li><i class="ion-ios-arrow-right"></i> <a href="@Url.Content("~/home/smart-jobs")">Smart Jobs</a></li>
                    <li><i class="ion-ios-arrow-right"></i> <a href="@Url.Content("~/home/ComingSoon")">Terms of service</a></li>
                    <li><i class="ion-ios-arrow-right"></i> <a href="@Url.Content("~/home/ComingSoon")">Privacy policy</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6 col-lg-4">
                <h3>Contact us</h3>
                <p>
                    <b>Hyderabad</b><br />
                    2-48/97, Telecom Nagar<br />
                    Gachi Bowli, Hyderabad
                    India
                </p><br />
                <br />
                <p>
                    <b>Chandigarh</b><br />
                    SCO 11, 2nd Floor<br />
                    Phase 5 Indl Area, Mohali (Chandigarh Tricity Region)
                    India <br />
                    <br />
                    <span class="glyphicon glyphicon-earphone"> </span>+91 96182 42427 <br />
                    <span class="glyphicon glyphicon-envelope"> </span> support@connectsmartconsulting.com
                </p>
            </div>
        </div>
    </div>
    <hr />
    <div class="container-fluid csl-copyright text-center"><p>&copy; Copyright 2018 Connect Smart Consulting. All Rights Reserved</p></div>
</div>
