﻿<header id="header">
    <div class="container-fluid">
        <div id="logo" class="pull-left">
            <a href="@Url.Content("~/home/index")">
                <img src="/images/main_logo1.png"style="width:180px;margin-top:-5px;" alt="Connect Smart Consulting" title="Connect Smart Consulting" />
            </a>
        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="@Url.Content("~/home/index")">Home</a></li>
                <li class="menu-has-children">
                    <a href="javascript:;">Our Capabilities</a>
                    <ul>
                        <li>
                            <a href='@Url.Action("software-Engineering", "Home")'>Smart Engineering (Agile Practices)</a>
                        </li>
                        <li>
                            <a href='@Url.Action("software-reseller","Home")'>Software Resellers</a>
                        </li>
                        <li>
                            <a href='@Url.Action("sales-and-digital-marketing","Home")'>Sales & Digital Marketing</a>
                        </li>
                        <li>
                            <a href='@Url.Action("erp-consulting","Home")'>ERP Consulting</a>
                        </li>
                        <li>
                            <a href='@Url.Action("application-support-maintenance","Home")'>Application Support & Maintenance</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-has-children">
                    <a href="javascript:;">Products/Solutions</a>
                    <ul>
                        <li>
                            <a href='@Url.Action("smart-learning","Home")'>Smart Learning</a>
                        </li>
                        <li>
                            <a href='@Url.Action("smart-jobs","Home")'>Smart Jobs</a>
                        </li>
                    </ul>
                </li>
                <li><a href="@Url.Action("team","Home")">Smart Team</a></li>
                <li><a href="@Url.Action("contact","Home")">Contact</a></li>
                <li><a href="@Url.Action("careers","Home")">Careers</a></li>
                <li><a href="@Url.Action("Login","SmartLearning")" class="btn btn-danger" style="padding:2px 5px 2px 5px;width: 100px;
    margin-left: 10px;">Login</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header>