﻿<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators"></ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('/content/theme_1/img/intro-carousel/1.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>CONNECT SMART CONSULTING</h2>
                            <p>Your Digital Consulting Partners.</p>
                            <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>
                @*<div class="carousel-item" style="background-image: url('/content/theme_1/img/intro-carousel/5.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Smart Learning</h2>
                            <p>&nbsp;</p>
                            <a href="@Url.Content("~/home/smart-learning")" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>*@
                <div class="carousel-item" style="background-image: url('/content/theme_1/img/intro-carousel/SoftwareEngineeringServices.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Smart Engineering (Agile Practices)</h2>
                            <p>&nbsp;</p>
                            <a href="@Url.Content("~/home/software-Engineering")" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('/content/theme_1/img/intro-carousel/reseller_banner_2.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Software Resellers</h2>
                            <p>&nbsp;</p>
                            <a href="@Url.Content("~/home/software-reseller")" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('/content/theme_1/img/intro-carousel/Sales-Strategy-by-Sales-Strategy-Consulting.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Sales &amp; Digital Marketing</h2>
                            <p>&nbsp;</p>
                            <a href="@Url.Content("~/home/sales-and-digital-marketing")" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('/content/theme_1/img/intro-carousel/ERPConsulting.png');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>ERP Consulting</h2>
                            <p>&nbsp;</p>
                            <a href="@Url.Content("~/home/erp-consulting")" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('/content/theme_1/img/intro-carousel/Application_Support-1030x391.png');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Application Support &amp; Maintenance</h2>
                            <p>&nbsp;</p>
                            <a href="@Url.Content("~/home/application-support-maintenance")" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>
                @*<div class="carousel-item" style="background-image: url('/content/theme_1/img/intro-carousel/jobs.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Smart Jobs</h2>
                            <p>&nbsp;</p>
                            <a href="@Url.Content("~/home/smart-jobs")" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                </div>*@
                @*<div class="carousel-item" style="background-image: url('/content/theme_1/img/intro-carousel/consulting.jpg');">
                            <div class="carousel-container">
                                <div class="carousel-content">
                                    <h2>IT Consulting</h2>
                                    <p>&nbsp;</p>
                                    <a href="@Url.Content("~/home/it-consulting")" class="btn-get-started scrollto">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>
