﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Connect Smart Jobs" name="keywords">
    <meta content="Connect Smart Jobs" name="description">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="/content/theme_1/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts CSS Files -->
    <link href="/content/theme_1/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/content/theme_1/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Content/alertify.min.css" rel="stylesheet" />
    <!-- Bundled CSS Files -->
    @Styles.Render("~/Content/theme_1/css/home_css")
    @RenderSection("customcss", false)
    <style>
        img {
            max-width: 100%
        }
    </style>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="~/Scripts/alertify.min.js"></script>
    <noscript>Your browser does not support JavaScript!</noscript>
</head>
<body>
    <header id="header">
        <div class="container-fluid">
            <div id="logo" class="pull-left">
                <a href="@Url.Content("~/home/smart-jobs")">
                    <img src="~/images/connect_smart_jobs.png" alt="Connect Smart Jobs" title="Connect Smart Jobs" style="margin-top:-10px;" />
                </a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="@Url.Content("~/home/index")">Home</a></li>
                </ul>
            </nav>
            @*<nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="@Url.Content("~/home/index")">Home</a></li>
                <li><a href="@Url.Action("login","SmartLearning")">Login</a></li>
                <li><a href="@Url.Action("need-a-tutor","SmartLearning")">Need a Tutor</a></li>
                <li><a href="@Url.Action("tutor-registration","SmartLearning")">Tutor Registration</a></li>
                <li><a href="@Url.Action("free-resources","SmartLearning")">Free Resources</a></li>
                <li><a href="@Url.Action("smart-team","SmartLearning")">Smart Team</a></li>
                <li><a href="@Url.Action("SmartLearningContact", "SmartLearning")">Contact</a></li>
            </ul>
        </nav>*@<!-- #nav-menu-container -->
        </div>
    </header>

    <div>
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
    <!-- #footer -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- JavaScript Libraries -->
    <script src="~/content/theme_1/lib/jquery/jquery.min.js"></script>
    <script src="/content/theme_1/lib/jquery/jquery-migrate.min.js"></script>
    @Scripts.Render("~/bundles/theme_1/lib")
    <script src="~/Content/theme_1/js/main.js"></script>
</body>
</html>
