﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Connect Smart Consulting :: Admin</title>
    <meta name="description" content="Connect Smart Consulting">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/content/theme_2/css/bootstrap.min.css">
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!--Bundled CSS-->
    @Styles.Render("~/Content/theme_2/css/admin_css")
    <!-- Font Awesome CDN-->
    <script src="https://use.fontawesome.com/99347ac47f.js"></script>
    <!-- Font Icons CSS-->
    @RenderSection("customcss", false)
    <link rel="stylesheet" href="https://file.myfontastic.com/da58YPMQ7U5HY8Rb6UxkNf/icons.css">
    <style>
        .form-control {
            border-radius: unset;
            border-color: #aaa;
        }

        section.forms select {
            border-radius: 0;
            border-color: #aaa;
        }

        table.dataTable thead th, table.dataTable thead td {
            padding: 10px 18px;
            border-bottom: none;
        }

        table.dataTable.no-footer {
            border-bottom: none;
        }
    </style>
    <link href="~/Content/DataTables/media/css/jquery.dataTables.css" rel="stylesheet" />
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <script>
        var baseURL = '@System.Configuration.ConfigurationManager.AppSettings["ApiUrl"]';
    </script>
    <noscript>Your browser does not support JavaScript!</noscript>
</head>
<body>
    @{
        if (Request["uk"] == null)
        {
            if (Session["LOGIN_USER"] == null)
            {
                <script>
                    alert("Session timed out. Please login again to access the services.");
                    window.location.href = "/smartlearning/login";
                </script>
            }
        }
    }
    <!-- Side Navbar -->
    <nav class="side-navbar">
        <div class="side-navbar-wrapper">
            <div class="sidenav-header d-flex align-items-center justify-content-center">
                <div class="sidenav-header-inner text-center">
                    @if (Session["LOGIN_USER"] != null)
                    {
                        var userData = (ConnectSmartConsulting.Models.LoggedInUser)Session["LOGIN_USER"];

                        <img alt="@userData.FirstName"
                             title="@userData.FirstName"
                             src="@Url.Action("Image", "Home", new { img = userData.ImagePath })"
                             class="img-fluid rounded-circle" />

                        <h2 class="h5 text-uppercase">@userData.FirstName @userData.LastName</h2>
                        <span class="text-uppercase">
                            @if (userData.Role == 1)
                            {
                                <span>Admin</span>
                            }
                            else if (userData.Role == 2)
                            {
                                <span>Tutor</span>
                            }
                            else if (userData.Role == 3)
                            {
                                <span>Student</span>
                            }
                        </span>
                    }
                </div>
                <div class="sidenav-header-logo"><a href="@Url.Content("~/admin/dash")" class="brand-small text-center"> <strong>C</strong><strong class="text-primary">S</strong></a></div>
            </div>
            <div class="main-menu">
                @Html.Action("_nav", "SmartLearning")
            </div>
        </div>
    </nav>
    <div class="page home-page">
        <!-- navbar-->
        <header class="header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <div class="navbar-header">
                            <a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a>
                            <a href="@Url.Content("~/admin/dash")" class="navbar-brand">
                                <img src="/images/connect-smart-learning.png" alt="Connect Smart Consulting" title="Connect Smart Consulting" style="margin-top:-10px;" />
                            </a>
                        </div>
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <li class="nav-item dropdown">
                                <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false" class="nav-link" style="font-size:14px">
                                    <i class="fa fa-bell"></i>
                                    <span class="badge badge-danger" id="notifCount">0</span>
                                </a>
                                <ul aria-labelledby="notifications" id="notif" class="dropdown-menu">
                                    @*<li>
                                             <a rel="nofollow" href="#" class="dropdown-item">
                                                 <div class="notification d-flex justify-content-between">
                                                     <div class="notification-content"><i class="fa fa-envelope"></i>No new Notifications </div>
                                                     <div class="notification-time"><small>&nbsp;</small></div>
                                                 </div>
                                             </a>
                                         </li>
                                        <li>
                                                 <a rel="nofollow" href="#" class="dropdown-item">
                                                     <div class="notification d-flex justify-content-between">
                                                         <div class="notification-content"><i class="fa fa-twitter"></i>You have 2 followers</div>
                                                         <div class="notification-time"><small>4 minutes ago</small></div>
                                                     </div>
                                                 </a>
                                             </li>
                                             <li>
                                                 <a rel="nofollow" href="#" class="dropdown-item">
                                                     <div class="notification d-flex justify-content-between">
                                                         <div class="notification-content"><i class="fa fa-upload"></i>Server Rebooted</div>
                                                         <div class="notification-time"><small>4 minutes ago</small></div>
                                                     </div>
                                                 </a>
                                             </li>
                                             <li>
                                                 <a rel="nofollow" href="#" class="dropdown-item">
                                                     <div class="notification d-flex justify-content-between">
                                                         <div class="notification-content"><i class="fa fa-twitter"></i>You have 2 followers</div>
                                                         <div class="notification-time"><small>10 minutes ago</small></div>
                                                     </div>
                                                 </a>
                                             </li>*@
                                    <li><a rel="nofollow" href="@Url.Content("~/smartlearning/notifications")" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-bell"></i>view all notifications                                            </strong></a></li>
                                </ul>
                            </li>
                            @*<li class="nav-item dropdown">
                                    <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-envelope"></i><span class="badge badge-info">10</span></a>
                                    <ul aria-labelledby="notifications" class="dropdown-menu">
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile"> <img src="/content/theme_2/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Jason Doe</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile"> <img src="/content/theme_2/img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Frank Williams</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile"> <img src="/content/theme_2/img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Ashley Wood</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-envelope"></i>Read all messages    </strong></a></li>
                                    </ul>
                                </li>*@
                            <li class="nav-item">
                                <a onclick="return confirm('Are you sure you want to logout?')"
                                   href="@Url.Action("Logout", "SmartLearning")" class="nav-link logout">Logout<i class="fa fa-sign-out"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        @RenderBody()
        @Html.Partial("_FooterAdmin")
    </div>
    <!-- Javascript files-->
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/content/theme_2/js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/js/common.js")" type="text/javascript"></script>
    <script src="~/Scripts/toastr.min.js" type="text/javascript"></script>
    <script src="~/Scripts/loading.min.js" type="text/javascript"></script>
    <!--Full Calendar-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>*@
    @Scripts.Render("~/bundles/theme_2/js")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/DataTables/media/js/jquery.dataTables.min.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
    <!---->
    @*<script>
            (function (b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                    function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
                e = o.createElement(i); r = o.getElementsByTagName(i)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
            ga('create', 'UA-XXXXX-X'); ga('send', 'pageview');
        </script>*@
    @RenderSection("scripts", false)
    <script>
        $(document).ready(function () {
            //$.fn.dataTableExt.sErrMode = 'none';
        });
    </script>
</body>
</html>
