﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Connect Smart Consulting" name="keywords">
    <meta content="Connect Smart Consulting" name="description">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!-- Bootstrap CSS File -->
    <link href="/content/theme_1/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts CSS Files -->
    <link href="/content/theme_1/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/content/theme_1/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <!-- Bundled CSS Files -->
    @Styles.Render("~/Content/theme_1/css/home_css")
    @RenderSection("customcss", false)
    <noscript>Your browser does not support JavaScript!</noscript>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119987392-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-119987392-1');
    </script>
</head>
<body>
    @Html.Partial("_Header")
    <div>
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
    <!-- #footer -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- JavaScript Libraries -->
    <script src="~/content/theme_1/lib/jquery/jquery.min.js"></script>
    <script src="/content/theme_1/lib/jquery/jquery-migrate.min.js"></script>
    @Scripts.Render("~/bundles/theme_1/lib")
    <script src="~/Content/theme_1/js/main.js"></script>
    <script>
        function timedRedirect(url, delay) {
            setTimeout(function () {
                window.location.href = url;
            }, delay);
        }
    </script>
    <script src="@Url.Content("~/js/validations.js")"></script>
    @RenderSection("scripts", false)
</body>
</html>
