﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!-- Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    @RenderSection("customcss", false)
    <script src="~/Scripts/Customjs/modernizr.custom.97074.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</head>
<body>
    <div id="home-page">
        <nav id="mainNavigation" class="navbar navbar-dafault main-navigation" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- navbar logo -->
                    <div class="navbar-brand">
                        <span class="sr-only">Connect Smart</span>
                        <a href='@Url.Action("Index", "Home")'>
                            <img src="~/Images/main_logo.png" class="img-responsive center-block" alt="logo">
                        </a>
                    </div>
                    <!-- navbar logo -->
                </div><!-- /.navbar-header -->
                <!-- nav links -->
                <div class="collapse navbar-collapse" id="main-nav-collapse">
                    <ul class="nav navbar-nav navbar-right text-uppercase">
                        <li>
                            <a href='@Url.Action("Index", "Home")'><span>home</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Our Capabilities</span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href='@Url.Action("smart-learning","Home")'>Smart Learning</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("smart-jobs","Home")'>Smart Jobs</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("software-Engineering","Home")'>Software Engineering (Agile Practices)</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("software-reseller","Home")'>Software Resellers</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("sales-and-digital-marketing","Home")'>Sales & Digital Marketing</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("erp-consulting","Home")'>ERP Consulting</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("application-support-maintenance","Home")'>Application Support & Maintenance</a>
                                </li>
                            </ul>  <!-- end of /.dropdown-menu -->
                        </li> <!-- end of /.dropdown -->
                        <li>
                            <a href='@Url.Action("Contact","Home")'><span>contact</span></a>
                        </li>
                    </ul>
                </div><!-- nav links -->

            </div><!-- /.container -->
        </nav>
        <!-- site-navigation end -->

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <div class="container">
                    <div class="row">
                        <!-- useful links -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Quick Links</h4>
                            <ul class="row footer-links">
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                    <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                                    <li><a href="#">Courses</a></li>
                                    <li><a href="#">Careers</a></li>

                                </div>

                            </ul>
                        </div>
                        <!-- recent news -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Recent News</h4>
                            <div class="row footer-news">
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <img src="assets/img/intro.jpg" class="img-responsive center-block" alt="recent news 1">
                                </div>
                                <div class="col-md-8 col-sm-4 col-xs-6">
                                    <div class="row">
                                        <p class="text-capitalize">
                                            <a href="#">
                                                a clear website gives more experience to the visitors
                                            </a>
                                        </p>
                                        <p class="news-date">Dec 12,2015</p>
                                    </div>
                                </div>
                            </div> <!-- /.footer-news -->
                            <div class="row footer-news">
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <img src="assets/img/intro.jpg" class="img-responsive center-block" alt="recent news 2">
                                </div>
                                <div class="col-md-8 col-sm-4 col-xs-6">
                                    <div class="row">
                                        <p class="text-capitalize">
                                            <a href="#">
                                                a clear website gives more experience to the visitors
                                            </a>
                                        </p>
                                        <p class="news-date">Dec 12,2015</p>
                                    </div>
                                </div>
                            </div> <!-- /.footer-news -->
                        </div> <!-- /.footer-widget -->
                        <!-- news-letter -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>E-News-Letter</h4>
                            <p>Sign up for our mailing list to get latest updates and offers</p>
                            <div class="input-group margin-bottom-sm">
                                <input class="form-control" type="text" placeholder="Email address">
                                <span class="input-group-addon">
                                    <i class="fa fa-paper-plane fa-fw"></i>
                                </span>
                            </div>
                            <p>We respect your privacy</p>
                        </div> <!-- /.footer-widget -->
                        <!-- about avada agency -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>ConnectSmartConsulting</h4>
                            <p>
                                @* HUGE Website Builder is a big library of pre-designed web elements which help you to create website in few minutes.*@
                            </p>
                            <div class="footer-address">
                                <p>
                                    +91 9618242427  <br>
                                    support@connectsmartconsulting.com
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="footer-share-button">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul> <!-- /.footer-share-button -->
                                </div>
                            </div>
                        </div> <!-- /.footer-widget -->
                    </div>
                </div>
            </footer>
            <!-- footer-navigation start -->
            <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                <div class="container">

                    <div class="navbar-header">

                        <!-- navbar logo -->
                        <div class="navbar-brand">
                            <span class="sr-only">&copy;ConnectSmartConsulting LLP</span>
                            <a href="index.html">
                                &copy;ConnectSmartConsulting LLP
                            </a>
                        </div>
                        <!-- navbar logo -->
                    </div><!-- /.navbar-header -->
                    <!-- nav links -->

                </div><!-- /.container -->
            </nav>
            <!-- footer-navigation end -->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Customjs/owl.carousel.js"></script>
    <script src="~/Scripts/Customjs/jquery.hoverdir.js"></script>
    @RenderSection("scripts", required: false)


    @*<script type="text/javascript" src="assets/js/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/owl.carousel.js"></script>
        <script type="text/javascript" src="assets/js/jquery.hoverdir.js"></script>*@
</body>
</html>
