﻿<nav class="navbar navbar-default csl-main-nav">
    <div class="container-fluid">
        <div class="btn-group cls-menu-btn" role="group">
            @*<button type="button" class="btn btn-default">Login</button>*@
            <a class="btn btn-default" href="@Url.Action("Login","SmartLearning")">Login</a>

            @*<button type="button" class="btn btn-default">Register</button>*@
            <a class="btn btn-default" href="@Url.Action("tutor-registration","SmartLearning")">Register</a>
        </div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href='@Url.Action("smart-learning","Home")'><img src="~/Content/images/justgyan-200X60-01.png" alt="JustGyan"/></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="defaultNavbar1">
            <ul class="nav navbar-nav">
                <li class="active"><a href='@Url.Action("smart-learning","Home")'>Home<span class="sr-only">(current)</span></a></li>
                <li><a href="@Url.Action("smart-team","SmartLearning")">SMART Team</a></li>
                <li class="dropdown">
                    <a href='@Url.Action("free-resources","SmartLearning")'>Free Resources<span class="caret"></span></a>
                   
                </li>
                <li><a href="@Url.Action("SmartLearningContact", "SmartLearning")">Contact us</a></li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-fluid -->
</nav>
