﻿<ul id="side-main-menu" class="side-menu list-unstyled">
    <li><a href="@Url.Action("index", "student")"> <i class="icon-home"></i><span>Home</span></a></li>
    <li> <a href="@Url.Action("my-sessions", "student")"><i class="icon-form"></i><span>My Sessions</span></a></li>
    <li> <a href="@Url.Action("subscriptions", "student")"><i class="icon-presentation"></i><span>My Subscriptions</span></a></li>
    <li id="tutors"> <a href="@Url.Action("tutors", "student")"> <i class="icon-grid"> </i><span>My Tutors</span></a></li>
    <li>
        <a id="contents" href="#pages-nav-list" data-toggle="collapse" aria-expanded="false" class="active">
            <i class="icon-interface-windows"></i><span>Contents</span>
            <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div>
        </a>
        <ul id="pages-nav-list" class="collapse list-unstyled">
            <li> <a href="@Url.Action("assignments", "student")" id="assignments">Assignments</a></li>
            <li> <a href="@Url.Action("resources", "student")">Resources</a></li>
        </ul>
    </li>
    <li id="myprofile"> <a href="@Url.Action("my-profile", "student")"> <i class="icon-interface-windows"></i><span>My Profile </span></a></li>
    <li id="mytickets"> <a href="@Url.Action("index", "ServiceRequest")"> <i class="icon-interface-windows"></i><span>My Tickets </span></a></li>
</ul>

