﻿<!-- Modal -->
<section class="about-author">
    <div class="modal" id="tutorModal" tabindex="-1" role="dialog" aria-labelledby="tutorModalLabel" aria-hidden="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("approve-tutor", "Admin", FormMethod.Post, new { id = "frmApproveT", enctype = "multipart/form-data" }))
                {
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Session Info</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <span id="meetingTime" style="font-size:24px;font-weight:bold" class="badge badge-info"> </span>  <span id="fromNow" class="text-muted"></span>
                        </p>
                        <p id="meetingTitle" style="font-size:18px;font-weight:100"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        <a id="meetingUrl" target="_blank" class="btn btn-success">Join Session</a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

