﻿<ul id="side-main-menu" class="side-menu list-unstyled">
    <li id="tutor"><a href="@Url.Action("index", "tutor")"> <i class="icon-home"></i><span>Home</span></a></li>
    <li id="students"> <a href="@Url.Action("students", "tutor")"><i class="icon-form"></i><span>My Students</span></a></li>
    <li>
        <a id="sessions" href="#pages-nav-list" data-toggle="collapse" aria-expanded="false">
            <i class="icon-interface-windows"></i><span>My Sessions</span>
            <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div>
        </a>
        <ul id="pages-nav-list" class="collapse list-unstyled">
            <li> <a href="@Url.Action("schedule-session", "tutor")">Schedule a Session Now</a></li>
            <li> <a href="@Url.Action("create-schedule", "tutor")">Create a Schedule</a></li>
            <li> <a href="@Url.Action("join-session", "tutor")">Join the Scheduled Session</a></li>
        </ul>
    </li>
    <li>
        <a id="contents" href="#pages-nav-list2" data-toggle="collapse" aria-expanded="false">
            <i class="icon-interface-windows"></i><span>Contents</span>
            <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div>
        </a>
        <ul id="pages-nav-list2" class="collapse list-unstyled">
            <li> <a href="@Url.Action("view-assignments", "tutor")">Manage Assignments</a></li>
            <li> <a href="@Url.Action("add-assignment", "tutor")">Create Assignment for Students</a></li>
            <li> <a href="@Url.Action("publish-result", "tutor")">Publish Results for a single assigned student</a></li>
            <li> <a href="@Url.Action("create-free-material", "tutor")">Create Free Material</a></li>
        </ul>
    </li>
    <li id="myprofile"> <a href="@Url.Action("my-profile", "tutor")"> <i class="icon-grid"> </i><span>My Profile</span></a></li>
    <li id="mytickets"> <a href="@Url.Action("index", "ServiceRequest")"> <i class="icon-interface-windows"></i><span>My Tickets </span></a></li>
</ul>

