﻿@{
    //ViewBag.Title = "Free Resource";
    Layout = "~/Views/Shared/_LayoutSmartLearning.cshtml";
}
<section>
    <div class="container">
        <div class="p-xl-5">
            <div style="margin:30px 0 0 0">
            </div>
        </div>
    </div>
</section>
<main id="main">
    <section id="portfolio" class="section-bg">
        <div class="bgimg">
            <div class="middle">
                <h1>COMING SOON ...</h1>
                <hr>
            </div>

        </div>
    </section>
</main>
<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .bgimg {
        background-image: url('/w3images/forestbridge.jpg');
        height: 100%;
        background-position: center;
        background-size: cover;
        position: relative;
        color: darkorange;
        font-family: "Courier New", Courier, monospace;
        font-size: 25px;
    }

    .topleft {
        position: absolute;
        top: 0;
        left: 16px;
    }

    .bottomleft {
        position: absolute;
        bottom: 0;
        left: 16px;
    }

    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    hr {
        margin: auto;
        width: 40%;
    }
</style>