﻿@charset "utf-8";
/* Custom CSS for Connect Smart Learning */

body {
    font-family: 'Open Sans', sans-serif;
    color: #474747;
    width: 100%;
    overflow-x: hidden;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'oswald', sans-serif;
    font-weight: 600;
}
/*Header Area*/
.csl-main-nav {
    border: none;
    border-radius: 0;
}

    .csl-main-nav .navbar-brand {
        font-family: 'oswald', sans-serif;
        font-weight: 600;
    }

.navbar-brand img {
    width: 120px;
    margin-top: -7px;
}

.cls-menu-btn {
    float: right;
    margin-top: 7px;
}

    .cls-menu-btn .btn-default {
        background: #050017;
        color: #fff;
        transition: background 0.7s ease;
    }

        .cls-menu-btn .btn-default:hover {
            background: #f4b04d;
        }
/*Header Area ends*/


/*Hero imagae home Jumbotron*/
.csl-home-jumbotron {
    background-image: url(../images/hero-image-csl.jpg);
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.cls-main-search-btn {
    background: #e40100;
    color: #fff;
}

.csl-home-jumbotron h1 {
    color: #fff;
    margin-bottom: 20px;
}

@media only screen and (min-width:991px) {

    .csl-home-jumbotron {
        min-height: 520px;
        margin-top: -80px;
    }

        .csl-home-jumbotron h1 {
            margin-top: 15%;
        }
}
/*Hero imagae home Jumbotron ends*/


/*highlights*/

.csl-highlights {
    text-align: center;
    background: #050017;
    padding-top: 20px;
    padding-bottom: 20px;
}

    .csl-highlights .glyphicon {
        font-size: 62px;
        color: #f4b04d;
    }

    .csl-highlights h3 {
        color: #e40100;
    }

    .csl-highlights p {
        color: #fff;
    }


/*highlights ends*/

/*small intro*/
.csl-small-intro {
    background: #c3ced4;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

    .csl-small-intro .csl-intro-text p {
        font-size: 24px;
    }

    .csl-small-intro .csl-intro-register-btn {
        background: #e40100;
        color: #fff;
        margin-top: 20px;
        margin-bottom: 10px;
        transition: background 0.7s ease;
        text-shadow: 0px 1px 2px #474747;
        border: 1px solid #fff;
    }

        .csl-small-intro .csl-intro-register-btn:hover {
            background: #050017;
        }


/*small intro ends*/




/* details about classes*/
.csl-mostviewed-classes {
    margin-top: 40px;
    margin-bottom: 40px;
}

    .csl-mostviewed-classes h4 {
        color: #050017;
    }

    .csl-mostviewed-classes img { /*padding:5px 25px;*/
        box-sizing: border-box;
        width: 100%;
    }

    .csl-mostviewed-classes .csl-class-details {
        color: #e40100;
    }
/* details about classes ends*/



/*Universal Classes*/
.csl-paragraphs p {
    line-height: 1.5;
    text-align: left;
}

.csl-paragraphs br {
    line-height: 2.5em;
    margin: 20px 0px;
}

.csl-intro-text h1 {
    margin: 40px 0px;
    text-transform: uppercase;
    text-align: center;
}

.csl-intro-text img {
    width: 100%;
    text-align: center;
}

.csl-intro-text blockquote {
    color: #fff;
    background: #050017;
}

.csl-intro-text {
    margin-bottom: 20px;
}

    .csl-intro-text .csl-paragraphs button {
        color: #050017;
        background: #f4b04d;
        text-shadow: 0px 1px 0px #ccc;
        transition: all 0.5s ease;
        font-weight: 600;
        border: 1px solid #474747;
        margin-bottom: 28px;
    }

        .csl-intro-text .csl-paragraphs button:hover {
            color: #fff;
            background: #050017;
            text-shadow: 0px 1px 0px #474747;
        }
.csl-registration {
    background: #004466;
    background: linear-gradient(to right, #004466, #80D4FF, #004466);
}
/*Universal Classes ends*/

/*news letters*/
.csl-news-letter {
    color: #fff;
    background: #050017;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

    .csl-news-letter .csl-subscribe-btn {
        background: #e40100;
        color: #fff;
        text-shadow: 0px 1px 2px #474747;
    }

    .csl-news-letter p {
        font-size: 16px;
        text-align: right;
    }
/*news letters ends*/


.csl-parents-testimonials {
    padding: 40px;
    background: #f4b04d;
    text-align: center;
}

    .csl-parents-testimonials h2 {
        text-transform: uppercase;
    }

/*footer*/
.csl-footer {
    background: #050017;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

    .csl-footer .nav-pills > li > a {
        color: #fff;
        border-bottom: 1px solid #474747;
    }

        .csl-footer .nav-pills > li > a:hover {
            background: none;
            color: #f4b04d;
        }

    .csl-footer .glyphicon {
        margin-right: 10px;
        color: #f4b04d;
    }

    .csl-footer .csl-footer-intro img {
        margin-bottom: 20px;
    }

/*footer ends*/

@media screen and (min-width:520px) {
    .csl-main-nav {
        background: rgba(255, 255, 255, 0.7);
    }

    .csl-highlights {
        margin-top: -30px;
    }
}

@media screen and (max-width:768px) {

    .csl-highlights .col-xs-6 {
        height: 210px;
    }

    .csl-highlights .glyphicon {
        font-size: 42px;
    }

    .csl-highlights .col-xs-6 h3 {
        font-size: 16px;
    }

    .csl-news-letter p {
        text-align: left;
    }
}

#testimonial {
    padding: 80px 0px;
}

    #testimonial .fa.fa-quote-right {
        color: #5db4c0;
        font-size: 30px;
    }

    #testimonial p {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #testimonial img {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 50%;
        border: 1px solid #fff;
    }

    #testimonial .carousel-indicators li {
        background-color: #fff;
        height: 13px;
        width: 13px;
        margin: 5px;
    }

        #testimonial .carousel-indicators li.active {
            background-color: #474747;
        }

    #testimonial .carousel-indicators {
        bottom: -50px;
    }



/*Our Team*/

.cls-our-team {
    background-color: aliceblue;
}

    .cls-our-team h2 {
        text-align: center;
        margin-top: 40px;
        text-transform: uppercase;
    }

.csl-team {
    transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}

.csl-team-wrapper .csl-team {
    transition: .5s cubic-bezier(.3, 0, 0, 1.3)
}

.csl-team-wrapper {
    list-style: none;
    padding: 0;
    margin: 100px 0;
}

    .csl-team-wrapper > li {
        background: #FFFFFF;
        border: 1px solid rgba(150,150,150,0.29);
        -moz-box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
        box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
        width: 250px;
        height: 350px;
        display: inline-block;
        margin: 0 20px;
        text-align: center;
    }

        .csl-team-wrapper > li img {
            margin-top: -5px;
        }

        .csl-team-wrapper > li:hover img {
            margin-top: 30px;
        }

        .csl-team-wrapper > li img.more-about {
            left: 103px;
            padding: 1px;
            position: absolute;
            width: 45px;
            z-index: 1;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            bottom: 50px;
        }

        .csl-team-wrapper > li:hover {
            -moz-box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
            box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
        }

            .csl-team-wrapper > li:hover span {
                border-radius: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                top: -300px;
                background: #2f7abe;
            }

                .csl-team-wrapper > li:hover span p {
                    color: white;
                    font-size: 14px;
                }

        .csl-team-wrapper > li span .text-wrapper {
            opacity: 0;
        }

        .csl-team-wrapper > li:hover span .text-wrapper {
            bottom: 20px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            width: 200px;
            opacity: 1;
        }

        .csl-team-wrapper > li:hover .social {
            margin-top: 250px;
        }

        .csl-team-wrapper > li:hover .wrapper > img {
            display: none;
        }

        .csl-team-wrapper > li:hover h3 {
            color: #2F7ABE;
            margin-top: -105px;
        }

        .csl-team-wrapper > li .wrapper {
            overflow: hidden;
            position: absolute;
            width: 250px;
            height: 350px;
        }

        .csl-team-wrapper > li span {
            display: block;
            height: 500px;
            left: -125px;
            position: absolute;
            top: -490px;
            width: 500px;
            background: #579CDB;
        }

    .csl-team-wrapper .mamber-img {
        width: 100px;
    }

    .csl-team-wrapper > li h3 em {
        display: block;
        font-style: normal;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 12px;
        margin-top: 5px;
        color: #2F7ABE;
    }

    .csl-team-wrapper .social {
        list-style: none;
        text-align: center;
        margin: 10px 0 0 0;
        padding: 10px;
    }

        .csl-team-wrapper .social li {
            opacity: 0;
            display: inline-block;
            padding: 5px;
        }

    .csl-team-wrapper > li:hover .social li {
        opacity: 0.5;
    }

    .csl-team-wrapper .social li a {
        cursor: pointer;
        display: block;
    }

        .csl-team-wrapper .social li a:hover {
            opacity: 0.5;
        }

    .csl-team-wrapper .social li img {
        width: 24px;
    }

    .csl-team-wrapper > li:hover .social li a {
        -webkit-animation: social-show 0.5s 1;
        -moz-animation: social-show 0.5s 1;
        -o-animation: social-show 0.5s 1;
        animation: social-show 0.5s 1;
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        -o-animation-delay: 0s;
        animation-delay: 0s;
    }

    .csl-team-wrapper .social li img {
        width: 24px;
    }

@-webkit-keyframes social-show {
    from {
        margin-top: 140px;
    }

    to {
        margin-top: 0px;
    }
}

@-moz-keyframes social-show {
    from {
        margin-top: 140px;
    }

    to {
        margin-top: 0px;
    }
}

@-o-keyframes social-show {
    from {
        margin-top: 140px;
    }

    to {
        margin-top: 0px;
    }
}

@keyframes social-show {
    from {
        margin-top: 140px;
    }

    to {
        margin-top: 0px;
    }
}

/*CSL css updates*/


/*-------Contact form updates--------*/
/*#contact {
    border: 1px solid #ddd;
    box-shadow: 0px 0px 3px #ccc;
    border-radius: 5px;
}

    #contact .form input {
        border-radius: 10px;
        box-shadow: 0px 0px 2px #ccc;
    }

.section-bg {
    background: #fdf0dd;
}

#contact .form a {
    color: #e40100;
}

#contact .form button[type="submit"] {
    background: #050017;
}

[type=submit], button {
    float: left;
    color: #fff;
    background: #050017;
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 3px #ccc;
    transition: background 0.3s ease;
}

    [type=submit], button:hover {
        cursor: pointer;
        background: #f4b04d;
    }

#progressbar li.active:before, #progressbar li.active:after {
    background: #f4b04d;
}

#msform fieldset {
    background: #fdf0dd;
    border-radius: 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #f4b04d;
}

#msform .action-button {
    background: #050017;
}

#msform input, #msform textarea {
    border-radius: 10px;
}*/
/*form styles*/
.csl-formholder {
    min-height: 720px;
}

.csl-loginformholder {
    height:420px;
    margin-top:40px;
}

.csl-formholder h1, .csl-loginformholder h1 {
    text-align: center;
    color: #fff;
    margin-top: 40px;
}

    .csl-formholder h3, .csl-loginformholder h3 {
        text-align: center;
        color: #fff;
    }

#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

    #msform fieldset {
        background: white;
        background: rgba(255,255,255,0.5);
        border: 2px solid #fff;
        border-radius: 5px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;
        /*stacking fieldsets above each other*/
        position: relative;
    }

        /*Hide all except first fieldset*/
        #msform fieldset:not(:first-of-type) {
            display: none;
        }

    /*inputs*/
    #msform input, #msform textarea {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        font-size: 13px;
    }

        #msform input:focus, #msform textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #ee0979;
            outline-width: 0;
            transition: All 0.5s ease-in;
            -webkit-transition: All 0.5s ease-in;
            -moz-transition: All 0.5s ease-in;
            -o-transition: All 0.5s ease-in;
        }

    /*buttons*/
    #msform .action-button {
        width: 100px;
        background: #ee0979;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 25px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px;
    }

        #msform .action-button:hover, #msform .action-button:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
        }

    #msform .action-button-previous {
        width: 100px;
        background: #C5C5F1;
        font-weight: bold;
        color: #ee0979;
        border: 0 none;
        border-radius: 25px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px;
    }

        #msform .action-button-previous:hover, #msform .action-button-previous:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
        }

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

    #progressbar li {
        list-style-type: none;
        color: white;
        text-transform: uppercase;
        font-size: 9px;
        width: 33.33%;
        float: left;
        position: relative;
        letter-spacing: 1px;
    }

        #progressbar li:first-child {
            margin-left: -24px;
        }

        #progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 24px;
            height: 24px;
            line-height: 26px;
            display: block;
            font-size: 12px;
            color: #333;
            background: white;
            border-radius: 25px;
            margin: 0 auto 10px auto;
        }

        /*progressbar connectors*/
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: white;
            position: absolute;
            left: -50%;
            top: 9px;
            z-index: -1; /*put it behind the numbers*/
        }

        #progressbar li:first-child:after {
            /*connector not needed before the first step*/
            content: none;
        }

        /*marking active/completed steps green*/
        /*The number of the step and the connector before it = green*/
        #progressbar li.active:before, #progressbar li.active:after {
            background: #ee0979;
            color: white;
        }
