﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!--About us page-->

<div class="container csl-intro-text">
    <h1>About Connect Smart Learning</h1>
    <div class="row  csl-paragraphs">
        <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at libero sit amet massa hendrerit lacinia vestibulum in tellus. Morbi justo ipsum, eleifend vel tellus at, eleifend malesuada est. Phasellus nec mi quam. Integer congue semper sem, ac dignissim orci mattis id. Nunc ultrices mollis imperdiet. Vivamus ut neque lacinia, varius lorem at, molestie risus. Nullam blandit nibh sem, lobortis lacinia augue bibendum eu. Proin dignissim sem ligula, vel consectetur leo condimentum nec. Morbi nec massa tortor. Curabitur sit amet elit ultrices nisi aliquet sagittis. Nulla leo felis, mattis vitae tortor elementum, bibendum rhoncus lacus.<br>
                <br>
                Cras sit amet egestas ex. Cras accumsan leo sed neque viverra eleifend. Praesent interdum vel turpis non pretium. Cras fringilla suscipit gravida. Quisque vulputate a enim non pharetra. Vestibulum blandit ultrices nunc in aliquam. Nullam ultricies vel metus eget efficitur. Donec consequat, nisl id consectetur mollis, velit justo imperdiet sapien, nec cursus est justo in ipsum. In consequat lectus sed est dictum iaculis.<br>
                <br>

                <blockquote>Quisque vulputate a enim non pharetra. Vestibulum blandit ultrices nunc in aliquam. Nullam ultricies vel metus eget efficitur. Donec consequat, nisl id consectetur mollis, velit justo imperdiet sapien, nec cursus est justo in ipsum. In consequat lectus sed est dictum iaculis.</blockquote>

            </p>
        </div>
        <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
            <img src="images/about-side-image-ver-1.jpg" alt="Connect Smart Learning" />

            <p>
                <br>
                In vitae elit a justo finibus finibus sed vitae mi. Phasellus at tortor vel eros lobortis consectetur vitae et neque. Curabitur luctus semper tortor. Duis mollis lorem sit amet facilisis pellentesque. Ut a sem laoreet erat porttitor laoreet. Etiam cursus enim ut justo facilisis, sit amet lobortis arcu auctor. Proin ut nulla id risus interdum semper quis eget risus.  Ut sed lacinia odio. Nunc vitae libero vitae nibh varius laoreet quis at erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dolor dui, aliquet et metus quis, suscipit volutpat quam. Phasellus eget accumsan ligula, ac varius mauris. Sed molestie consequat massa eget dapibus.<br>
            </p>
        </div>

    </div>
</div>

<!--Our Team-->
<div class="container-fluid cls-our-team">

    <h2>Connect Smart Learning Team</h2>

    <ul class="csl-team-wrapper">
        <li class="csl-team">
            <div class="wrapper">
                <img class="more-about" src="http://dooreight.com/codepen/people/more_blue.svg">
                <ul class="social">
                    <li class="csl-team"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
                    <li class="csl-team"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
                    <li class="csl-team"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
                    <li class="csl-team"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
                </ul>
                <img src="images/team.png" alt="CSL team" />
                <h3 class="csl-team">Your Name<em>Your Designation</em></h3>
                <span class="csl-team">
                    <div class="text-wrapper csl-team">
                        <p> Duis mollis lorem sit amet facilisis pellentesque. Ut a sem laoreet erat porttitor laoreet. Etiam cursus enim ut justo facilisis, sit amet lobortis arcu auctor. Proin ut nulla id risus interdum semper quis eget risus. </p>
                    </div>
                </span>
            </div>
        </li>
        <li class="csl-team">
            <div class="wrapper">
                <img class="more-about" src="http://dooreight.com/codepen/people/more_blue.svg">
                <ul class="social">
                    <li class="csl-team"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
                    <li class="csl-team"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
                    <li class="csl-team"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
                    <li class="csl-team"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
                </ul>
                <img src="images/team.png" alt="CSL team" />
                <h3 class="csl-team">Your Name<em>Your Designation</em></h3>
                <span class="csl-team">
                    <div class="text-wrapper csl-team">
                        <p> Duis mollis lorem sit amet facilisis pellentesque. Ut a sem laoreet erat porttitor laoreet. Etiam cursus enim ut justo facilisis, sit amet lobortis arcu auctor. Proin ut nulla id risus interdum semper quis eget risus. </p>
                    </div>
                </span>
            </div>
        </li>
        <li class="csl-team">
            <div class="wrapper">
                <img class="more-about" src="http://dooreight.com/codepen/people/more_blue.svg">
                <ul class="social">
                    <li class="csl-team"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
                    <li class="csl-team"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
                    <li class="csl-team"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
                    <li class="csl-team"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
                </ul>
                <img src="images/team.png" alt="CSL team" />
                <h3 class="csl-team">Your Name<em>Your Designation</em></h3>
                <span class="csl-team">
                    <div class="text-wrapper csl-team">
                        <p> Duis mollis lorem sit amet facilisis pellentesque. Ut a sem laoreet erat porttitor laoreet. Etiam cursus enim ut justo facilisis, sit amet lobortis arcu auctor. Proin ut nulla id risus interdum semper quis eget risus. </p>
                    </div>
                </span>
            </div>
        </li>
        <li class="csl-team">
            <div class="wrapper">
                <img class="more-about" src="http://dooreight.com/codepen/people/more_blue.svg">
                <ul class="social">
                    <li class="csl-team"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
                    <li class="csl-team"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
                    <li class="csl-team"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
                    <li class="csl-team"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
                </ul>
                <img src="images/team.png" alt="CSL team" />
                <h3 class="csl-team">Your Name<em>Your Designation</em></h3>
                <span class="csl-team">
                    <div class="text-wrapper csl-team">
                        <p> Duis mollis lorem sit amet facilisis pellentesque. Ut a sem laoreet erat porttitor laoreet. Etiam cursus enim ut justo facilisis, sit amet lobortis arcu auctor. Proin ut nulla id risus interdum semper quis eget risus. </p>
                    </div>
                </span>
            </div>
        </li>
        <li class="csl-team">
            <div class="wrapper">
                <img class="more-about" src="http://dooreight.com/codepen/people/more_blue.svg">
                <ul class="social">
                    <li class="csl-team"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
                    <li class="csl-team"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
                    <li class="csl-team"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
                    <li class="csl-team"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
                </ul>
                <img src="images/team.png" alt="CSL team" />
                <h3 class="csl-team">Your Name<em>Your Designation</em></h3>
                <span class="csl-team">
                    <div class="text-wrapper csl-team">
                        <p> Duis mollis lorem sit amet facilisis pellentesque. Ut a sem laoreet erat porttitor laoreet. Etiam cursus enim ut justo facilisis, sit amet lobortis arcu auctor. Proin ut nulla id risus interdum semper quis eget risus. </p>
                    </div>
                </span>
            </div>
        </li>
    </ul>

</div>
<!--Our Team ends-->
<!--About us page ends-->
