﻿@{
    ViewBag.Title = "Create Task";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/tutor/index")">Home</a></li>
            <li class="breadcrumb-item "><a href="@Url.Content("~/tutor/view-assignments")">Manage Assignments</a></li>
            <li class="breadcrumb-item active">Add Assignment</li>
        </ul>
    </div>
</div>

<section class="forms">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display pull-left">Add Assignment</h1>
            <div class="pull-right">
                <a href="@Url.Content("~/tutor/view-assignments")"><i class="fa fa-list"></i>&nbsp;Manage Assignments</a>
            </div>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        @using (Html.BeginForm("add-assignment", "Tutor", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Assignment Title</label>
                                    <input type="text" name="Title" class="form-control" placeholder="Assignment Title" maxlength="50" required />
                                </div>
                                <div class="form-group col-md-6 pull-right">
                                    <label>Assign Students</label><br />
                                    @Html.DropDownList("Students", new SelectList(@ViewBag.Students, "UserId", "FullName"), "",
                               new { @id = "Students", @class = "form-control", @multiple = "multiple", @style = "width:292px !important" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Due Date</label>
                                    <input type="text" name="DueDate" id="DueDate" class="form-control" placeholder="Due Date" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Description</label>
                                    <textarea name="Description" class="form-control" placeholder="Description" rows="2" maxlength="4000"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Attachments</label>
                                    <input type="file" name="file" id="file" />
                                </div>
                            </div>

                            <input type="submit" class="btn btn-primary" value="submit" />
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@section customcss{
    <link rel="stylesheet" href="@Url.Content("~/content/css/select2.min.css")" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    <style>
        .select2-search__field {
            width: 100% !important;
        }

        .select2-container--classic .select2-selection--multiple .select2-selection__choice {
            background-color: #e4e4e4;
            border: 1px solid #aaa;
            border-radius: 1px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
            font-size: 14px;
        }

        .select2-result__options {
            display: inline-block;
            overflow: hidden;
            padding-left: 8px;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
        }
    </style>
}
@section scripts{
    <script src="@Url.Content("~/Scripts/select2.min.js")"></script>
    <script>
        (function ($) {
            $("#contents").addClass("active");
            $("#DueDate").datepicker();
            $("#pages-nav-list2").addClass("show");

            $('#Students').select2({ width: 'resolve', width: '100%' });
        })(jQuery);
    </script>
}

