﻿@{
    ViewBag.Title = "Join Session";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="updates section-padding">
    <div class="container-fluid">
        <div class="row">
            <!--Sessions-->
            <div class="col-lg-12 col-md-12">
                <div class="wrapper tutor">

                </div>
            </div>
        </div>
    </div>
</section>
@section customcss{
    <style>
        section.updates .tutor a.feed-profile {
            margin-right: 10px;
            width: 100px;
            height: 100px;
        }

            section.updates .tutor a.feed-profile img {
                width: 100%;
                height: 100%;
            }

        .experience {
            margin-top: 7px;
            font-size: 1.45em;
            font-weight: 900;
        }

        .rating {
            font-size: 2.45em;
            font-weight: bold;
        }
    </style>
}