﻿@model ConnectSmartConsulting.Models.Users
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var apiUrl = System.Configuration.ConfigurationManager.AppSettings["ApiUrl"];
}

<!-- Counts Section -->
<section class="dashboard-counts section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-md-6 col-6">
                @Html.Partial("_basicInfo")
            </div>
            <div class="col-xl-6 col-md-6 col-6 pull-right">
                <div class="pull-right">
                    <a href="@Url.Content("~/tutor/my-profile")" class="btn btn-sm btn-primary">My Profile</a>
                    <a href="@Url.Content("~/smartlearning/change-password")" class="btn btn-sm  btn-info">Change Password</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="statistics section-padding section-no-padding-bottom">
    <div class="container-fluid">
        <div class="row d-flex align-items-stretch">
            <div class="col-lg-6">
                <!-- Income-->
                <div class="wrapper income">
                    <h2 class="display h4 text-primary">Upcoming Sessions</h2>
                    <table id="table_sessions" class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Meeting Name</th>
                                <th>Date-Time</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Monthly Usage-->
                <div class="wrapper data-usage">
                    <h2 class="display h4 text-primary">Recent Students</h2>
                    <table id="table_students" class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>UserName</th>
                                <th>Education</th>
                                <th>City</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Statistics Section-->
<section class="statistics section-padding section-no-padding-bottom" style="display:none">
    <div class="container-fluid">
        <div class="row d-flex align-items-stretch">
            <div class="col-lg-4">
                <!-- Income-->
                <div class="wrapper income text-center">
                    <div class="icon"><i class="fa fa-microphone"></i></div>
                    <div class="number">0</div><strong class="text-primary">Subscriptions</strong>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Monthly Usage-->
                <div class="wrapper data-usage">
                    <h2 class="display h4">Metered Usage</h2>
                    <div class="row d-flex align-items-center">
                        <div class="col-sm-6">
                            <div id="progress-circle" class="d-flex align-items-center justify-content-center"></div>
                        </div>
                        <div class="col-sm-6"><strong class="text-primary">80.56 Gb</strong><small>Current Plan</small><span>100 Gb Monthly</span></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- User Actibity-->
                <div class="wrapper user-activity">
                    <h2 class="display h4">Session Requests</h2>
                    <ul class="news list-unstyled">
                        <!-- Item-->
                        <li class="d-flex justify-content-between">
                            <div class="left-col d-flex">
                                <div class="title">
                                    <strong>Maths</strong>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                </div>
                            </div>
                            <div class="right-col text-right">
                                <div class="update-date"> <span class="month">Munish</span></div>
                            </div>
                        </li>
                        <!-- Item-->
                        <li class="d-flex justify-content-between">
                            <div class="left-col d-flex">
                                <div class="title">
                                    <strong>Science</strong>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                </div>
                            </div>
                            <div class="right-col text-right">
                                <div class="update-date"><span class="month">Amar</span></div>
                            </div>
                        </li>
                    </ul>
                    <div class="">
                        <a href="#" class="btn btn-block btn-info">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section customcss{
    <link href="~/Content/DataTables/media/css/jquery.dataTables.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
    <script>
        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["ApiUrl"]';

        $(document).ready(function () {
            bindStudents();
            bindSessions();
        });

        function bindStudents() {
            $('#table_students').DataTable({
                paging: false,
                searching: false,
                ordering: false,
                info: false,
                ajax: {
                    url: apiUrl + '/Students/get-by-tutor?tutorId=1',
                    dataSrc: ''
                },
                columns: [
                    { data: 'FullName' },
                    { data: 'UserName' },
                    { data: 'HighestEducation' },
                    { data: 'CurrentCity' }
                ]
            });
        }

        function bindSessions() {
            $('#table_sessions').DataTable({
                paging: false,
                searching: false,
                ordering: false,
                info: false,
                ajax: {
                    url: apiUrl + '/Meetings/get-all',
                    dataSrc: ''
                },
                columns: [
                    { data: 'StudentName' },
                    { data: 'MeetingName' },
                    {
                        data: "StartDateTime",
                        render: function (d) {
                            return moment(d).format("YYYY:MM:DD HH:mm");
                        } }
                ],
                "order": [[2, "desc"]]
            });
        }
    </script>
}