﻿@{
    ViewBag.Title = "Join Session";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="updates section-padding">
    <div class="container-fluid">
        <div class="row">
            <!--Sessions-->
            <div class="col-lg-12 col-md-12">
                <div class="wrapper daily-feeds">
                    <div id="daily-feeds" class="card-header d-flex justify-content-between align-items-center">
                        <h2 class="h5 display">
                            <a data-toggle="collapse" data-parent="#accordion" href="#feeds-box" aria-expanded="true" aria-controls="feeds-box">
                                My upcoming sessions
                            </a>
                        </h2>
                        <div class="left-column">
                            <div class="badge badge-primary">10 sessions</div><a data-toggle="collapse" data-parent="#accordion" href="#feeds-box" aria-expanded="true" aria-controls="feeds-box"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                    <div id="feeds-box" role="tabpanel" class="collapse show">
                        <div class="feed-box">
                            <ul class="feed-elements list-unstyled">
                                <!-- List-->
                                <li class="clearfix">
                                    <div class="feed d-flex justify-content-between">
                                        <div class="feed-body d-flex justify-content-between">
                                            <a href="#" class="feed-profile"><img src="/content/theme_2/img/avatar-5.jpg" alt="person" class="img-fluid rounded-circle"></a>
                                            <div class="content">
                                                <strong>Aria Smith</strong><small>Tutor </small>
                                                <div class="full-date"><small>Today 5:60 pm - 12.06.2014</small></div>
                                            </div>
                                        </div>
                                        <div class="date"><small>
                                            <a class="btn btn-sm btn-success text-white" href="https://connectsmart.webex.com/connectsmart/e.php?MTID=me2cfa353586100c638e7d863bb1e3132" target="_blank">Join Now</a></small></div>
                                    </div>
                                </li>
                                <!-- List-->
                                <li class="clearfix">
                                    <div class="feed d-flex justify-content-between">
                                        <div class="feed-body d-flex justify-content-between">
                                            <a href="#" class="feed-profile"><img src="/content/theme_2/img/avatar-2.jpg" alt="person" class="img-fluid rounded-circle"></a>
                                            <div class="content">
                                                <strong>Frank Williams</strong><small>Tutor </small>
                                                <div class="full-date"><small>Today 5:60 pm - 12.06.2014</small></div>
                                                <div class="CTAs"><a href="#" class="btn btn-xs btn-secondary"><i class="fa fa-thumbs-up"> </i>Like</a><a href="#" class="btn btn-xs btn-secondary"><i class="fa fa-heart"> </i>Love</a></div>
                                            </div>
                                        </div>
                                        <div class="date"><small>5min ago </small></div>

                                    </div>
                                </li>
                                <!-- List-->
                                <li class="clearfix">
                                    <div class="feed d-flex justify-content-between">
                                        <div class="feed-body d-flex justify-content-between">
                                            <a href="#" class="feed-profile"><img src="/content/theme_2/img/avatar-3.jpg" alt="person" class="img-fluid rounded-circle"></a>
                                            <div class="content">
                                                <strong>Ashley Wood</strong><small>Tutor </small>
                                                <div class="full-date"><small>Today 5:60 pm - 12.06.2014</small></div>
                                            </div>
                                        </div>
                                        <div class="date"><small>5min ago</small></div>
                                    </div>
                                </li>
                                <!-- List-->
                                <li class="clearfix">
                                    <div class="feed d-flex justify-content-between">
                                        <div class="feed-body d-flex justify-content-between">
                                            <a href="#" class="feed-profile"><img src="/content/theme_2/img/avatar-1.jpg" alt="person" class="img-fluid rounded-circle"></a>
                                            <div class="content">
                                                <strong>Jason Doe</strong><small>Tutor </small>
                                                <div class="full-date"><small>Today 5:60 pm - 12.06.2014</small></div>
                                            </div>
                                        </div>
                                        <div class="date"><small>5min ago</small></div>
                                    </div>
                                    <div class="card"> <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</small></div>
                                    <div class="CTAs pull-right"><a href="#" class="btn btn-xs btn-secondary"><i class="fa fa-thumbs-up"> </i>Like</a></div>
                                </li>
                                <!-- List-->
                                <li class="clearfix">
                                    <div class="feed d-flex justify-content-between">
                                        <div class="feed-body d-flex justify-content-between">
                                            <a href="#" class="feed-profile"><img src="/content/theme_2/img/avatar-6.jpg" alt="person" class="img-fluid rounded-circle"></a>
                                            <div class="content">
                                                <strong>Sam Martinez</strong><small>Tutor </small>
                                                <div class="full-date"><small>Today 5:60 pm - 12.06.2014</small></div>
                                            </div>
                                        </div>
                                        <div class="date"><small>5min ago</small></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section customcss{
    <style>
        section.updates .tutor a.feed-profile {
            margin-right: 10px;
            width: 100px;
            height: 100px;
        }

            section.updates .tutor a.feed-profile img {
                width: 100%;
                height: 100%;
            }

        .experience {
            margin-top: 7px;
            font-size: 1.45em;
            font-weight: 900;
        }

        .rating {
            font-size: 2.45em;
            font-weight: bold;
        }
    </style>
}
@section scripts{
    <script>
        (function ($) {
            $("#sessions").removeClass('collapsed');
            $("#pages-nav-list").addClass("show");
        })(jQuery);
    </script>
}