﻿@{
    ViewBag.Title = "Schedule Session";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/tutor/index")">Home</a></li>
            <li class="breadcrumb-item active">Start a Meeting</li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display pull-left">Start a Meeting</h1>
        </header>
        <div class="row">
            <!--Sessions-->
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-block">
                        <form>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-primary" id="btnStartMeeting">Start a Meeting</button>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <iframe id="myIframe" src="" frameborder="0"></iframe>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section customcss{
    <style>
        #myIframe {
            width: 980px;
            height: 400px;border:solid 1px #f4f4f4;
        }
        section.updates .tutor a.feed-profile {
            margin-right: 10px;
            width: 100px;
            height: 100px;
        }

            section.updates .tutor a.feed-profile img {
                width: 100%;
                height: 100%;
            }

        .experience {
            margin-top: 7px;
            font-size: 1.45em;
            font-weight: 900;
        }

        .rating {
            font-size: 2.45em;
            font-weight: bold;
        }
    </style>
}
@section scripts{
    <script>
        (function ($) {
            $("#sessions").removeClass('collapsed');
            $("#pages-nav-list").addClass("show");

            $("#btnStartMeeting").click(function (event) {
                event.preventDefault();

                var dataToPost = {
                    "startWithPersonalUrl": false
                };

                var startMeeting = $.ajax({
                    type: 'POST',
                    url: "https://api.join.me/v1/meetings/start",
                    data: dataToPost,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Bearer " + "72yctarf2nqwsmdgs8e9ztuf");
                    },
                   // dataType: "application/json",
                    success: function (resultData) {
                        console.log(resultData);
                        //window.location.href = "https://join.me/API/Public/StartMeeting.aspx?token=9kpzbxej6d";
                        //alert("Save Complete")
                        document.getElementById('myIframe').src = resultData.presenterLink;
                    }
                });
                startMeeting.error(function (a, b, c) {
                    console.log(a);
                    console.log(b);
                    console.log(c);
                    alert("Something went wrong");
                });
                return false;
            });

        })(jQuery);
    </script>
}