﻿@model IEnumerable<ConnectSC.Models.TutorModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/tutor/index")">Home</a></li>
            <li class="breadcrumb-item active">My Students</li>
        </ul>
    </div>
</div>
<div style="margin:20px 0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="h3 display">Search Students</h2>
                    </div>
                    <div class="card-block">
                        <form class="form-inline" method="get" action="/tutor/students">
                            <div class="form-group">
                                <div class="col-md-2 fa-pull-right"><label class="text-muted text-sm-right">Name</label></div>
                                <div class="col-md-6"><input type="text" class="form-control" name="searchFilter" value="@ViewBag.SearchFilter" placeholder="Seach by student name" /></div>
                                <div class="col-md-2 pull-left"> <button type="submit" class="btn btn-primary">Search</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<section class="updates ">
    <div class="container-fluid">
        <div class="row">
            <!--Sessions-->
            <div class="col-lg-12 col-md-12">
                <div class="wrapper tutor">
                    <div id="feeds-box" role="tabpanel" class="collapse show">
                        <div class="feed-box">
                            <ul class="feed-elements list-unstyled">
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <!-- List-->
                                        <li class="clearfix">
                                            <div class="feed d-flex justify-content-between">
                                                <div class="feed-body d-flex justify-content-between">
                                                    <a href="#" class="feed-profile"><img src="~/Documents/uploads/@item.ImagePath" alt="person" class="img-fluid rounded-circle"></a>
                                                    <div class="content">
                                                        <strong>@item.FirstName</strong>
                                                        <br /><small>@item.SubjectYouTeach </small>
                                                        <div>
                                                            @item.HighestEducation<br />
                                                            @item.AreasYouTeach
                                                        </div>
                                                        <div class="experience text-muted"><small>Time Avaibility: @item.TimeAvailibility</small></div>
                                                    </div>
                                                </div>
                                                <div class="pull-right">
                                                    @*<div class="text-primary rating pull-right">5.0</div>*@
                                                    <div class="date">
                                                        <a href="@Url.Content("~/tutor/student-profile")?id=@item.UserId" class="text-info">View Profile</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section customcss{
    <style>
        section.updates .tutor a.feed-profile {
            margin-right: 10px;
            width: 100px;
            height: 100px;
        }

            section.updates .tutor a.feed-profile img {
                width: 100%;
                height: 100%;
            }

        .experience {
            margin-top: 7px;
            font-size: 1.45em;
            font-weight: 900;
        }

        .rating {
            font-size: 2.45em;
            font-weight: bold;
        }
    </style>
}