﻿@model List<ConnectSC.Data.Models.Assignment>
@{
    ViewBag.Title = "ViewcAssignments";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/tutor/index")">Home</a></li>
            <li class="breadcrumb-item active">Manage Assignments</li>
        </ul>
    </div>
</div>
<div style="margin:20px 0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h3 display pull-left">Manage Assignments</h1>
                        <div class="pull-right">
                            <a href="@Url.Content("~/tutor/add-assignment")"><i class="fa fa-plus"></i> Add Assignment</a>
                        </div>
                    </div>
                    <div class="card-block">
                        <form class="form-inline" method="get" action="/tutor/view-assignments">
                            <div class="form-group">
                                <div class="col-md-2 fa-pull-right"><label class="text-muted text-sm-right">Name</label></div>
                                <div class="col-md-6"><input type="text" class="form-control" name="searchFilter" value="@ViewBag.SearchFilter" placeholder="Seach by assignment title" /></div>
                                <div class="col-md-2 pull-left"> <button type="submit" class="btn btn-primary">Search</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="charts">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>DueDate</th>
                                        <th>Attachment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="odd gradeX">
                                            <td>@item.Title</td>
                                            <td>@item.Description</td>
                                            <td>@item.DueDate</td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(item.Attachment))
                                                {
                                                    @Html.ActionLink("Download", "Download", new { filePath = item.Attachment })
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@section scripts{
    <script>
        (function ($) {
            $("#contents").addClass("active");
            $("#assignments").addClass("active");
            $("#pages-nav-list2").addClass("show");
        })(jQuery);
    </script>
}
