﻿@model ConnectSmartConsulting.Models.Users
@{
    ViewBag.Title = "Student Profile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var apiUrl = System.Configuration.ConfigurationManager.AppSettings["ApiUrl"];
}

<section class="dashboard-counts section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-md-6 col-6">
                @Html.Partial("_basicInfo")
            </div>
            <div class="col-xl-6 col-md-6 col-6 pull-right">
                <div class="pull-right">
                    <a href="@Url.Content("~/tutor/students")" class="btn btn-sm btn-primary">Back</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Header Section-->
<section class="dashboard-header section-padding">
    <div class="container-fluid">
        <div class="row d-flex align-items-md-stretch">
            <!-- To Do List-->
            <div class="col-lg-6 col-md-6">
                <div class="wrapper to-do">
                    <header>
                        <h2 class="display h4">Basic Info</h2>
                    </header>
                    <div class="wrapper sales-report">
                        <p> @Model.UserName</p>
                    </div>
                    <ul class="check-lists list-unstyled">
                        <li class="d-flex align-items-center">
                            <label for="list-1"> @Model.UserDetails[0].FirstName @Model.UserDetails[0].LastName</label>
                        </li>
                        <li class="d-flex align-items-center">
                            <label for="list-3"> @Model.UserDetails[0].Address </label>
                        </li>
                        <li class="d-flex align-items-center">
                            <label for="list-3"> @Model.UserDetails[0].CurrentCity </label>
                        </li>
                        <li class="d-flex align-items-center">
                            <label for="list-3"> @Model.UserDetails[0].PhoneNumber </label>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Pie Chart-->
            <div class="col-lg-6 col-md-6">
                <div class="wrapper project-progress">
                    <h2 class="display h4">Education</h2>
                    <div>
                        <p>
                            Highest Education<br />
                            <strong>@Model.UserDetails[0].HighestEducation</strong>
                        </p>
                    </div>
                    <div>
                        <p>
                            Areas Taught<br />
                            <strong>@Model.UserDetails[0].AreasYouTeach</strong>
                        </p>
                    </div>
                    <div>
                        <p>
                            Subjects Taught<br />
                            <strong>@Model.UserDetails[0].SubjectYouTeach</strong>
                        </p>
                    </div>
                    <div>
                        <p>
                            Time Availibility<br />
                            <strong>@Model.UserDetails[0].TimeAvailibility</strong>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

